<%= semantic_form_for @message do |f| %>

	<%= f.inputs do %>

		<%= f.input :to_participant_id, :as => :hidden %>	
		<%= f.input :to_remote_actor_id, :as => :hidden %>	

		<%= f.input :response_to_id, :as => :hidden %>
    
		<% if @to_name != '???' -%>
			<li class="select optional" id="to_participant_id_input">
			<label>to Friend</label>
			<div style="float:left">
			<%= @to_name %>
			</div>
			</li>
		<% else -%>
      
      <%= f.input :to_friend_id, :label => 'to Friend', :as => :select, :collection => @friends.collect{|c| (c.remote_idol ? ["#{c.remote_idol.name} (#{c.remote_idol.account})",c.id] : [c.idol.name,c.id])}+[['*yourself*',0]] %>
			
			<div style="position:relative;top:-37px;left:80px;width:0;height:0"><img src="/images/question-mark.png" class="tooltip" id="contacttooltip" style="" width="16" height="16" title="Friends/Contacts are people you follow and who follows you back.  They are listed on the Friends page.  Click on someone's name to go to their profile.  At the bottom of the profile page you have the option to follow a person." alt="questionmark"></div>
			
		<% end -%>

		<%= f.input :subject, :input_html=>{:size=>68} %>
		<% f.input :message, :as => :text, :required => true %>
		<li>
			<div style="width:100%;float:left">
        <b>Message</b><br>

				<%= cktext_area(:message, :message, :ckeditor => {:ajax => true, :width=>500, :height=>200, :toolbar=>'Custom'}) %>

			</div>
		</li>
		
	<% end %>

	<p>
	  <input type="button" value="Cancel" onclick="newmess()" />
	  <input type="button" value="Send" onclick="for (instance in CKEDITOR.instances){CKEDITOR.instances[instance].updateElement();};savemess()" />
	</p>

<% end %>

<script>
if ($('#contacttooltip')) {
	$('#contacttooltip').tooltipster();
}
</script>
