<%= semantic_form_for @message do |f| %>

	<%= f.inputs do %>
		<%= f.input :response_to_id, :as => :hidden %>
		<% if @message.to_participant_id.to_i > 0 -%>
			<li class="select optional" id="to_participant_id_input">
			<label>to Contact</label>
			<div style="float:left">
			<%= @to_participant_name %>
			</div>
			</li>
			<%= f.input :to_participant_id, :as => :hidden %>	
		<% else -%>
			<%= f.input :to_participant_id, :label => 'to Contact', :as => :select, :collection => @participant.contacts.collect{|c| [c.name,c.id]}+[['*yourself*',current_participant.id]] %>	
		<% end -%>
		<% if @groupsadminin.length > 0 -%>
			<%= f.input :to_group_id, :label => 'or Group', :as => :select, :collection => @groupsadminin.collect{|c| [c.group.name,c.group.id]} %>	
		<% end -%>
		<%= f.input :subject, :input_html=>{:size=>68} %>
		<% f.input :message, :as => :text, :required => true %>
		<li>
			<div style="width:25%;float:left"><b>Message</b></div>
			<div style="width:75%;float:left">
				<%= cktext_area(:message, :message, :ckeditor => {:ajax => true, :width=>500, :height=>200, :toolbar=>'Custom'}) %>
				<% if @groupsadminin.length > 0 -%>
				<br>Available macros for group messages:<br>{{ groupforumlink }} {{ editsettingslink }} {{ recipient.first_name }} {{ discussionprefix.forumlink }}
				<% end -%>
			</div>
		</li>
		
	<% end %>

	<p>
	  <input type="button" value="Cancel" onclick="newmess()" />
	  <input type="button" value="Send" onclick="for (instance in CKEDITOR.instances){CKEDITOR.instances[instance].updateElement();};savemess()" />
	</p>

<% end %>
