<%= semantic_form_for @message do |f| %>

	<%= f.inputs do %>

		<%= f.input :to_participant_id, :as => :hidden %>	
		<%= f.input :to_remote_actor_id, :as => :hidden %>	

		<%= f.input :response_to_id, :as => :hidden %>
    
		<% if @to_name != '???' -%>
			<li class="select optional" id="to_participant_id_input">
			<label>to Follower/Friend</label>
			<div style="float:left">
			<%= @to_name %>
      <%= f.input :to_friend_id, :as => :hidden %>
			</div>
			</li>
		<% else -%>
      
      <%= f.input :to_friend_id, :label => 'to Follower', :as => :select, :collection => @followers.collect{|c| (c.remote_follower ? ["#{c.remote_follower.name} (#{c.remote_follower.account})",c.id] : [c.follower.name,c.id])}+[['*yourself*',0]] %>
			
			<div style="position:relative;top:-37px;left:90px;width:0;height:0"><img src="/images/question-mark.png" class="tooltip" id="contacttooltip" style="" width="16" height="16" title="Followers are people who follow you. Friends are people you also follow back. They are all listed on the Friends page.  Click on someone's name to go to their profile.  At the bottom of the profile page you have the option to follow a person. If you write to a follow, you will subsequently be following them as well, if you aren't already" alt="questionmark"></div>
			
		<% end -%>

		<%= f.input :subject, :input_html=>{:size=>68} %>
		<% f.input :message, :as => :text, :required => true %>
		<li>
			<div style="width:100%;float:left">
        <b>Message</b><br>

				<%= cktext_area(:message, :message, :ckeditor => {:ajax => true, :width=>500, :height=>200, :toolbar=>'Custom'}) %>

			</div>
		</li>
		
	<% end %>

	<p>
	  <input type="button" value="Cancel" onclick="newmess()" />
	  <input type="button" value="Send" onclick="for (instance in CKEDITOR.instances){CKEDITOR.instances[instance].updateElement();};savemess()" />
	</p>
  
  <% if @message.to_friend_id.to_i > 0 and not @follow_mutual -%>
    <p><br>You're writing to one of your followers. You will now follow them back, so they can respond if they want.</p>
  <% end -%>

<% end %>

<script>
if ($('#contacttooltip')) {
	$('#contacttooltip').tooltipster();
}
</script>
