<h1>
<% if @inout == 'conv' -%>
Conversation
<% elsif @inout == 'out' -%>
Sent personal messages
<% else -%>
Received personal messages
<% end -%>
</h1>
<table class="listtable">
<tr>
<th>Date</th>
<th><%= @inout == 'out' ? 'To' : 'From' %></th>
<th>Subject</th>
<th>Read?</th>	
</tr>		
<% for message in @messages -%>
	<tr id="tr_<%= message.id %>">
		<td><%= link_to_function message.created_at.strftime("%m/%d/%Y %H:%M"), "showmess(#{message.id})" %></td>
		<td>
  		<% if @inout == 'out' -%>
        <% if message.recipient -%>
          <a href="/participant/<%= message.to_participant_id %>/profile"><%= message.recipient.name %></a>
        <% elsif message.remote_recipient -%>
          <a href="/people/remote/<%= message.remote_recipient.id %>/profile"><%= message.remote_recipient.name %> (<%= message.remote_recipient.account %>)</a>
        <% elsif message.to_participant_id.to_i > 0 -%>
          #<%= message.to_participant_id %>
        <% elsif message.to_remote_actor_id.to_i > 0 -%>
          Remote #<%= message.to_remote_actor_id %>
        <% else -%>
          ???
        <% end -%>
  		<% else -%>
        <% if message.sender -%>
      		<a href="/participant/<%= message.from_participant_id %>/profile"><%= message.sender.name %></a>
        <% elsif message.remote_sender -%>
          <a href="/people/remote/<%= message.remote_sender.id %>/profile"><%= message.remote_sender.name %> (<%= message.remote_sender.account %>)</a>
        <% elsif message.from_participant_id.to_i > 0 -%>
          #<%= message.from_participant_id %>
        <% elsif message.from_remote_actor_id.to_i > 0 -%>
          Remote #<%= message.from_remote_actor_id %>            
  			<% elsif message.from_participant_id == 0 -%>
  				System
  			<% end -%>
  		<% end -%>
    </td>
		<td><%= message.subject %></td>
		<td><%= (message.read_web or message.read_email) ? 'yes' : 'no' %></td>
	</tr>	
<% end -%>
<tr id="messageview_tr" style="display:none"><td id="messageview_td" colspan="4" style="border:1px dotted #666;padding:10px"></td></tr>
<tr id="reply_tr" style="display:none"><td id="reply_td" colspan="4" style="border:1px dotted #666;padding:10px"></td></tr>
</table>

	<%= "#{(@messages.current_page-1)*@messages.per_page+1}-#{[@messages.total_entries,@messages.current_page*@messages.per_page].min} of #{@messages.total_entries} items" if @messages.respond_to?('total_entries') and @messages.total_entries.to_i>1 %>
	&nbsp;&nbsp;&nbsp;
	<%= raw %(<a href="javascript:gotopage(1)">&lt;&lt;</a>) if @messages.respond_to?('total_pages') and @messages.total_pages.to_i>1 and @messages.respond_to?('current_page') and @messages.current_page>1 %>
	<%= raw %(<a href="javascript:gotopage(#{@messages.previous_page})">&lt;</a>) if @messages.respond_to?('previous_page') and @messages.previous_page %>
	<%= raw "page #{@messages.current_page} of #{@messages.total_pages}" if @messages.respond_to?('total_pages') and @messages.total_pages.to_i>1 %>
	<%= raw %(<a href="javascript:gotopage(#{@messages.next_page})">&gt;</a>) if @messages.respond_to?('next_page') and @messages.next_page %>
	<%= raw %(<a href="javascript:gotopage(#{@messages.total_pages})">&gt;&gt;</a>) if @messages.respond_to?('total_pages') and @messages.total_pages.to_i>1 and @messages.current_page<@messages.total_pages %>
