<ul class="horizmenu">
<li><a class="menu<%= ' selected' if @psection=='profile' %>" href="/me/profile">Profile</a></li>
<li><a class="menu<%= ' selected' if @psection=='wall' %>" href="/me/wall">Wall</a></li>
<li><a class="menu<%= ' selected' if @psection=='mail' %>" href="/messages">Mail</a></li>
<li><a class="menu<%= ' selected' if @psection=='friends' %>" href="/me/friends">Friends</a></li>
<% if session[:group_id].to_i > 0 %>
<li><a class="menu<%= ' selected' if @psection=='invite' %>" href="/groups/<%= session[:group_id] %>/invite">Invite</a></li>
<% end %>
</ul>