<table>
<% odd_or_even = 0 %>
<% for photo in @photos %>
  <% odd_or_even = 1 - odd_or_even %>
	<tr class="line<%= odd_or_even %>"><td>
		<% if File.exist?("#{@picdir}/#{photo.id}_75.jpg") -%>
			<a href="<%= "#{@picurl}/#{photo.id}.jpg" %>" target="_blank"><img src="<%= "#{@picurl}/#{photo.id}_75.jpg" %>"/></a><input type="checkbox" name="markpic[]" class="picmark" value="<%= photo.id %>" />
		<% elsif File.exist?("#{@picdir}/#{photo.id}.jpg") %>	
		  <a href="<%= "#{@picurl}/#{photo.id}.jpg" %>" target="_blank"><img src="<%= "#{@picurl}/#{photo.id}.jpg" %>" width="75" style="width:75px;"/></a><input type="checkbox" name="markpic[]" class="picmark" value="<%= photo.id %>" />
		<% else -%>	
			icon
		<% end -%>
		<br/>
	</td><td>
	filename: <%= photo.filename %><br/>
	caption: <%= photo.caption %><br/>
	</td></tr>
<% end %>
</table>

<% if @photos.length > 0 -%>
<p><input type="button" value="delete" onclick="deletepix()" /></p>
<% end -%>
