<% if @participant.fb_uid.to_i > 0 -%>
<img src="http://graph.facebook.com/<%= @participant.fb_uid %>/picture" style="float:left;margin-left:10px" />
<% end -%>

<h3><%= @participant.name %></h3>

<div style="clear:both;height:1px"></div>

<table class="profiletable">
<% if @participant.picture.exists? then -%>
<div style="position:absolute;z-index:10;width:739px;">
  <div style="float:right;z-index:11;"><%= image_tag @participant.picture.url(:medium) %></div>
</div>
<% end -%>
<tr><td class="label">Title:</td><td><%= @participant.title %></td></tr>	
<tr><td class="label">Description:</td><td><%= @participant.self_description %></td></tr>	
<tr><td class="label">Address1:</td><td><%= @participant.address1 %></td></tr>	
<tr><td class="label">Address2:</td><td><%= @participant.address2 %></td></tr>	
<tr><td class="label">City:</td><td><%= @participant.city %></td></tr>	
<tr><td class="label">State:</td><td><%= @participant.geoadmin1.name if @participant.geoadmin1 %></td></tr>	
<tr><td class="label">Country:</td><td><%= @participant.geocountry.name if @participant.geocountry %></td></tr>	
<tr><td class="label">Zip:</td><td><%= @participant.zip %></td></tr>	
<tr><td class="label">Phone:</td><td><%= @participant.phone %></td></tr>	
<tr><td class="label">Metropolitan Area:</td><td><%= @participant.metro_area ?  @participant.metro_area.name : @participant.metropolitan_area %></td></tr>	
<tr><td class="label">Bio Region:</td><td><%= @participant.bioregion %></td></tr>	
<tr><td class="label">Faith Tradition:</td><td><%= @participant.faith_tradition %></td></tr>	
<tr><td class="label">Created:</td><td><%= @participant.created_at.strftime("%Y-%m-%d %H:%M") %> GMT</td></tr>	
<tr><td class="label">Member #:</td><td><%= @participant.id %></td></tr>	
<% @participant.metamaps.each do |metamap| -%>
<% metamap_nodes = @participant.metamap_nodes_h %>
<% info = metamap_nodes[metamap.id] if metamap_nodes[metamap.id] %>
<tr><td class="label"><%= metamap.name %></td><td><%= info ? (info[3].to_s!='' ? info[3] : info[2]) : '???' %></td></tr>
<% end -%>

<tr><td class="label">Groups:</td><td>
<% if @participant.groups.length == 0 -%>
	none
<% else -%>
	<% for group in @participant.groups -%>
		<a href="/groups/<%= group.id %>/forum"><%= group.name %></a><br>
	<% end -%>
<% end -%>	
</td></tr>	


</table>