<%= render(:partial => 'menu')%>

<h3>Edit your profile</h3>

<p>The Save button is at the bottom of the page.</p>

<%= semantic_form_for :participant, :url => '/me/profile/update', :html=>{:id=>"profile_edit"} do |f| %>

	<input type="hidden" id="forum_link" name="forum_link" value="<%= @forum_link %>">
	<input type="hidden" id="goto" name="goto" value="">
	<input type="hidden" id="participant_admin2uniq" name="participant[admin2uniq]" value="<%= @participant.admin2uniq %>">
  <% if false -%>
  <input type="hidden" id="tag_list" name="participant[tag_list]" value="<%= @participant.tag_list %>">
	<% end -%>	

	<%= f.inputs do %>

	<%= f.input :email, :label => "Email", :required => true %>	

	<li class="select required" id="passwordli">
		<div style="width:25%;float:left;font-weight:bold">Password Change</div>
		<div style="width:75%;float:left">
			Existing password: <%= password_field_tag :old_pass, '', :maxlength => 15, :size => 15 %><br>
			New password: <%= password_field_tag :new_pass, '', :maxlength => 15, :size => 15 %> (case sensitive)<br>Repeat new password: <%= password_field_tag :new_pass_confirm, '', :maxlength => 15, :size => 15 %>
		</div>
	</li>		

		<%= f.input :first_name, :required => true %>
		<%= f.input :last_name, :required => true %>
		<%= f.input :title, :required => false %>
    <%= f.input :picture, :as=>:file, :required => false %>
    
  	<li>
  		<div style="width:25%;float:left;font-weight:bold">&nbsp;</div>
      <div style="width:75%;float:left">
        <% if @participant.picture.exists? then -%>
          <%= image_tag @participant.picture.url(:thumb) %>
        <% else -%>
          <img src="/images/default_user_icon-50x50.png" style="background-color:#999" alt="default user icon">
        <% end -%>
      </div>
    </li>
    
    
		<%= f.input :self_description, :as=>:text, :required => false %>
		<%= f.input :address1, :required => false %>
		<%= f.input :address2, :required => false %>
		<%= f.input :country_code, :label => "Country of Residence", :as => :select, :collection =>Geocountry.order(:extrasort,:name).select([:name,:iso]).collect{|r| [r.name,r.iso]}, prompt: "* choose *", :input_html =>{:onchange=>"chgcountry()"} %>
		<%= f.input :admin1uniq, :label => "State/Region", :as => :select, :required => false, :collection =>Geoadmin1.where(:country_code=>@participant.country_code).order(:name).select([:name,:admin1uniq]).collect {|r| [r.name,r.admin1uniq]}, prompt: "* choose *", :input_html =>{:onchange=>"chgstate()"} %>  

		<%= f.input :city, :label => "City", :as => :select, :required => false, :collection =>Geoname.where(admin1_code: adminuniq_part(@participant.admin1uniq), country_code: @participant.country_code,fclasscode: 'P.PPL').order(:name).select([:name,:id]).collect {|r| r.name}, prompt: "* choose *", :input_html =>{:onchange=>"chgcity()"} %>  
    <li>
      <label class="label">County</label> <span id="county_name"><%= @participant.county_name %></span>
    </li>
    
    <% if false -%>
		<%= f.input :city, :required => false %>    
    <%= f.input :admin2uniq, :label => "County", :as => :select, :required => false, :collection =>Geoadmin2.where(:admin1uniq=>@participant.admin1uniq).order(:name).select([:name,:admin2uniq]).collect {|r| [r.name,r.admin2uniq]} %>  
    <% end -%>
    
  	<%= f.input :zip, :required => false %>
    <%= f.input :country_code2, :label => "2nd Country", :required => false, :as => :select, :collection =>Geocountry.order(:extrasort,:name).select([:name,:iso]).collect{|r| [r.name,r.iso]}, prompt: "* choose *" %>
		<%= f.input :phone, :required => false %>
		<%= f.input :metro_area_id, :as => :select, :collection => @metro_areas, :required => false, prompt: "* choose *" %>
		<%= f.input :bioregion, :required => false %>
		<%= f.input :political, :required => false, :label => 'Political Affiliation' %>
		<%= f.input :faith_tradition, :required => false %>
    
		<% @participant.metamaps_h.each do |metamap_id,metamap_name,metamap| -%>
  		<% metamap_nodes = @participant.metamap_nodes_h %>
  		<% info = metamap_nodes[metamap_id] if metamap_nodes[metamap_id] %>
  		<li class="select required" id="meta_#{metamap_id}_input">
  			<div style="width:25%;float:left;font-weight:bold"><%= metamap_name %><%= '*' if metamap_id==3 or metamap_id==5 %></div>
  			<div style="width:75%;float:left">    
  				  <%= select_tag "meta[#{metamap_id}]",raw('<option value="0">* choose *</option>')+ options_from_collection_for_select(MetamapNode.where(:metamap_id=>metamap_id),'id','name',(info ? info[1] : 0)), :id=>"meta_#{metamap_id}"%>
  			</div>
  		</li>		
		<% end -%>
		
    <% if false -%>
		<div style="display:inline;position:relative;top:20px"><b>Indigenous</b></div>
    <% ind_checked = {}; ind_checked[:checked] = 'checked' if @participant.indigenous %>
		<%= f.input :indigenous, :as => :boolean, :label=>"check here if you identify with an indigenous people or tribe", :input_html => ind_checked %>
		<div style="display:inline;position:relative;top:20px"><b>Other Minority</b></div>
    <% min_checked = {}; min_checked[:checked] = 'checked' if @participant.other_minority %>
		<%= f.input :other_minority, :as => :boolean, :label=>"check here if you identify with a disadvantaged national, ethnic, racial or religious minority in your country", :input_html => min_checked %>
		<div style="display:inline;position:relative;top:20px"><b>Veteran</b></div>
    <% vet_checked = {}; vet_checked[:checked] = 'checked' if @participant.veteran %>
		<%= f.input :veteran, :as => :boolean, :label=>"check here if you are a veteran", :input_html => vet_checked %>		
    <div style="display:inline;position:relative;top:20px"><b>Interfaith</b></div>
    <% int_checked = {}; int_checked[:checked] = 'checked' if @participant.interfaith %>
		<%= f.input :interfaith, :as => :boolean, :label=>"check here if you identify as interfaith", :input_html => int_checked %>		
    <div style="display:inline;position:relative;top:20px"><b>Refugee</b></div>
    <% ref_checked = {}; ref_checked[:checked] = 'checked' if @participant.refugee %>
		<%= f.input :refugee, :as => :boolean, :label=>"check here if you identify as a refugee", :input_html => ref_checked %>		
    <% end -%>
    
    <p><input id="settings_submit" type="submit" value="Save" onclick="savetags();return(true)"><br><br></p>
    
    <li class="select required">
      <div style="width:25%;float:left;font-weight:bold">Communities<br>check to join</div>
      <div style="width:75%;float:left">
        <% for com in @major_communities -%>  
        <% checked = @participant.tag_list_downcase.include?(com.tagname.downcase) ? 'checked' : '' %>
        <input type="checkbox" id="check_<%= com.tagname %>_mc" name="check[<%= com.tagname %>]" value="1" data-tag="<%= com.tagname %>" class="com_check" <%= checked %>> <%= com.fullname %><br>
        <% end -%>  
        [<a href="#" onclick="more_less();return(false)" id="more_less_com">More Communities</a>]<br>  
        <div id="more_com" style="display:none">  
        <% for com in @ungoals_communities -%>  
        <% checked = @participant.tag_list_downcase.include?(com.tagname.downcase) ? 'checked' : '' %>
        <input type="checkbox" id="check_<%= com.tagname %>_ug" name="check[<%= com.tagname %>]" value="1" data-tag="<%= com.tagname %>" class="com_check" <%= checked %>> <% if com.bold %><b><% end %><%= com.fullname %><% if com.bold %></b><% end %><br>
        <% end -%>  
        <% for com in @sustdev_communities -%>  
        <% checked = @participant.tag_list_downcase.include?(com.tagname.downcase) ? 'checked' : '' %>
        <input type="checkbox" id="check_<%= com.tagname %>_sd" name="check[<%= com.tagname %>]" value="1" data-tag="<%= com.tagname %>" class="com_check" <%= checked %>> <% if com.bold %><b><% end %><%= com.fullname %><% if com.bold %></b><% end %><br>
        <% end -%>  
      </div>  
        
        <% if false -%>
          <% GLOBAL_COMMUNITIES.each do |tag| -%>
            <% checked = @participant.tag_list_downcase.include?(tag) ? 'checked' : '' %>
            <input type="checkbox" id="check_<%= tag %>_gc" name="check[<%= tag %>]" value="1" data-tag="<%= tag %>" class="com_check" <%= checked %>> <%= DEFAULT_COMMUNITIES[tag] %><br>
          <% end -%>
          [<a href="#" onclick="more_less();return(false)" id="more_less_com">More Communities</a>]<br>
          <div id="more_com" style="display:none">
            <% UNGOAL_COMMUNITIES.each do |tag| -%>
              <% b = BOLD_COMMUNITIES.include?(tag) %>
              <% checked = @participant.tag_list.include?(tag) ? 'checked' : '' %>
              <input type="checkbox" id="check_<%= tag %>_ug" name="check[<%= tag %>]" value="1" data-tag="<%= tag %>" class="com_check" <%= checked %>> <% if b %><b><% end %><%= DEFAULT_COMMUNITIES[tag] %><% if b %></b><% end %><br>
            <% end -%>
            <% SUSTDEV_COMMUNITIES.each do |tag| -%>
              <% b = BOLD_COMMUNITIES.include?(tag) %>        
              <% checked = @participant.tag_list.include?(tag) ? 'checked' : '' %>
              <input type="checkbox" id="check_<%= tag %>_sd" name="check[<%= tag %>]" value="1" data-tag="<%= tag %>" class="com_check" <%= checked %>> <% if b %><b><% end %><%= DEFAULT_COMMUNITIES[tag] %><% if b %></b><% end %><br>
            <% end -%>
          <% end -%>
      </div>
    </li>  
    
    <% if false -%>
    <li class="select required">
      <label class="label">My custom community tags</label>
      <select size="5" id="comtags" style="width: 150px;float:left">
        <% for tag in @participant.tag_list -%>
          <% if not DEFAULT_COMMUNITIES.keys.include?(tag) -%>
          <option><%= tag %></option>
          <% end -%>
        <% end -%>
      </select>
      <div style="width: 160px;float:left;padding: 0 0 0 5px">
        <input type="button" value="&lt; add" onclick="addtag()"> <input type="text" style="width: 100px" id="tag2add" maxlength="14"><br>
        <input type="button" value="&gt; remove" onclick="remtag()">
      </div>
    </li>
    <% end -%>   
      
	<% end %>
	<br>
	<%= f.inputs do %>	
		
    <% if false -%>
		<h3 id="settings"><br>Settings</h3>
    <% end -%>
    <input id="settings" type="submit" value="Save" onclick="savetags();return(true)">
		
    <% if false -%>
		<%= f.input :visibility, :label => 'Profile visibility', :as => :select, :collection =>PARTICIPANT_VISIBILITY_TEXT.invert %>
		<% end -%>
    <% if false %>	
		<%= f.input :wall_visibility, :label => 'Wall visibility', :as => :select, :collection =>PARTICIPANT_WALL_VISIBILITY_TEXT.invert %>	
		<%= f.input :item_to_forum, :label=>'Post wall items to the forum?', :as => :radio %>
		<% end %>
		
		<h3><br>E-mail preferences</h3>

		<%= f.input :private_email, :label => 'Personal messages', :as => :select, :collection =>EMAIL_PREFS_TEXT.invert %>	
		<%= f.input :system_email, :label => 'System messages', :as => :select, :collection =>EMAIL_PREFS_TEXT.invert %>	
		<% if false %>
    <%= f.input :group_email, :label => 'Group postings', :as => :select, :collection =>EMAIL_PREFS_TEXT.invert %>	
		<%= f.input :subgroup_email, :label => 'Sub-Group postings', :as => :select, :collection =>EMAIL_PREFS_TEXT.invert %>	
    <%= f.input :forum_email, :label => 'Discussion postings', :as => :select, :collection =>EMAIL_PREFS_TEXT.invert %>	
		<% end %>
    <%= f.input :mycom_email, :label => 'My communities', :as => :select, :collection =>EMAIL_PREFS_TEXT.invert %>	
    <%= f.input :othercom_email, :label => 'Other communities', :as => :select, :collection =>EMAIL_PREFS_TEXT.invert %>	
		
		<%= f.input :no_email, :label => 'Block all emails?', :as => :radio %>	
		
		<li> Please set your spam filter to allow messages from questions@intermix.org.</li>

    <% if false -%>
		<li><label>E-mail Posting to wall:</label>w+<%= @participant.direct_email_code %>@intermix.org<br></li>
    <% end -%>

		<li><h3>Twitter</h3></li>
		
		<%= f.input :twitter_post, :as => :radio %>
		<%= f.input :twitter_username %>
		
		<li><label>Twitter access</label><%= @participant.twitter_post and @participant.twitter_username.to_s != '' ? ( @participant.twitter_oauth_token.to_s != '' ? 'authorized' : raw("not yet authorized. click <a href=\"/me/twitauth\">this link</a> to authorize posting.")  ) : 'none' %></li>
		
	<% end %>

	<p><br>
	  <input type="button" value="Cancel" onclick="document.location.href='/me/profile'">
	  <input type="submit" value="Save">
		<% if false and @forum_link.to_s != '' -%>
	  <input type="button" value="Save and go to Forum" onclick="$('#goto').val($('#forum_link').val());$('#profile_edit').submit();" />
		<% end -%>
	<br><br></p>

<% end %>

<script>
var curid1 = 0;
var cur_country_code = '<%= @participant.country_code %>';
var cur_admin1uniq = '<%= @participant.admin1uniq %>';
var cur_admin2uniq = '';
var cur_metroarea = '<%= @participant.metro_area_id %>'
function chgcountry() {
	$('#profile_edit').css('opacity','0.5');
  	$.getJSON("/front/getadmin1s",{country_code: $("#participant_country_code").val()}, function(j){
	  var options = '';
	  for (var i = 0; i < j.length; i++) {
	    options += '<option value="' + j[i].val + '">' + j[i].txt + '</option>';
	  }
	  $("select#participant_admin1uniq").html(options);  
    $("select#participant_admin2uniq").html('');
    $('#county_name').html('');
    $("select#participant_city").html('');
    $("#participant_zip").val('');
		$.getJSON("/front/getmetro",{country_code: $("#participant_country_code").val()}, function(j){
	    var options = '';
	    for (var i = 0; i < j.length; i++) {
	      options += '<option value="' + j[i].val + '">' + j[i].txt + '</option>';
	    }
	    $("select#participant_metro_area_id").html(options);
		})
    $('#profile_edit').css('opacity','1.0');
	})
}

function chgstate() {
	$('#profile_edit').css('opacity','0.5');
	//$.getJSON("/front/getadmin2s",{country_code: $("#participant_country_code").val(), admin1uniq: $("#participant_admin1uniq").val()}, function(j){
	//  var options = '';
	//  for (var i = 0; i < j.length; i++) {
	//    options += '<option value="' + j[i].val + '">' + j[i].txt + '</option>';
	//  }
	//  $("select#participant_admin2uniq").html(options);
	//	$('#profile_edit').css('opacity','1.0');
	//})

	$.getJSON("/front/getcities",{country_code: $("#participant_country_code").val(), admin1uniq: $("#participant_admin1uniq").val()}, function(j){
	  var options = '';
	  for (var i = 0; i < j.length; i++) {
	    options += '<option value="' + j[i] + '">' + j[i] + '</option>';
	  }
	  $("select#participant_city").html(options);
		$('#profile_edit').css('opacity','1.0');
	})

}

function chgcity() {
  // Look up the county from the city
	$('#profile_edit').css('opacity','0.5');
	$.getJSON("/front/getadmin2_from_city",{country_code: $("#participant_country_code").val(), admin1uniq: $("#participant_admin1uniq").val(), city_name: $("#participant_city").val()}, function(j){
    var participant_admin2uniq = j[0];
    var county_name = j[1];
    $("#participant_admin2uniq").val(participant_admin2uniq);
    $('#county_name').html(county_name);
		$('#profile_edit').css('opacity','1.0');
	})
}

function addtag() {
  var val = $('#tag2add').val();
  if (val.charAt(0)=='#') {
    val = val.substring(1);
  }
  val = val.replace(/[^0-9A-za-z_]/gi, '').toLowerCase();
  if (val!='') {
    var xfound = false;
    $('#comtags option').each(function() {
      if ($(this).val()==val) {
        xfound = true;
      }
    });
    if ($.inArray(val, ['voiceofmen','voiceofwomen','voiceofyouth','voiceofexperience','voiceofexperie','voiceofwisdom']) > -1) {}
    else if (!xfound) {
      $('#comtags').append($('<option>',{text: val}))
    }
    $('#tag2add').val('');
  }
}
function remtag() {
  $('#comtags option:selected').remove();
}
function savetags() {
  return;
  var xlist = '';
  $('#comtags option').each(function() {
    var tag = $(this).val();
    tag = tag.replace(/[^0-9A-za-z_]/gi, '').toLowerCase();
    if (tag != '') {
      if (xlist != '') {
        xlist += ',';
      }
      xlist += tag;
    }
  });  
  $('.com_check').each(function() {
    if ($(this).prop('checked')) {
      tag = $(this).data('tag');
      if (xlist != '') {
        xlist += ',';
      }
      xlist += tag;
    }
  })
  $('#tag_list').val(xlist);
}
var showing_more = false;
function more_less() {
  if (showing_more) {
    $('#more_com').hide();
    $('#more_less_com').html("More Communities");
    showing_more = false;
  } else {    
    $('#more_com').show();
    $('#more_less_com').html("Fewer Communities");
    showing_more = true;
  }
}
</script>
