<%= render(:partial => 'menu')%>

<h3>Edit your profile</h3>

<p>The Save button is at the bottom of the page.</p>

<p>Items marked with an asterisk are required.</p>

<%= semantic_form_for :participant, :url => '/me/profile/update', :html=>{:id=>"profile_edit"} do |f| %>

	<input type="hidden" id="forum_link" name="forum_link" value="<%= @forum_link %>">
	<input type="hidden" id="goto" name="goto" value="">
	<input type="hidden" id="participant_admin2uniq" name="participant[admin2uniq]" value="<%= @participant.admin2uniq %>">
  <% if false -%>
  <input type="hidden" id="tag_list" name="participant[tag_list]" value="<%= @participant.tag_list %>">
	<% end -%>	
    <input type="hidden" id="denom_list" name="denom_list" value="">

	<%= f.inputs do %>

	<%= f.input :email, :label => "Email", :required => true %>	


		<%= f.input :first_name, :required => true %>
		<%= f.input :last_name, :required => false, label: "Family name" %>
		<%= f.input :title, :required => false %>
    <%= f.input :picture, :as=>:file, :required => false %>
    
  	<li>
  		<div style="width:25%;float:left;font-weight:bold">&nbsp;</div>
      <div style="width:75%;float:left">
        <% if @participant.picture.exists? then -%>
          <%= image_tag @participant.picture.url(:thumb) %>
        <% else -%>
          <img src="/images/default_user_icon-50x50.png" style="background-color:#999" alt="default user icon">
        <% end -%>
      </div>
    </li>
    
    
		<%= f.input :self_description, :as=>:text, :required => false %>
		<%= f.input :address1, :required => false %>
		<%= f.input :address2, :required => false %>
		<%= f.input :country_code, :label => "Country of Residence", :as => :select, :collection =>Geocountry.order(:name).select([:name,:iso]).collect{|r| [r.name,r.iso]}, prompt: "* choose *", :input_html =>{:onchange=>"chgcountry()"} %>
		<%= f.input :admin1uniq, :label => "State/Region", :as => :select, :required => false, :collection =>[['* choose *','']]+Geoadmin1.where(:country_code=>@participant.country_code).order(:name).select([:name,:admin1uniq]).collect {|r| [r.name,r.admin1uniq]}, prompt: "* choose *", :input_html =>{:onchange=>"chgstate()"} %>  

		<%= f.input :city, :label => "City", :as => :select, :required => false, :collection =>Geoname.where(admin1_code: adminuniq_part(@participant.admin1uniq), country_code: @participant.country_code).where("fclasscode like 'P.PPL%'").order(:name).select("distinct(name)").collect {|r| r.name}, prompt: "* choose *", :input_html =>{:onchange=>"chgcity()"} %>  
    <li>
      <label class="label">County</label> <span id="county_name"><%= @participant.county_name %></span>
    </li>
    
  	<%= f.input :zip, :required => false %>
    
    <li class="select input optional" id="participant_country_code2_input">
      <label for="participant_country_code2" class="label">2nd Country</label>
      <%= select_tag "participant[country_code2]", options_for_select([['* choose *',''], ['Indigenous peoples','_I']] + Geocountry.order(:name).collect{|c| [c.name,c.iso]}, @participant.country_code2), id: "participant_country_code2_input" %>
    </li>
		
    <%= f.input :phone, :required => false %>
	<%= f.input :metro_area_id, :as => :select, :collection => [['* choose *','']]+@metro_areas, :required => false, prompt: "* choose *" %>
	<%= f.input :bioregion, :required => false %>
	<%= f.input :political, :required => false, :label => 'Political Affiliation' %>
	
    <li class="select required">
      <div style="width:25%;float:left;font-weight:bold">Religion</div>
      <div style="width:75%;float:left">
        <% participant_religions = @participant.religions.collect{|r| r.id } %>
        <% for religion in Religion.all -%>
            <% participant_religion = ParticipantReligion.where(participant_id: @participant.id, religion_id: religion.id).first %>
            <% checked = participant_religion ? 'checked' : '' %>
            <input type="checkbox" class="religion_check" name="religions[]" id="religion_check_<%= religion.id %>" value="<%= religion.id %>" <%= checked %> onclick="click_religion(<%= religion.id %>)"> <%= religion.name %><span id="religion_span_<%= religion.id %>" style="<%= 'display:none' if checked == '' %>">
            <% if religion.subdiv != 'nodenom' -%>
                -
                <% if religion.subdiv == 'trad' -%>
                    Tradition:
                <% elsif religion.subdiv == 'denom' -%>
                    Denomination:
                <% elsif religion.subdiv == 'path' -%>
                    Path:
                <% elsif religion.subdiv == 'name' -%>
                    Name
                <% end -%>
                <input type="text" name="religion_denom_<%= religion.id %>" id="religion_denom_<%= religion.id %>" value="<%= participant_religion ? participant_religion.religion_denomination : '' %>" style="width: 120px" maxlength="24">
            <% end -%>
            </span>
            <br>        
        <% end -%>
        <span id="religion_span_0" style="<%= 'display:none' if participant_religions.length > 0 -%>">
            <input type="checkbox" name="religions[]" id="religion_check_0" checked disabled> NoFaithListed
        </span>
      </div>  
    </li> 
    
	<% @participant.metamaps_h.each do |metamap_id,metamap_name,metamap| -%>
	<% metamap_nodes = @participant.metamap_nodes_h %>
	<% info = metamap_nodes[metamap_id] if metamap_nodes[metamap_id] %>
	<li class="select required" id="meta_#{metamap_id}_input">
		<div style="width:25%;float:left;font-weight:bold"><%= metamap_name %><%= '*' if metamap_id==3 or metamap_id==5 %></div>
		<div style="width:75%;float:left">    
			  <%= select_tag "meta[#{metamap_id}]",raw('<option value="0">* choose *</option>')+ options_from_collection_for_select(MetamapNode.where(:metamap_id=>metamap_id),'id','name',(info ? info[1] : 0)), :id=>"meta_#{metamap_id}"%>
		</div>
	</li>		
	<% end -%>

    
    <p><input id="settings_submit" type="submit" value="Save" onclick="savetags();return(true)"><br><br></p>
    
    <li class="select required">
      <div style="width:25%;float:left;font-weight:bold">Communities<br>check to join</div>
      <div style="width:75%;float:left">
        <% for com in @major_communities -%>  
          <% checked = @participant.tag_list_downcase.include?(com.tagname.downcase) ? 'checked' : '' %>
          <input type="checkbox" id="check_<%= com.tagname %>_mc" name="check[<%= com.tagname %>]" value="1" data-tag="<%= com.tagname %>" class="com_check" <%= checked %>> <%= com.fullname %><br>
        <% end -%>  
        [<a href="#" onclick="more_less();return(false)" id="more_less_com">More Communities</a>]<br>  
        <div id="more_com" style="display:none">  
        <% for com in @more_communities -%>  
          <% checked = @participant.tag_list_downcase.include?(com.tagname.downcase) ? 'checked' : '' %>
          <input type="checkbox" id="check_<%= com.tagname %>_ug" name="check[<%= com.tagname %>]" value="1" data-tag="<%= com.tagname %>" class="com_check" <%= checked %>> <% if com.bold %><b><% end %><%= com.fullname %><% if com.bold %></b><% end %><br>
        <% end -%>  
      </div>  
    </li>  

      
	<% end %>
	<br>
	<%= f.inputs do %>	
		
    <% if false -%>
		<h3 id="settings"><br>Settings</h3>
    <% end -%>
    <input id="settings" type="submit" value="Save" onclick="savetags();return(true)">
		
    <% if false -%>
		<%= f.input :visibility, :label => 'Profile visibility', :as => :select, :collection =>PARTICIPANT_VISIBILITY_TEXT.invert %>
		<% end -%>
    <% if false %>	
		<%= f.input :wall_visibility, :label => 'Wall visibility', :as => :select, :collection =>PARTICIPANT_WALL_VISIBILITY_TEXT.invert %>	
		<%= f.input :item_to_forum, :label=>'Post wall items to the forum?', :as => :radio %>
		<% end %>
		
		<h3><br>E-mail preferences</h3>

		<%= f.input :private_email, :label => 'Personal messages', :as => :select, :collection =>EMAIL_PREFS_TEXT.invert %>	
		<%= f.input :system_email, :label => 'System messages', :as => :select, :collection =>EMAIL_PREFS_TEXT.invert %>	
		<% if false %>
    <%= f.input :group_email, :label => 'Group postings', :as => :select, :collection =>EMAIL_PREFS_TEXT.invert %>	
		<%= f.input :subgroup_email, :label => 'Sub-Group postings', :as => :select, :collection =>EMAIL_PREFS_TEXT.invert %>	
    <%= f.input :forum_email, :label => 'Discussion postings', :as => :select, :collection =>EMAIL_PREFS_TEXT.invert %>	
		<% end %>
    <%= f.input :mycom_email, :label => 'My communities', :as => :select, :collection =>EMAIL_PREFS_TEXT.invert %>	
    <%= f.input :othercom_email, :label => 'Other communities', :as => :select, :collection =>EMAIL_PREFS_TEXT.invert %>	
		
		<%= f.input :no_email, :label => 'Block all emails?', :as => :radio %>	
		
		<li> Please set your spam filter to allow messages from questions@intermix.org.</li>

    <% if false -%>
		<li><label>E-mail Posting to wall:</label>w+<%= @participant.direct_email_code %>@intermix.org<br></li>
    <% end -%>

		<li><h3>Twitter</h3></li>
		
		<%= f.input :twitter_post, :as => :radio %>
		<%= f.input :twitter_username %>
		
		<li><label>Twitter access</label><%= @participant.twitter_post and @participant.twitter_username.to_s != '' ? ( @participant.twitter_oauth_token.to_s != '' ? 'authorized' : raw("not yet authorized. click <a href=\"/me/twitauth\">this link</a> to authorize posting.")  ) : 'none' %></li>
		
	<% end %>

	<p><br>
	  <input type="button" value="Cancel" onclick="document.location.href='/me/profile'">
	  <input type="submit" value="Save">
		<% if false and @forum_link.to_s != '' -%>
	  <input type="button" value="Save and go to Forum" onclick="$('#goto').val($('#forum_link').val());$('#profile_edit').submit();" />
		<% end -%>
	<br><br></p>

<% end %>

<script>
var curid1 = 0;
var cur_country_code = '<%= @participant.country_code %>';
var cur_admin1uniq = '<%= @participant.admin1uniq %>';
var cur_admin2uniq = '';
var cur_metroarea = '<%= @participant.metro_area_id %>'
function chgcountry() {
	$('#profile_edit').css('opacity','0.5');
  	$.getJSON("/front/getadmin1s",{country_code: $("#participant_country_code").val()}, function(j){
	  var options = '<option value="">* Choose *</option>';
	  for (var i = 0; i < j.length; i++) {
	    options += '<option value="' + j[i].val + '">' + j[i].txt + '</option>';
	  }
	  $("select#participant_admin1uniq").html(options);  
    $("select#participant_admin2uniq").html('');
    $('#county_name').html('');
    $("select#participant_city").html('');
    $("#participant_zip").val('');
		$.getJSON("/front/getmetro",{country_code: $("#participant_country_code").val()}, function(j){
	    var options = '<option value="">* Choose *</option>';
	    for (var i = 0; i < j.length; i++) {
	      options += '<option value="' + j[i].val + '">' + j[i].txt + '</option>';
	    }
	    $("select#participant_metro_area_id").html(options);
		})
    $('#profile_edit').css('opacity','1.0');
	})
}

function chgstate() {
	$('#profile_edit').css('opacity','0.5');
	//$.getJSON("/front/getadmin2s",{country_code: $("#participant_country_code").val(), admin1uniq: $("#participant_admin1uniq").val()}, function(j){
	//  var options = '';
	//  for (var i = 0; i < j.length; i++) {
	//    options += '<option value="' + j[i].val + '">' + j[i].txt + '</option>';
	//  }
	//  $("select#participant_admin2uniq").html(options);
	//	$('#profile_edit').css('opacity','1.0');
	//})

	$.getJSON("/front/getcities",{country_code: $("#participant_country_code").val(), admin1uniq: $("#participant_admin1uniq").val()}, function(j){
	  var options = '';
	  for (var i = 0; i < j.length; i++) {
	    options += '<option value="' + j[i] + '">' + j[i] + '</option>';
	  }
	  $("select#participant_city").html(options);
		$('#profile_edit').css('opacity','1.0');
	})

}

function chgcity() {
  // Look up the county from the city
	$('#profile_edit').css('opacity','0.5');
	$.getJSON("/front/getadmin2_from_city",{country_code: $("#participant_country_code").val(), admin1uniq: $("#participant_admin1uniq").val(), city_name: $("#participant_city").val()}, function(j){
    var participant_admin2uniq = j[0];
    var county_name = j[1];
    $("#participant_admin2uniq").val(participant_admin2uniq);
    $('#county_name').html(county_name);
		$('#profile_edit').css('opacity','1.0');
	})
}

function addtag() {
  var val = $('#tag2add').val();
  if (val.charAt(0)=='#') {
    val = val.substring(1);
  }
  val = val.replace(/[^0-9A-za-z_]/gi, '').toLowerCase();
  if (val!='') {
    var xfound = false;
    $('#comtags option').each(function() {
      if ($(this).val()==val) {
        xfound = true;
      }
    });
    if ($.inArray(val, ['voiceofmen','voiceofwomen','voiceofyouth','voiceofexperience','voiceofexperie','voiceofwisdom']) > -1) {}
    else if (!xfound) {
      $('#comtags').append($('<option>',{text: val}))
    }
    $('#tag2add').val('');
  }
}
function remtag() {
  $('#comtags option:selected').remove();
}
function savetags() {
  return;
  var xlist = '';
  $('#comtags option').each(function() {
    var tag = $(this).val();
    tag = tag.replace(/[^0-9A-za-z_]/gi, '').toLowerCase();
    if (tag != '') {
      if (xlist != '') {
        xlist += ',';
      }
      xlist += tag;
    }
  });  
  $('.com_check').each(function() {
    if ($(this).prop('checked')) {
      tag = $(this).data('tag');
      if (xlist != '') {
        xlist += ',';
      }
      xlist += tag;
    }
  })
  $('#tag_list').val(xlist);
}
var showing_more = false;
function more_less() {
  if (showing_more) {
    $('#more_com').hide();
    $('#more_less_com').html("More Communities");
    showing_more = false;
  } else {    
    $('#more_com').show();
    $('#more_less_com').html("Fewer Communities");
    showing_more = true;
  }
}
function click_religion(religion_id) {
    var checked = $('#religion_check_'+religion_id).prop('checked');
    if (checked) {
        $('#religion_span_'+religion_id).show();
    } else {
        $('#religion_span_'+religion_id).hide();        
    }    
    var num_checked = $('.religion_check:checked').length;
    if (num_checked > 0) {
        $('#religion_span_0').hide();
    } else {
        $('#religion_span_0').show();
    }
}
function save_rdenominations() {
    var denom_list = '';
    $('.religion_check:checked').each(function() {


    });
}
</script>
