<%= render(:partial => 'menu')%>

<% if @participant.new_signup %>

<h3>Signup Success!</h3>
<p>We just need a little bit of extra information for your profile</p>

<% else -%>

<h3>Profile Update</h3>
<p>We need a little bit of extra information for your profile</p>

<% end -%>

<% ok = true %>

<%= semantic_form_for :participant, :url => '/me/profile/update', :html=>{:id=>"profile_edit"} do |f| %>

<input type="hidden" id="forum_link" name="forum_link" value="<%= @forum_link %>">
<input type="hidden" id="goto" name="goto" value="">
<input type="hidden" id="subsection" name="subsection" value="<%= @subsection %>">

<%= f.inputs do %>

<% if @participant.first_name.to_s == '' or @participant.last_name == '' -%>
<%= f.input :first_name, :required => true %>
<%= f.input :last_name, :required => true %>
<% ok = false %>
<% end -%>

<% if @participant.city.to_s == '' -%>
<%= f.input :city, :required => false %>
<% ok = false %>
<% end -%>

<% if @participant.country_code.to_s == '' -%>
<%= f.input :country_code, :label => "Country", :as => :select, :collection =>Geocountry.order(:extrasort,:name).select([:name,:iso]).collect{|r| [r.name,r.iso]}, :input_html =>{:onchange=>"chgcountry()"} %>
<% ok = false %>
<% end -%>

<% if @participant.admin1uniq.to_s == '' -%>
<%= f.input :admin1uniq, :label => "State/Region", :as => :select, :required => false, :collection =>Geoadmin1.where(:country_code=>@participant.country_code).order(:name).select([:name,:admin1uniq]).collect {|r| [r.name,r.admin1uniq]} %>
<% ok = false %>
<% end -%>

<% if @participant.metro_area_id.to_i == 0 -%>
<%= f.input :metro_area_id, :as => :select, :collection => @metro_areas, :required => false %>
<% ok = false %>
<% end -%>

		



<% metamap_nodes = @participant.metamap_nodes_h %>
<% @participant.metamaps_h.each do |metamap_id,metamap_name| -%>
  <% info = metamap_nodes[metamap_id] if metamap_nodes[metamap_id] %>
  <% if not info or info[1].to_i ==0 -%>  
    <li class="select required" id="meta_#{metamap_id}_input">
    	<div style="width:25%;float:left;font-weight:bold"><%= metamap_name %><%= '*' if metamap_id==3 or metamap_id==5 %></div>
    	<div style="width:75%;float:left">
    		<%= select_tag "meta[#{metamap_id}]",raw('<option value="0">* choose *</option>')+ options_from_collection_for_select(MetamapNode.where(:metamap_id=>metamap_id),'id','name',(info ? info[1] : 0)), :id=>"meta_#{metamap_id}"%>
    	</div>
    </li>		
    <% ok = false %>
  <% end -%>
<% end -%>

<% if ok -%>
<p>Actually, never mind, everything is in order, so just <a href="<%= @forum_link %>">click here to go to the list</a>.</p>
<% end -%>

<% end %>

	<p><br>
	  <% if ok -%>
		<% elsif @forum_link.to_s != '' -%>
	  <input type="button" value="Save and go to list" onclick="$('#goto').val($('#forum_link').val());$('#profile_edit').submit();" />
	  <% else -%>
	  <input type="submit" value="Save" />	  
		<% end -%>
	<br><br></p>

<% end %>

<script>
var curid1 = 0;
var cur_country_code = '<%= @participant.country_code %>';
var cur_admin1uniq = '<%= @participant.admin1uniq %>';
var cur_admin2uniq = '';
var cur_metroarea = '<%= @participant.metro_area_id %>'
function chgcountry() {
	$('#profile_edit').css('opacity','0.5');
	$.getJSON("/front/getadmin1s",{country_code: $("#participant_country_code").val()}, function(j){
	  var options = '';
	  for (var i = 0; i < j.length; i++) {
	    options += '<option value="' + j[i].val + '">' + j[i].txt + '</option>';
	  }
	  $("select#participant_admin1uniq").html(options);

		$.getJSON("/front/getmetro",{country_code: $("#participant_country_code").val()}, function(j){
	    var options = '';
	    for (var i = 0; i < j.length; i++) {
	      options += '<option value="' + j[i].val + '">' + j[i].txt + '</option>';
	    }
	    $("select#participant_metro_area_id").html(options);
		})
			
		$('#profile_edit').css('opacity','1.0');
	})
}
</script>