<%= render(:partial => 'menu')%>

<h1>Change Password</h1>

<%= semantic_form_for(:participant, :url => '/me/profile/update_password') do |f| %>


<p>      
Existing password: <%= password_field_tag :old_pass, '', :maxlength => 15, :size => 15 %><br>
New password: <%= password_field_tag :new_pass, '', :maxlength => 15, :size => 15 %> (case sensitive)<br>
Repeat new password: <%= password_field_tag :new_pass_confirm, '', :maxlength => 15, :size => 15 %>
</p>

		
		<input type="hidden" name="subsection" value="<%= @subsection %>">

	<p>
	  <input type="button" value="Cancel" onclick="viewrec1(<%= @participant.id.to_i %>)" />
	  <input type="submit" value="Save" />
	</p>

<% end %>

<p><br>When you change your password, you will be required to sign in again. If you have forgotten your current password, use the Sign out button to the left and then click the “Forgot your password?” link near the top of the login page.</p>   