
<% if participant_signed_in? %>
  <li class="menu">
  <%= link_to('Sign out', destroy_participant_session_path, method: :delete) %>        
  </li>
<% else %>
  <li class="menu">
    <%= link_to "Welcome Visitor", "/participants/visitor_login" %>
  </li>
  <li class="menu">
    <% if @comtag.to_s != '' -%>	
			<%= link_to "Member Sign in", "/participants/sign_in?comtag=#{@comtag}" %>
		<% elsif true or (@dialog and not @dialog.alt_logins) or (@group and not @group.alt_logins) %>
			<%= link_to "Member Sign in", "/participants/sign_in" %>
  	<% else -%>
			<%= link_to "Member Sign in", "/authentications" %>
		<% end -%>
	</li>
<% end %>
