<% if participant_signed_in? -%>
	<% if false %>
  <li class="menu">
  <%= link_to('Edit account', edit_participant_registration_path) %>
  </li>
	<% end %>
<% elsif (@dialog_id.to_i > 0 or session[:dialog_id].to_i > 0) and @comtag.to_s != '' -%>	
	<li class="menu"><a class="<%= 'selected' if @section=='join' %>" href="/djoin?comtag=<%= @comtag %>">Join</a></li>
<% elsif @dialog_id.to_i > 0 or session[:dialog_id].to_i > 0 -%>	
	<li class="menu"><a class="<%= 'selected' if @section=='join' %>" href="/djoin">Join</a></li>
<% elsif @group_id.to_i > 0 or session[:group_id].to_i > 0 -%>	
	<li class="menu"><a class="<%= 'selected' if @section=='join' %>" href="/gjoin">Join</a></li>
<% else -%>
	<li class="menu"><a class="<%= 'selected' if @section=='join' %>" href="/join">Join</a></li>
<% end -%>