<% if !@religions or !@religions.class==Array or @religions.length==0 -%>

<p>None</p>

<% else -%>

<table class="listtable">
  <tr>
	<th><input type="checkbox" name="markall" class="cammark" title="mark all" value="1" onclick="markall()" /></th>
    <th>ID</th>
    <th>Name</th>
    <th>Short</th>
    <th></th>
  </tr>

<% odd_or_even = 0 %>
<% @religions.each do |religion| %>
	<% odd_or_even = 1-odd_or_even%>
	<tr class="line<%= odd_or_even %>">
		<td><input type="checkbox" name="mark[]" class="cammark" title="mark" value="<%= religion.id %>" /></td>
		<td><a href="#" onclick="viewrec1(<%= religion.id %>)"><%= religion.id %></a></td>
        <td><a href="#" onclick="viewrec1(<%= religion.id %>)"><%= religion.name %></a></td>
        <td><%= religion.shortname %></td>
        <td><%= religion.subdiv %></td>
     </tr>
<% end %>
</table>

<% end -%>