<% if !@items or !@items.class==Array or @items.length==0 -%>

<p>None</p>

<% else -%>

<table class="listtable">
  <tr>
    <th><input type="checkbox" name="markall" class="cammark" title="mark all" value="1" onclick="markall()" /></th>
    <th>ID</th>
    <th>Date</th>
    <th>By</th>
    <th>Group</th>
    <th>Dialog</th>
    <th>Subject</th>
		<th>Tags</th>
  </tr>

<% odd_or_even = 0 %>
<% @items.each do |item| %>
	<% odd_or_even = 1-odd_or_even%>
	<tr class="line<%= odd_or_even %>">
		<td><input type="checkbox" name="mark[]" class="cammark" title="mark" value="<%= item.id %>" /></td>
		<td><a href="#" onclick="viewrec1(<%= item.id %>)"><%= item.id %></a></td>		
    <td><a href="#" onclick="viewrec1(<%= item.id %>)"><%= item.created_at.strftime("%Y-%m-%d %H:%M") %></a></td>
    <td><%= item.participant ? item.participant.name : item.posted_by %></td>
    <td><%= item.group ? item.group.name : item.group_id %></td>
    <td><%= item.dialog ? item.dialog.name : item.dialog_id %></td>
    <td><%= item.subject %></td>
		<td><%= item.tag_list if item.tag_list %></td>
  </tr>
<% end %>
</table>

<%= "#{(@items.current_page-1)*@items.per_page+1}-#{[@items.total_entries,@items.current_page*@items.per_page].min} of #{@items.total_entries} items" if @items.respond_to?('total_entries') and @items.total_entries.to_i>1 %>
&nbsp;&nbsp;&nbsp;
<%= raw %(<a href="javascript:gotopage(1)">&lt;&lt;</a>) if @items.respond_to?('total_pages') and @items.total_pages.to_i>1 and @items.respond_to?('current_page') and @items.current_page>1 %>
<%= raw %(<a href="javascript:gotopage(#{@items.previous_page})">&lt;</a>) if @items.respond_to?('previous_page') and @items.previous_page %>
<%= raw "page #{@items.current_page} of #{@items.total_pages}" if @items.respond_to?('total_pages') and @items.total_pages.to_i>1 %>
<%= raw %(<a href="javascript:gotopage(#{@items.next_page})">&gt;</a>) if @items.respond_to?('next_page') and @items.next_page %>
<%= raw %(<a href="javascript:gotopage(#{@items.total_pages})">&gt;&gt;</a>) if @items.respond_to?('total_pages') and @items.total_pages.to_i>1 and @items.current_page<@items.total_pages %>

<% end -%>