<%= render(:partial => 'messages/menu')%>

<% if @participant and @participant.picture.exists? -%>
  <%= image_tag @participant.picture.url(:thumb) %>    
<% elsif @participant.fb_uid.to_i > 0 -%>
  <img src="https://graph.facebook.com/<%= @participant.fb_uid %>/picture" style="float:left;margin-left:10px" alt="facebook" />
<% else -%>
  <img src="/images/default_user_icon-50x50.png" alt="user icon">
<% end -%>

<h3><%= @participant.name %></h3>

<div style="clear:both;height:1px"></div>

<h3>Friends:</h3>
<% if !@friends or @friends.length==0 -%>

<p>None</p>

<% else -%>

<table>
<% @friends.each do |f| %>
  <tr>
  <% if f.int_ext == 'ext' -%>
    <% remote_actor = f.remote_idol %>
    <td style="width:55px"><img src="<%= remote_actor.thumb_or_blank %>" style="width:50px;height:50px" alt="user thumbnail"></td>
    <td><a href="/people/remote/<%= remote_actor ? remote_actor.id : 0 %>/profile">#<%= remote_actor.id %>: <%= f.followed_fulluniq %>: <%= remote_actor.name if remote_actor %></a></td>
  <% else -%>
    <% person = f.idol %>    
    <td style="width:55px"><img src="<%= person.thumb_or_blank %>" style="width:50px;height:50px" alt="user thumbnail"></td>
		<td><a href="/participant/<%= person.id %>/profile">#<%= person.id %>: <%= person.name %></a></td>
  <% end -%>
  </tr>
<% end %>
</table>

<% end -%>


<h3>Other Followers:</h3>

<% if !@followers or @followers.length==0 -%>

<p>None</p>

<% else -%>

<table>
<% @followers.each do |f| %>
  <% if f.int_ext == 'ext' -%>
    <% remote_actor = f.remote_follower %>
    <td style="width:55px"><img src="<%= remote_actor.thumb_or_blank %>" style="width:50px;height:50px" alt="user thumbnail"></td>
    <td><a href="/people/remote/<%= remote_actor ? remote_actor.id : 0 %>/profile">#<%= remote_actor.id %>: <%= f.following_fulluniq %>: <%= remote_actor.name if remote_actor %></a></td>
  <% else -%>
    <% person = f.follower %>
    <td style="width:55px"><img src="<%= person.thumb_or_blank %>" style="width:50px;height:50px" alt="user thumbnail"></td>
		<td><a href="/participant/<%= person.id %>/profile">#<%= person.id %>: <%= person.name %></a></td>
  <% end -%>
<% end %>
</table>

<% end -%>

<h3>Other Followed:</h3>

<% if !@followeds or @followeds.length==0 -%>

<p>None</p>

<% else -%>

<table>
<% @followeds.each do |f| %>
  <% if f.int_ext == 'ext' -%>
    <% remote_actor = f.remote_idol %>
    <td style="width:55px"><img src="<%= remote_actor.thumb_or_blank %>" style="width:50px;height:50px" alt="user thumbnail"></td>
    <td><a href="/people/remote/<%= remote_actor ? remote_actor.id : 0 %>/profile">#<%= remote_actor.id %>: <%= f.followed_fulluniq %>: <%= remote_actor.name if remote_actor %></a></td>
  <% else -%>
    <% person = f.idol %>
    <td style="width:55px"><img src="<%= person.thumb_or_blank %>" style="width:50px;height:50px" alt="user thumbnail"></td>
		<td><a href="/participant/<%= person.id %>/profile">#<%= person.id %>: <%= person.name %></a></td>
  <% end -%>
<% end %>
</table>

<% end -%>

<form action="/activitypub/follow_account" method="post">
<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
<p>Follow a remote Fediverse user: <input type="text" name="fedfollow" size="20"></p>
</form>