<%= render(:partial => 'messages/menu')%>

<% if @participant and @participant.picture.exists? -%>
  <%= image_tag @participant.picture.url(:thumb) %>    
<% elsif @participant.fb_uid.to_i > 0 -%>
  <img src="https://graph.facebook.com/<%= @participant.fb_uid %>/picture" style="float:left;margin-left:10px" alt="facebook" />
<% else -%>
  <img src="/images/default_user_icon-50x50.png" alt="user icon">
<% end -%>

<h3><%= @participant.name %></h3>

<div style="clear:both;height:1px"></div>

<h3>Followers:</h3>

<% if !@participant.followers or !@participant.followers.class!=Array or @participant.followers.length==0 -%>

<p>None</p>

<% else -%>

<ul>
<% @participant.followers.each do |f| %>
  <% if f.int_ext == 'ext' -%>
    <% remote_actor = f.remote_follower %>
    <li><%= f.following_fulluniq %>: <%= remote_actor.name if remote_actor %></li>
  <% else -%>
    <% person = f.follower %>
		<li><a href="/participant/<%= person.id %>/profile">#<%= person.id %>: <%= person.name %></a></li>
  <% end -%>
<% end %>
</ul>

<% end -%>

<h3>Follows:</h3>

<% if !@participant.followings or @participant.followings.length==0 -%>

<p>None</p>

<% else -%>

<ul>
<% @participant.followings.each do |f| %>
  <% if f.int_ext == 'ext' -%>
    <% remote_actor = f.remote_idol %>
    <li><%= f.followed_fulluniq %>: <%= remote_actor.name if remote_actor %></li>
  <% else -%>
    <% person = f.idol %>
		<li><a href="/participant/<%= person.id %>/profile">#<%= person.id %>: <%= person.name %></a></li>
  <% end -%>
<% end %>
</ul>

<% end -%>

<form action="/activitypub/follow_account" method="post">
<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
<p>Follow a remote Fediverse user: <input type="text" name="fedfollow" size="20"></p>
</form>