<div style="width:700px;margin:10px auto 10px auto;padding:15px;border: 1px solid black">
<h3 style="text-align:center"><%= @dialog.name %></h3>

<p>Please enter your message to join this discussion</p>

<form action="/front/dialogjoin" method="post">
<input type="hidden" name="group_id" value="<%= @group.id %>">	
<input type="hidden" name="dialog_id" value="<%= @dialog.id %>">	
<table style="background-color:#fff;margin-left:auto;margin-right:auto;width:700px">		
<tr><td>Message</td><td><textarea name="message" class="editor" cols="80" rows="6" style="width:600px;height:200px">
</textarea></td></tr>	
<% for m in @meta %>
	<tr><td><%= m['name'] %>*</td><td><select name="meta_<%= m['id'] %>">
	<% for node in m['nodes'] %><option value="<%= node['id'] %>" <%= "selected" if node['id']==params["meta_#{m['id']}"].to_i %>><%= node['name'] %></option><% end %>
	</select></td></tr>
<% end %>
<tr><td>Your Name*</td><td><input type="text" name="name" value="<%= @name %>" size="30" style="width:200px"></td></tr>	
<tr><td>E-mail*</td><td><input type="text" name="email" value="<%= @email %>" size="30" style="width:200px"></td></tr>	
</table>
<input type="submit" value="Send!">	
</form>

<p>A confirmation email will be sent. Be sure to respond to that email. Your message cannot be posted in the discussion until you have confirmed your registration.</p>

<p>When you have confirmed, you will be automatically taken to the message list to vote on your own message and those written by others. It is OK to vote on your own message. Once your message receives its first rating, you will no longer be able to make changes in it. </p>

<p>If you have questions, please contact the discussion coordinator, Roger Eaton, at <a href="mailto:rogerweaton@gmail.com">rogerweaton@gmail.com</a>.</p>

</div>