<h3 style="text-align:center">Individual Initiatives for Nuclear Disarmament</h3>

<p><% for item in @samples -%>
<img src="/images/data/items/<%= item.id %>/thumb.jpg" width="50" height="50" title="<%= "#{item.participant.first_name} #{item.participant.last_name}: #{item.short_content}" %>" alt="thumbnail">
<% end -%>
</p>

<p>Help us get the bandwagon rolling. Send your name and photo, smiling or scowling with a twitter-like caption. If your photo is a Smile, send praise of nuclear disarmament. If a Scowl, send condemnation of nuclear weapons. It's that easy.  When we have a couple hundred photos, we move to stage two, which is to launch our online dialog.</p>

<form action="/front/instantjoin" method="post" enctype="multipart/form-data">
<input type="hidden" name="group_id" value="<%= @group_id %>">	
<table style="background-color:#fff">	
<tr><td>Picture</td><td><input type="file" name="picfile" size="20" style="width:200px"></td></tr>	
<tr><td>Message</td><td><textarea name="message" cols="10" rows="3" style="width:200px;height:50px"><%= @message %></textarea></td></tr>	
<tr><td>Your Name</td><td><input type="text" name="name" value="<%= @name %>" size="30" style="width:200px"></td></tr>	
<tr><td>E-mail</td><td><input type="text" name="email" value="<%= @email %>" size="30" style="width:200px"></td></tr>	
</table>
<input type="submit" value="Send!">	
</form>	