<% @group = Group.find_by_id(session[:group_id]) if not @group and session[:group_id].to_i > 0 %>
<% if @group -%>	
<p><b>Group: <%= @group.name %></b><br>
<%= strip_tags(@group.shortdesc.to_s)[0..123] %></p>
<% end %>

<% if @dialog -%>
<p><b>Discussion: <%= @dialog.name %></b><br>
<%=strip_tags( @dialog.shortdesc.to_s)[0..123] %></p>
<% end -%>

<% if @dialog and @dialog.active_period -%>
<p><b>Decision period: <%= @dialog.active_period.name %></b><br>
<%= strip_tags(@dialog.active_period.shortdesc.to_s)[0..123] %></p>
<% end -%>

<hr style="width:60%;height:2px;border:none">

<p><b>The basics:</b><br>
Participation is always as a member of one <b><i>group</i></b> or another.
Groups join together in open ended <b><i>discussions</i></b>.
Discussions have <b><i>decision periods</i></b> with rating <b><i>results</i></b> by group, gender and age.
</p>

<p><b>Also useful to know:</b><br>
If in expert mode, you can change the group by using the <b>menu</b> on the left. If a group belongs to a discussion, there will be a discussion button at the top of the group page. You are encouraged to <b>rate</b> the messages for interest and approval. To expand a message, click the message title or the + sign.
</p>