<div style="width:700px;margin:10px auto 10px auto;padding:15px;border: 1px solid black">

<h2>Sign up</h2>

<form action="/front/join" method="post" enctype="multipart/form-data">
<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />

<table style="background-color:#fff;margin-left:auto;margin-right:auto;width:700px">		
<tr><td>First Name*</td><td><input type="text" name="first_name" value="<%= @first_name %>" size="30" style="width:200px"></td></tr>	
<tr><td>Last Name*</td><td><input type="text" name="last_name" value="<%= @last_name %>" size="30" style="width:200px"></td></tr>	
<tr><td>E-mail</td><td><input type="text" name="email" value="<%= @email %>" size="30" style="width:200px"></td></tr>	
<tr><td>Password*</td><td><input type="password" name="password" value="<%= @password %>" size="30" style="width:200px"> Confirm: <input type="password" name="password_confirmation" value="<%= @password_confirmation %>" size="30" style="width:200px"></td></tr>
<tr><td>Country of Residence*</td><td>
<%= select_tag :country_code, options_for_select([['* choose *','']]+@countries.collect{|r| [r.name,r.iso]},@country_code) %></td></tr>
<tr><td>Group*</td><td>
<%= select_tag :group_id,raw('<option value="0">* choose *</option>')+ options_from_collection_for_select(Group.where(:openness=>'open').order(:name),'id','name',@group_id) %>
</td></tr>

<% for m in @meta %>
	<tr><td><%= m['name'] %>*</td><td><select name="meta_<%= m['id'] %>">
	<% for node in m['nodes'] %>
	<% xselect = (params["meta_#{m['id']}"].to_i==node['id']) ? " selected" : "" %>
	<option value="<%= node['id'] %>"<%= xselect %>><%= node['name'] %></option>
	<% end %>
	</select></td></tr>
<% end %>
</table>
<p><input type="submit" value="Send!"></p>	
</form>

<p>A confirmation email will be sent. Be sure to respond to that email.</p>

<p>If you'd rather sign up with your Facebook login, don't fill in the form, but just click here:

<a href="/fbjoin">
  <%= image_tag "/assets/login/facebook_64.png", :size => "64x64", :alt => "Facebook", :style => "vertical-align:middle" %>
</a>
</p>

<p>If you have questions, please contact the administrator at <a href="mailto:questions@intermix.org">questions@intermix.org</a>.</p>

</div>


