<%= form_with(model: network, local: true) do |form| %>
  <% if network.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(network.errors.count, "error") %> prohibited this network from being saved:</h2>

      <ul>
      <% network.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, size: "50" %>
  </div>
  
  <% for com in @mycommunities -%>
    <% if com.name.to_s != '' -%>
      <input type="checkbox" name="communities[]" value="<%= com.id %>" <%= 'checked' if @network.communityarray and @network.communityarray.includes? com.tagname %>>
      <b><%= com.name %></b><br>
    <% end -%>
  <% end -%>

	<div class="field">
    <label>Generation Identity</label>
    <%= select_tag "network[age]", options_for_select(@age_options + [["*any*",0]], @network.age)%>
	</div>
  
	<div class="field">
    <label>Gender Identity</label>  
    <%= select_tag "network[gender]", options_for_select(@gender_options + [["*any*",0]], @network.gender)%>
	</div>

	<div class="field">
    <label>Geographical Level</label>  
    <%= select_tag "network[geo_level]", options_for_select(@geo_levels + [["*any*",0]], @network.geo_level)%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>