<%= form_with(model: conversation, local: true) do |form| %>
  <% if conversation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(conversation.errors.count, "error") %> prohibited this conversation from being saved:</h2>

      <ul>
      <% conversation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :shortname %>
    <%= form.text_field :shortname %>
  </div>

  <div class="field">
    <%= form.label :active, "Active/Public" %>
    <%= form.text_field :active %>
  </div>
    
  <%= f.input :active, label: "Active/Public" %>	
  

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :front_template %>
    <%= form.text_area :front_template %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
