<%= render(:partial => 'topmenu')%>

<table style="width:595px">
<tr><th>Forum</th><th>Activity</th><th>More Information</th><th>Phase</th><th>Perspective</th></tr>	
<% for conv in @conversations -%>
<tr>
	<td><a href="/dialogs/<%= VOH_DISCUSSION_ID %>/slider?conv=<%= conv.shortname %>"><%= conv.shortname %></a></td>	
	<td><%= conv.activity %></td>
	<td><a href="/conversations/<%= conv.id %>"><%= conv.name.to_s != '' ?  conv.name : conv.shortname %></a></td>
  <td><%= conv.together_apart %></td>
  <td>
    <% if conv.perspective == 'outsider' -%>
      outsider
    <% elsif conv.perspective and conv.perspectives.length == 1 -%>
      <%= conv.perspective %>
    <% elsif conv.perspectives and conv.perspectives.length > 1 -%>  
      <select id="conv_perspective_select_<%= conv.id %>" onchange="change_perspective(<%= conv.id %>)">
        <% for persp in conv.perspectives -%>
          <% xselected = (conv.perspective == persp[0]) ? " selected" : "" %>
          <option value="<%= persp[0] %>"<%= xselected %>><%= persp[0] %></option>
        <% end -%>
      </select>  
    <% elsif conv.perspective -%>  
      <a href="/dialogs/<%= VOH_DISCUSSION_ID %>/slider?conv=<%= conv.shortname %>&amp;comtag=<%= conv.perspective %>"><%= conv.perspective %></a>
    <% else -%>
      <a href="/dialogs/<%= VOH_DISCUSSION_ID %>/slider?conv=<%= conv.shortname %>">outsider</a>
    <% end -%>
  </td>
</tr>	
<% end -%>
</table>

<p>Sort: 
<select name="sort" id="sortselect">
<% {'activity'=>'Activity', 'shortname'=>'Forum'}.each do |val,txt| -%>    
<option value="<%= val %>"<%= ' selected' if val == @sort %>><%= txt %></option>    
<% end -%>
</select>
</p>

<script>
$('#sortselect').on('change', function() {
  var xsort = $('#sortselect').val();
  window.location.href = "?sort=" + xsort;
})
function change_perspective(conversation_id) {
  $("#conv_perspective_select_"+conversation_id).css('opacity','0.5');
  var perspective = $("#conv_perspective_select_"+conversation_id).val();
	$.ajax({
    type: 'GET',
	  url: '/conversations/'+conversation_id+'/change_perspective?perspective='+perspective,
	  complete: function(t){
      if (t.responseText == 'ok') {
        $("#conv_perspective_select_"+conversation_id).css('opacity','1.0');
      }
	  }
	});	
}
</script>	
