<%= render(:partial => 'topmenu')%>

<table style="width:595px">
<tr><th>Forum</th><th>Activity</th><th>More Information</th><th>Perspective</th></tr>	
<% for conv in @conversations -%>
<tr>
	<td><a href="/dialogs/<%= VOH_DISCUSSION_ID %>/slider?conv=<%= conv.shortname %>"><%= conv.shortname %></a></td>	
	<td><%= conv.activity %></td>
	<td><a href="/conversations/<%= conv.id %>"><%= conv.name.to_s != '' ?  conv.name : conv.shortname %></a></td>
  <td>
    <% if conv.perspective == 'outsider' -%>
      <a href="/dialogs/<%= VOH_DISCUSSION_ID %>/slider?conv=<%= conv.shortname %>">outsider</a>
    <% elsif conv.perspective -%>  
      <a href="/dialogs/<%= VOH_DISCUSSION_ID %>/slider?conv=<%= conv.shortname %>&amp;comtag=<%= conv.perspective %>"><%= conv.perspective %></a>
    <% else -%>
      <a href="/dialogs/<%= VOH_DISCUSSION_ID %>/slider?conv=<%= conv.shortname %>">outsider</a>
    <% end -%>
  </td>
</tr>	
<% end -%>
</table>

<p>Sort: 
<select name="sort" id="sortselect">
<% {'activity'=>'Activity', 'tag'=>'Forum'}.each do |val,txt| -%>    
<option value="<%= val %>"<%= ' selected' if val == @sort %>><%= txt %></option>    
<% end -%>
</select>
</p>

<script>
$('#sortselect').on('change', function() {
  var xsort = $('#sortselect').val();
  window.location.href = "?sort=" + xsort;
})
</script>	
