<%= render(:partial => 'topmenu')%>

<h3><%=raw @conversation.name %></h3>

<p><b>Short Name:</b> <%= @conversation.shortname %></p>

<% if @conversation.description.to_s != '' -%>
<p><%=raw @conversation.description %></p>
<% end -%>

<p><b>Communities:</b></p>

<% if @communities.length > 0 -%>
  <table style="width:595px">
  <tr><th>Forum</th><th>Activity</th><th>More Information</th><th>&nbsp;</th></tr>	
  <% for com in @communities -%>
    <tr>
    	<td><a href="/dialogs/<%= VOH_DISCUSSION_ID %>/slider?comtag=<%= com.tagname %>">@<%= com.tagname %></a></td>	
    	<td><%= com.activity_count %></td>
    	<td><a href="/communities/<%= com.id %>"><%= com.fullname.to_s != '' ? com.fullname : com.tagname %></a></td>
    	<td><a href="#" onclick="joinleave('<%= com.tagname %>',<%= com.id %>);return(false)" id="comtagjoin_<%= com.id %>"><%= current_participant.tag_list.include?(com.tagname) ? "leave" : "join" %></a></td>
    </tr>
  <% end -%>
  </table>
<% end -%>



