<% if false -%>
<%= render(:partial => 'topmenu')%>
<% end -%>

<%= render(:partial => 'dialogs/menu') %>


<% if @conversation.description.to_s != '' -%>
<p><%=raw @conversation.description %></p>
<% end -%>

<p><b>Current Phase:</b> <%= @conversation.together_apart %><br>
<b>Current Perspective:</b> 
<% if @perspectives.length > 1 -%>
  <select id="perspective_select" onchange="select_perspective()">
    <% @perspectives.each do |ptab,pname| %>
      <% xselect = (ptab == @cur_perspective ? ' selected' : '') %>
      <option value="<%= ptab %>"<%= xselect %>><%= ptab %></option>
    <% end -%>
  </select>  
<% else -%>
  <%= @cur_perspective %>
<% end -%>
</p>  

<% if @cur_perspective == 'outsider' -%>
<p>As an Outsider, you can read but not post items in the conversation forum.</p>
<% end -%>


<p>You must join a community to make it your current perspective. All messages you write in this conversation will be automatically tagged with the community you have chosen as your perspective.</p>

<% if @conversation.together_apart == 'together' -%>

  <p>Go to the <a href="/dialogs/<%= VOH_DISCUSSION_ID %>/slider?conv=<%= @conversation.shortname %>"><%= @conversation.name %> Forum</a></p>
  
  <p>In Together phase, the forum includes messages from all the conversation communities. When you add a post or a comment, it will be automatically tagged with your current perspective. If you are not a member of any of the conversation communities, then you cannot post in the conversation, but you may comment and rate. Your comments and ratings as a non-member will not count in the conversation, only in the wider Order Out of Chaos forum.</p>

<% else -%>

  <% if @cur_perspective == 'outsider' -%>
    <p>Go to the <a href="/dialogs/<%= VOH_DISCUSSION_ID %>/slider?conv=<%= @conversation.shortname %>">Forum</a> as an outsider</p>  
  <% else -%>
    <% perspective_community = Community.find_by_tagname(@cur_perspective) %>
    <p>Go to the <a href="/dialogs/<%= VOH_DISCUSSION_ID %>/slider?conv=<%= @conversation.shortname %>&comtag=<%= @cur_perspective %>"><%= perspective_community.name %> Forum</a></p>
  <% end -%>

  <p>In Apart phase, the forum includes only messages from your current perspective. If you are not a member of any of the conversation communities, then you cannot post in the conversation, but you may comment and rate. Your comments and ratings as a non-member will not count in the conversation, only in the wider Order Out of Chaos forum.</p>

<% end -%>



<p><b>Communities:</b></p>

<% if @communities.length > 0 -%>

  <p>(Activity counts are for the current lunar phase of the conversation.)</p>

  <table style="width:595px">
  <tr><!--<th>Forum</th>--><th>Activity</th><th>More Information</th><th>&nbsp;</th></tr>	
  <% for com in @communities -%>
    <% if com.active -%>
      <tr>
        <% if false -%>
      	<td><a href="/dialogs/<%= VOH_DISCUSSION_ID %>/slider?comtag=<%= com.tagname %>">@<%= com.tagname %></a></td>
        <% end -%>
      	<td><%= com.activity_count_for_conversation(@conversation,@cur_period) %></td>
      	<td><a href="/communities/<%= com.id %>"><%= com.fullname.to_s != '' ? com.fullname : com.tagname %></a></td>
      	<td>
              <%
              prof_nation = false
              if com.context=='nation'
                geocountry = Geocountry.find_by_iso3(com.context_code)
                if geocountry and (geocountry.iso == current_participant.country_code or geocountry.iso == current_participant.country_code2)
                  prof_nation = true
                end
              end
              %>
              <% if prof_nation -%>
                in&nbsp;profile
              <% else -%>
                  <a href="#" onclick="joinleave('<%= com.tagname %>',<%= com.id %>);return(false)" id="comtagjoin_<%= com.id %>"><%= current_participant.tag_list.include?(com.tagname) ? "leave" : "join" %></a>            
              <% end -%>
          </td>
      </tr>
    <% end -%>
  <% end -%>
  </table>
<% end -%>

<p><b>Short Name:</b> <%= @conversation.shortname %></p>

<script>
  function select_perspective() {
    var perspective = $('#perspective_select').children("option:selected").val();
    window.location.href = '?perspective='+perspective;
  }
  function joinleave(comtag,id) {
    var which = $('#comtagjoin_'+id).html();
    var data = {
      'comtag': comtag,
      'which': which,
    };
  	$.ajax({
      type: 'GET',
  	  url: '/me/comtag',
  	  data: data,
  	  complete: function(t){ 
        if (which=='join') {
  		    $('#comtagjoin_'+id).html('leave')
        } else {
  		    $('#comtagjoin_'+id).html('join')
        }
        location.reload();
      }
  	});
  }	
</script>




