<%= semantic_form_for [:admin, @conversation] do |f| %>

	<%= f.inputs do %>
		<%= f.input :shortname, :required => true %>
		<%= f.input :name, :required => true %>
		<%= f.input :description %>
        <%= f.input :active, label: "Active/Public" %>	
		<%= f.input :front_template %>
		<%= f.input :context, :label => "Type/context" %>		
		<%= f.input :context_code, :label => "Reference ID" %>
		<%= f.input :together_apart, :label => "Mode", :as => :select, :collection =>['together','apart'] %>
		<%= f.input :twocountry, :label => "Two country conversation?" %>
        
        
        <% if @conversation.twocountry -%>
            <%= f.input :twocountry_country1, label: "Country1", as: :select, collection: Community.where(context: 'nation').order(:tagname).collect{|c| [c.tagname,c.id]} %>
            <%= f.input :twocountry_country2, label: "Country2", as: :select, collection: Community.where(context: 'nation').order(:tagname).collect{|c| [c.tagname,c.id]} %>
            <%= f.input :twocountry_supporter1, label: "Supporter1", as: :select, collection: Community.where(context: 'twocountry').order(:tagname).collect{|c| [c.tagname,c.id]} %>
            <%= f.input :twocountry_supporter2, label: "Supporter2", as: :select, collection: Community.where(context: 'twocountry').order(:tagname).collect{|c| [c.tagname,c.id]} %>
            <%= f.input :twocountry_common, label: "Common", as: :select, collection: Community.where(context: 'twocountry').order(:tagname).collect{|c| [c.tagname,c.id]} %>
        <% else -%>
            <%= f.hidden_field :twocountry_country1 %>
            <%= f.hidden_field :twocountry_country2 %>
            <%= f.hidden_field :twocountry_supporter1 %>
            <%= f.hidden_field :twocountry_supporter2 %>
            <%= f.hidden_field :twocountry_common %>
        <% end -%>
        
    <% end %>

<% end %>

<p>
  <input type="button" value="Cancel" onclick="viewrec1(<%= @conversation.id.to_i %>)" />
  <input type="button" value="Save" onclick="saverec1()" />
</p>
