<% if !@networks or !@networks.class==Array or @networks.length==0 -%>

<p>None</p>

<% else -%>

<table class="listtable">
  <tr>
	<th><input type="checkbox" name="markall" class="cammark" title="mark all" value="1" onclick="markall()" /></th>
    <th>ID</th>
    <th>Name</th>
    <th>Created by</th>
  </tr>

<% odd_or_even = 0 %>
<% @networks.each do |network| %>
	<% odd_or_even = 1-odd_or_even%>
	<tr class="line<%= odd_or_even %>">
		<td><input type="checkbox" name="mark[]" class="cammark" title="mark" value="<%= network.id %>" /></td>
		<td><a href="#" onclick="viewrec1(<%= network.id %>)"><%= network.id %></a></td>
    <td><a href="#" onclick="viewrec1(<%= network.id %>)"><%= network.name %></a></td>
    <td><%= network.participant.name %></td>
  </tr>
<% end %>
</table>

<% end -%>