<p style="clear:both;padding:0 19px 0 0"><span style="font-size:20px"><%= @group.name %></span>
<% if not @is_member -%>	
<br><span style="font-size:12px;font-weight:bold">JUST VISITING
<% if @group.openness == 'open' -%>	
- <a href="/groups/<%= @group.id %>/join">join this group</a>
<% elsif @group.openness == 'open_to_apply' -%>
apply to join this group
<% end -%>
</span>
<% end -%>
</p>

<ul class="horizmenu">
<li><a class="menu<%= ' selected' if @gsection=='info' %>" href="/groups/<%= @group.id %>/view">Info</a></li>
<li><a class="menu<%= ' selected' if @gsection=='forum' %>" href="/groups/<%= @group.id %>/forum">Forum</a></li>
<% if @is_member -%>
<li><a class="menu<%= ' selected' if @gsection=='invite' %>" href="/groups/<%= @group.id %>/invite">Invite</a></li>
<% end -%>
<% if @is_member and @is_moderator -%>
<li><a class="menu<%= ' selected' if @gsection=='admin' %>" href="/groups/<%= @group.id %>/admin">Admin</a></li>
<% end -%>
<li><a  class="menu<%= ' selected' if @gsection=='' %>" href="/groups">All Groups</a></li>
</ul>

<div style="clear:both;height:1px"></div>