<%= render(:partial => 'groups/menu')%>

<h3 style="clear:both">Group Administration</h3>

<p><b>Group:</b> <%= @group.name %></p>

<% if not ( @is_moderator or @group.owner.to_s == current_participant.id or session[:is_hub_admin] or session[:is_sysadmin]) -%>
	<p>You are not an administrator of this group.</p>
<% else -%>

	<p><b>Active Members:</b> <a href="/groups/<%= @group.id %>/members?active=1"><%= @group.active_members.count %></a></p>

	<p><b>Inactive Members:</b> <a href="/groups/<%= @group.id %>/members?active=0"><%= @group.non_active_members.count %></a></p>

	<p><b>Items Posted:</b> <a href="/groups/<%= @group.id %>/forum"><%= @group.items_count.to_i %></a></p>

	<% if false -%>
	<p><b>Periods:</b><ul>
	<% for period in @group.periods -%>
		<li><a href="/groups/<%= @group.id %>/period_edit?period_id=<%= period.id %>"><%= period.startdate %> - <%= period.enddate -%>: <%= period.name %></a></li>
	<% end -%>
	</ul>	
	<a href="/groups/<%= @group.id %>/period_edit?period_id=0">Add a period</a>	
	</p>
	<% end -%>

	<p><b>Sub-groups (tags):</b><ul>
	<% for group_subtag in @group.group_subtags -%>
		<li><a href="/groups/<%= @group.id %>/subtag_edit?group_subtag_id=<%= group_subtag.id %>"><%= group_subtag.tag %></a></li>
	<% end -%>	
	</ul>
	<a href="/groups/<%= @group.id %>/subtag_edit?group_subtag_id=0">Add a sub-group</a>	
	</p>

	<p>You are a group moderator. You can <a href="/groups/<%= @group.id %>/moderate">moderate</a> the group members, or <a href="/groups/<%= @group.id %>/edit">edit</a> the group information and settings</p>

	<p><a href="/groups/<%= @group.id %>/invite">Invite more members</a></p>

	<p><a href="/groups/<%= @group.id %>/import">Import members</a></p>

	<p><b>Moderators:</b><ul>
	<% if @group.moderators.length == 0 -%>
		none
	<% else -%>
		<% for moderator in @group.moderators -%>
			<li><a href="/groups/<%= @group.id %>/group_participant_edit?participant_id=<%= moderator.id %>"><%= moderator.name %></a></li>
		<% end -%>
	<% end -%>	
	</ul><p>		
	<form action="/groups/<%= @group.id %>/add_moderator" method="post">
	<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
	<p>Add moderator: <%= select_tag :participant_id, raw('<option value="0"></option>') + options_from_collection_for_select(@group.participants, 'id', 'name') %> <input type="submit" value="add"></p>	
	</form>

	<p><b>Participating in Discussions:</b><ul>
	<% if @group.active_dialogs.length == 0 -%>
		none
	<% else -%>
		<% for dialog in @group.active_dialogs -%>
			<li><a href="/groups/<%= @group.id %>/dialog_settings?dialog_id=<%= dialog.id %>"><%= dialog.name %></a></li>
		<% end -%>
	<% end -%>	
	</ul><p>
		
	<p><b>Other discussions:</b></p>
		<% if @group.pending_dialogs.length > 0 -%>
		<p>application pending for<br>
		<ul>
		<% for dialog in @group.pending_dialogs -%>
			<li><a href="/dialogs/<%= dialog.id %>/view"><%= dialog.name %></a> status: <%= dialog.dialog_groups[0].apply_status %></li>
		<% end -%>
		</ul></p>
		<% end -%>
		
		<form action="/groups/<%= @group.id %>/apply_dialog" method="post">
		<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
		<%= hidden_field_tag :group_id, @group.id %>
		<p>apply to join 
		<%= select_tag :apply_dialog_id, options_from_collection_for_select(Dialog.where("not (id in (#{(@group.active_dialogs.collect{|d| d.id}+@group.pending_dialogs.collect{|d| d.id}+[0]).join(',')}))"), "id", "name") %>
		<input type="submit" value="send">
		</p>
		</form>


<% end -%>

<% if @group.logo.exists? then -%>
<p><%= image_tag @group.logo.url %></p>
<% end -%>



