<%= render(:partial => 'groups/menu')%>

<%= semantic_form_for( @group, :html => { :multipart => true } ) do |f| %>

	<%= f.inputs do %>
		<%= f.input :name, :required => true %>
		<%= f.input :shortname, :label => "Prefix", :required => true %>
		<%= f.input :owner, :as => :select, :collection=>@group.participants.collect{|p| [p.name,p.id]} %>
		<%= f.input :description %>
		<%= f.input :shortdesc, :as => :text, :label => "Short description, 124chars max, no formatting", :input_html => {:rows => 5} %>
		<%= f.input :moderation %>
		<%= f.input :openness, :label => "Membership", :as => :select, :collection =>GROUP_OPENNESS %>
		<%= f.input :visibility, :as=>:select, :collection =>GROUP_VISIBILITY %>
		<%= f.input :has_mail_list, :label => "Has mailing list" %>
		<%= f.input :logo, :as=>:file %>			
		<li class="select optional" id="group_has_mail_list_input">
		<label>Meta Categories</label>
		<div style="float:left">
		<% for metamap in @metamaps %>
			<% checked = (@has_metamaps and @has_metamaps[metamap.id]) ? "checked" : "" %>
			<input <%= checked %> id="metamap_<%= metamap.id %>" name="metamap[<%= metamap.id %>]" type="checkbox" value="1"> <%= metamap.name %><br>		
		<% end %>
		</div>
		</li>
		<%= f.input :required_meta, :label=>"Meta choices required at signup?", :as=>:boolean %>		

		<% f.input :front_template, :label => "Front Page template" %>
		<li class="text optional" id="group_front_template_input">
			<label for="group_front_template">Front Page template<br>
			<%= button_to_function "get default", "get_default('front')" %><br>
			<%= button_to_function "test", "test_template('front')" %>
			</label>
			<textarea id="group_front_template" name="group[front_template]" rows="5"><%= @group.front_template %></textarea>
		</li>

		<% f.input :member_template, :label => "Home Page template" %>
		<li class="text optional" id="group_member_template_input">
			<label for="group_member_template">Home Page template<br>
			<%= button_to_function "get default", "get_default('member')" %><br>
				<%= button_to_function "test", "test_template('member')" %>
			</label>
			<textarea id="group_member_template" name="group[member_template]" rows="5"><%= @group.member_template %></textarea>
		</li>
		
		<% f.input :invite_template, :label => "Invitation e-mail template" %>
		<li class="text optional" id="group_invite_template_input">
			<label for="group_invite_template">Invitation e-mail template<br>
			<%= button_to_function "get default", "get_default('invite')" %><br>
					<%= button_to_function "test", "test_template('invite')" %>
			</label>
			<textarea id="group_invite_template" name="group[invite_template]" rows="5"><%= @group.invite_template %></textarea>
		</li>

		<% f.input :import_template, :label => "Import e-mail template" %>
		<li class="text optional" id="group_import_template_input">
			<label for="group_import_template">Import e-mail template<br>
			<%= button_to_function "get default", "get_default('import')" %><br>
				<%= button_to_function "test", "test_template('import')" %>
			</label>
			<textarea id="group_import_template" name="group[import_template]" rows="5"><%= @group.import_template %></textarea>
		</li>
		
		<% f.input :signup_template, :label => "Signup Page template" %>
		<li class="text optional" id="group_signup_template_input">
			<label for="group_signup_template">Signup Page template<br>
			<%= button_to_function "get default", "get_default('signup')" %><br>
					<%= button_to_function "test", "test_template('signup')" %>
			</label>
			<textarea id="group_signup_template" name="group[signup_template]" rows="5"><%= @group.signup_template %></textarea>
		</li>
		
		<% f.input :confirm_template, :label => "Confirmation Page template" %>
		<li class="text optional" id="group_confirm_template_input">
			<label for="group_confirm_template">Confirmation Page template<br>
			<%= button_to_function "get default", "get_default('confirm')" %><br>
					<%= button_to_function "test", "test_template('confirm')" %>	
			</label>
			<textarea id="group_confirm_template" name="group[confirm_template]" rows="5"><%= @group.confirm_template %></textarea>
		</li>

		<% f.input :confirm_email_template, :label => "Confirmation e-mail template" %>
		<li class="text optional" id="group_confirm_email_template_input">
			<label for="group_confirm_email_template">Confirmation e-mail template<br>
			<%= button_to_function "get default", "get_default('confirm_email')" %><br>
					<%= button_to_function "test", "test_template('confirm_email')" %>	
			</label>
			<textarea id="group_confirm_email_template" name="group[confirm_email_template]" rows="5"><%= @group.confirm_email_template %></textarea>
		</li>

		<% f.input :confirm_welcome_template, :label => "Confirmed Participant Welcome page" %>
		<li class="text optional" id="group_confirm_welcome_template_input">
			<label for="group_confirm_welcome_template">Confirmed Participant Welcome page<br>
			<%= button_to_function "get default", "get_default('confirm_welcome')" %>	<br>
					<%= button_to_function "test", "test_template('confirm_welcome')" %>
			</label>
			<textarea id="group_confirm_welcome_template" name="group[confirm_welcome_template]" rows="5"><%= @group.confirm_welcome_template %></textarea>
		</li>		
				
		<%= f.input :alt_logins, :label=>"Allow Facebook/Twitter logins?", :as => :boolean %>
	<% end %>

	<p>
	  <input type="button" value="Cancel" onclick="viewrec1(<%= @group.id.to_i %>)" />
	  <input type="submit" value="Save" />
	</p>

<% end %>

<script>
function get_default(which) {
	if (!$('#group_'+which+'_template')) {
		alert("That doesn't seem to exist");
		return;
	} else if ($('#group_'+which+'_template').val()!='') {
		alert("Please empty the template field first, if you wish to overwrite it with the default");
		return;
	}
	var pars = "which="+which;
	$.ajax({
     type: "GET",
     url: "/groups/<%= @group.id %>/get_default",
     data: pars,
     complete: function(t){	
       $('#group_'+which+'_template').val(t.responseText);
     }
   });	
}
function test_template(which) {
	//if ($('#group_'+which+'_template').val()=='') {
	//	alert("There's no template to test");
	//	return;
	//}	
	window.open("/groups/<%= @group.id %>/test_template?which="+which, '_blank');
}
</script>


