<%= render(:partial => 'groups/menu')%>

<%= semantic_form_for( @group, :html => { :multipart => true } ) do |f| %>

	<%= f.inputs do %>
		<%= f.input :name, :required => true %>
		<%= f.input :shortname, :label => "Prefix", :required => true %>
		<%= f.input :owner, :as => :select, :collection=>@group.participants.collect{|p| [p.name,p.id]} %>
		<%= f.input :description %>
		<%= f.input :moderation %>
		<%= f.input :openness, :label => "Membership", :as => :select, :collection =>GROUP_OPENNESS %>
		<%= f.input :visibility, :as=>:select, :collection =>GROUP_VISIBILITY %>
		<%= f.input :has_mail_list, :label => "Has mailing list" %>
		<%= f.input :logo, :as=>:file %>			
		<li class="select optional" id="group_has_mail_list_input">
		<label>Meta Categories</label>
		<div style="float:left">
		<% for metamap in @metamaps %>
			<% checked = @has_metamaps[metamap.id] ? "checked" : "" %>
			<input <%= checked %> id="metamap_<%= metamap.id %>" name="metamap[<%= metamap.id %>]" type="checkbox" value="1"> <%= metamap.name %><br>		
		<% end %>
		</div>
		</li>
		<%= f.input :required_meta, :label=>"Meta choices required at signup?", :as=>:boolean %>		
		<%= f.input :front_template, :label => "Front Page template" %>
		<%= f.input :member_template, :label => "Home Page template" %>
		
		<% f.input :invite_template, :label => "Invitation e-mail template" %>
		<li class="text optional" id="group_invite_template_input">
			<label for="group_invite_template">Invitation e-mail template<br>
			<%= button_to_function "get default", "get_default('invite')" %>	
			</label>
			<textarea id="group_invite_template" name="group[invite_template]" rows="5"><%= @group.invite_template %></textarea>
		</li>

		<% f.input :import_template, :label => "Import e-mail template" %>
		<li class="text optional" id="group_import_template_input">
			<label for="group_import_template">Import e-mail template<br>
			<%= button_to_function "get default", "get_default('import')" %>	
			</label>
			<textarea id="group_import_template" name="group[import_template]" rows="5"><%= @group.import_template %></textarea>
		</li>
		
		<%= f.input :signup_template, :label => "Signup Page template" %>
		<%= f.input :confirm_template, :label => "Confirmation Page template" %>
		<%= f.input :confirm_email_template, :label => "Confirmation e-mail template" %>
		<%= f.input :alt_logins, :label=>"Allow Facebook/Twitter logins?", :as => :boolean %>
	<% end %>

	<p>
	  <input type="button" value="Cancel" onclick="viewrec1(<%= @group.id.to_i %>)" />
	  <input type="submit" value="Save" />
	</p>

<% end %>

<script>
function get_default(which) {
	if (!$('#group_'+which+'_template')) {
		alert("That doesn't seem to exist");
		return;
	} else if ($('#group_'+which+'_template').val()!='') {
		alert("Please empty the template field first, if you wish to overwrite it with the default");
		return;
	}
	var pars = "which="+which;
	$.ajax({
     type: "GET",
     url: "/groups/<%= @group.id %>/get_default",
     data: pars,
     complete: function(t){	
       $('#group_'+which+'_template').val(t.responseText);
     }
   });	
}
</script>


