<%= render(:partial => 'groups/menu')%>

<form id="searchform" style="clear:both">
<input type="hidden" id="authenticity_token" name="authenticity_token" value="<%= form_authenticity_token %>">
<input type="hidden" id="in_group_id" name="in_group_id" value="<%= session[:group_id].to_i %>">	
<input type="hidden" id="from" name="from" value="<%= @from %>">	
	
<div id="forumcontrol">
	
	<div id="forumcontrol1">
	
		<div class="right">
		<input type="button" value="More Options" id="optionbutton" onclick="toggleoptions()">
		<% if @is_member -%>
		<input type="button" value="Start New Thread" id="newthreadbutton" onclick="newitem('<%= form_authenticity_token %>')">
		<% end -%>
		</div>

		<div class="lefttitle">Sort by:</div>
		<div class="leftfield">
			<% sortarr = [['Date','items.id desc'],['Value','*value*'],['Approval','*approval*'],['Interest','*interest*'],['Controversy','*controversy*']] %>
			<%= select_tag "sortby", options_for_select(sortarr,@sortby), :onchange=>"list()" %>
		</div>

		<div class="lefttitle">Threads:</div>
		<div class="leftfield">
		<%= select_tag "threads", options_for_select([['None',''],['Root+Replies','flat'],['Root only','root'],['Tree View','tree']],@threads), :onchange=>"list()" %>
		</div>	
	
	</div><!--forumcontrol1-->
	
	<div id="forumcontrol3">

    <% if true -%>
		<div class="lefttitle">Tags:</div>
		<div class="leftfield">
		<%= select_tag "tag", options_for_select([['* All *','']] + Item.where(:group_id=>@group_id).tags.split(/[, ]+/),@tag), :onchange=>"list()" %>
		</div>
		<% end -%>
		<div class="lefttitle">Sub-group:</div>
		<div class="leftfield">
		<%= select_tag "subgroup", options_for_select([['* Include my subgroups *','my'],['* Include all subgroups *','*'],['* No subgroups *','no']] + @all_subgroups), :onchange=>"list()" %>
		</div>

		<div class="lefttitle">Show:</div>
		<div class="leftfield">
		<%= select_tag "perscr", options_for_select([['25 messages',25],['50 messages',50],['100 messages',100]],@perscr), :onchange=>"list()" %>
		</div>

		<div class="lefttitle">Discussion:</div>
		<div class="leftfield">
		<%= select_tag "dialog_id", options_for_select([['*All messages*',0],['*No discussion messages*',-1]]+@dialogsin.collect{|c| [c.dialog.name,c.dialog.id]},@dialog_id), :onchange=>"list()" %>
		</div>
	
		<%= hidden_field_tag :limit_group_id, @group_id %>
		<%= hidden_field_tag "from", "group" %>
		<%= hidden_field_tag :page, 1 %>
	
	</div><!--forumcontrol3-->
	
</div>
</form>

<div id="newforumitem" class="newforumitem" style="display:none"></div>

<div id="itemlist">
<%= render(:partial => 'items/list')%>
</div>

<script>
var cur_item_id = 0;
</script>
<% if @new_signup -%>
<div id="welcomepopup" class="modaldiv">
<%= render(:partial => 'dialogs/welcome')%>
</div>
<script>
$('#welcomepopup').modal();
$(document).ready(function() {
	if (!CKEDITOR) {
		alert('CKEDITOR not defined');
	}
});
</script>
<% end -%>