<%= render(:partial => 'groups/menu')%>

<h3 style="clear:both">Group Participant: <%= @group_participant.participant.name %></h3>

<%= semantic_form_for @group_participant, :url => "/groups/#{@group.id}/group_participant_save", :html=>{:id=>"group_participant"} do |f| %>

	<%= f.inputs do %>

		<%= hidden_field_tag :group_participant_id, @group_participant.id %>
		<%= hidden_field_tag :members_active, @members_active.to_i %>

		<li class="text optional" id="group_front_template_input">
			<label>Profile</label>
			<a href="/participant/<%= @participant.id %>/profile">#<%= @participant.id %></a>
		</li>

		<li class="text optional" id="group_front_template_input">
			<label>Name</label>
			<a href="/participant/<%= @participant.id %>/profile"><%= @participant.name %></a>
		</li>

		<li class="text optional" id="group_front_template_input">
			<label>Intermix Status</label>
			<%= @participant.status ? @participant.status : '???' %>
		</li>
		
		<hr>

		<li><b>Group Membership Settings:</b></li>

		<%= f.input :moderator, :as=>:boolean %>
		<%= f.input :active, :as=>:boolean %>

	<% end %>

	<div style="float:left"><input type="button" value="Cancel" onclick="window.location='/groups/<%= @group_id %>/members<%= @members_active.to_i>=0 ? "?active=#{@members_active}" : "" %>'"> <input type="submit" value="Save"></div>
	
	<div style="float:right"><input type="button" value="Remove from group" onclick="if(confirm('Are you sure you want to remove this group member?')) {window.location='/group_participants/<%= @group_participant.id %>/remove<%= @members_active.to_i>=0 ? "?active=#{@members_active}" : "" %>';}"></div>

	<div style="clear:both;height:0">

<% end %>
