<%= render(:partial => 'groups/menu')%>

<h3 style="clear:both">Import</h3>


<form action="/groups/<%= @group.id %>/importdo" method="post">
<%= hidden_field_tag :authenticity_token, form_authenticity_token %>

<% if false -%>	
<p>Enter names and addresses, in this format: Email;First;Last,Gender(M/F),Country of origin. Last two optional. One person per line:</p>
<% end -%>

<p>Enter names and addresses, in this format: Email;First;Last;CountryOfResidence;... One person per line:</p>

<p>Optional metatag fields after the four fixed fields:<br>
	<%= select_tag "meta_1", options_for_select([['',0]]+@metamaps.collect{|m| ["#{m.id}: #{m.name}",m.id]}) %>
	<%= select_tag "meta_2", options_for_select([['',0]]+@metamaps.collect{|m| ["#{m.id}: #{m.name}",m.id]}) %>
	<%= select_tag "meta_3", options_for_select([['',0]]+@metamaps.collect{|m| ["#{m.id}: #{m.name}",m.id]}) %><br>
	Alternatively, add arbitary metatag fields after the first 4, of the format tagname:tagvalue.<br>E.g. ;Gender affiliation:Male;Nationality:Albanian.<br>They must be spelled exactly like in the list. Or you can use their ID numbers:<br>
	E.g. ;gender:207;age:406.<br>
	Gender codes: male=207, female=208. Age codes: young=405, middle-aged=406, senior=407
</p>

<p><%= text_area_tag 'new_text', nil, :rows => 5, :cols => 30 %></p>

<p><input type="submit" value="Submit"></p>

<p>Optional e-mail message to send to new members:<br>
<%= text_field_tag 'subject', @subject, :style => 'width: 350px' %><br>
<%= text_area_tag 'messtext', @messtext, :rows => 3, :cols => 30 %></p>

</form>