<h3>Groups</h3>

<% if @groupsin.length > 0 -%>
<p style="font-size:14px;font-weight:bold;">You are a member<%= (@ismoderator or session[:is_hub_admin] or session[:is_sysadmin]) ? "/moderator" : "" %> of these groups:</p>
<% else -%>
<p>You're not a member of any groups</p>
<% end -%>

<ul>
<% for gp in @groupsin -%>
	<% if gp.group -%>
		<% dom = ((gp.group.shortname.to_s != "") ? "#{gp.group.shortname}.#{ROOTDOMAIN}" : "#{BASEDOMAIN}") %>
		<li><a href="http://<%= dom %>/groups/<%= gp.group.id %>/forum"><%= gp.group.name %></a>
			(<%= gp.group.group_participants_count.to_i %>)
			<a href="http://<%= dom %>/groups/<%= gp.group.id %>/view">info</a>
		  <% if gp.moderator or session[:is_hub_admin] or session[:is_sysadmin] -%>
		  <a href="http://<%= dom %>/groups/<%= gp.group.id %>/admin">administrate</a> 
		  <% end -%>
		<a href="http://<%= dom %>/groups/<%= gp.group.id %>/unjoin" onclick="return confirm('Are you sure you want to leave this group?')">leave</a></li>
	<% end -%>
<% end -%>
</ul>


<% if @groupsopen.length > 0 -%>

	<p style="font-size:14px;font-weight:bold;">These are <%= @groupspublic.length > 0 ? 'other ' : '' %>groups - click on the name for details:</p>

	<ul>
	<% for group in @groupspublic -%>
		<% if not @groupsina.include?(group.id) -%>
			<% dom = ((group.shortname.to_s != "") ? "#{group.shortname}.#{ROOTDOMAIN}" : "#{BASEDOMAIN}") %>
			<li><a href="http://<%= dom %>/groups/<%= group.id %>/view"><%= group.name %></a> (<%= group.group_participants_count.to_i %>)
			<%= GROUP_OPENNESS_TEXT[group.openness] %>	
			</li>
			<% if false %> - Description: <%=raw group.description %> Members: <%= group.group_participants_count.to_i %> <a href="http://<%= dom %>/groups/<%= group.id %>/join"><%= group.openness=='open' ? "Join" : '' %></a><% end %>
		<% end -%>
	<% end -%>
	</ul>

<% else -%>
	<p>There are no other groups open to joining</p>
<% end -%>

<% if current_participant.sysadmin -%>
<p><a href="/groups/new">Create a new group</a></p>
<% end -%>
