<%= render(:partial => 'groups/menu')%>

<h3 style="clear:both">Invite new members</h3>


<form action="/groups/<%= @group.id %>/invitedo" method="post">
<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
	
<p>Invite somebody you're following:</p>

<p><%= select_tag 'follow_id', raw("<option></option>") + options_from_collection_for_select(@participant.idols, "id", "name") %></p>

<p>Invite any member:</p>

<p><%= select_tag 'member_id', raw("<option></option>") + options_from_collection_for_select(@members, "id", "name") %></p>

<p>Invite non-members to join (one e-mail per line):</p>

<p><%= text_area_tag 'new_text', nil, :rows => 5, :cols => 30 %></p>

<p><input type="submit" value="Submit"></p>

<p>Optional e-mail message to send to prospective members:<br><%= text_area_tag 'messtext', @messtext, :rows => 3, :cols => 30 %></p>

</form>