<h3>Moderation</h3>

<p><b>Group:</b> <%= @group.name %></p>

<p><b>Active Members:</b> <a href="/groups/<%= @group.id %>/members?active=1"><%= @group.active_members.count %></a></p>

<p><b>Inactive Members:</b> <a href="/groups/<%= @group.id %>/members?active=0"><%= @group.non_active_members.count %></a></p>


<p><b>Items Posted:</b> <%= @group.items_count.to_i %></p>

