<%= render(:partial => 'groups/menu')%>

<h3 style="clear:both">Subgroup <%= @subgroup.tag %> Members</h3>

<table class="listtable">
<tr><th><input type="checkbox" name="markall" class="cammark" title="mark all" value="1" onclick="markall()" /></th><th>Name</th></tr>	
<% for member in @members -%>
<tr>
	<td><input type="checkbox" name="mark[]" class="cammark" title="mark" value="<%= member.id %>" /></td>
	<td><a href="/participant/<%= member.participant_id %>/profile"><%= member.participant.name %></a></td>
</tr>
<% end -%>
</table>

<p><%= @members.length %> records</p>
