<%= render(:partial => 'groups/menu')%>

<h3 style="clear:both">Subgroups</h3>

<div style="background-color:#ece9e7;padding:5px;text-align:center;margin-bottom:15px;">Join a subgroup to receive subgroup messages via email.<br>Leave a subgroup to stop receiving emails from that subgroup.</div>

<ul>
<% for group_subtag in @group.group_subtags -%>
  <% numposts = Item.where(:group_id=>@group.id).tagged_with(group_subtag.tag, :on => :subgroups).count %>
  <% nummembers = GroupSubtagParticipant.where(:group_id=>@group.id).where(:group_subtag_id=>group_subtag.id).count %>
  <% ismember = (GroupSubtagParticipant.where(:group_id=>@group.id).where(:group_subtag_id=>group_subtag.id).where(:participant_id=>current_participant.id).count > 0) %>

	<h3><%= group_subtag.tag %>
  <span style="font-size:13px;font-weight:bold;">&nbsp;  	
	<% if ismember %>
	<a href="/groups/<%= @group.id %>/subgroup_unjoin?subgroup_id=<%= group_subtag.id%>" onclick="return confirm('Are you sure you want to leave this subgroup?')">leave</a>
  <% else %>
  <a href="/groups/<%= @group.id %>/subgroup_join?subgroup_id=<%= group_subtag.id%>">join</a>
  <% end %>
  </span>
  </h3>
	<ul>
	<li><a href="/groups/<%= @group.id %>/subgroup_members?subgroup_id=<%= group_subtag.id%>">members</a> (<%= nummembers %>)</li>
	<li><a href="/groups/<%= @group.id %>/forum?subgroup=<%= group_subtag.tag %>">posts</a> (<%= numposts %>)</li>
	</ul>
<% end -%>	
</ul>

<% if @is_moderator %>
  <%= form_tag("/groups/#{@group.id}/subgroup_add_to", method: "post") do %>
  Admin: add user
  <%= select_tag :participant_id, raw('<option value="0"></option>') + options_from_collection_for_select(@group.participants, 'id', 'name') %>
  to subgroup: 
  <%= select_tag :add_subgroup_id, options_for_select(@group.group_subtags.collect{|s| [s.tag,s.id]}) %>
  <%= submit_tag("go!") %>
  <% end %>
<% end %>
