<%= render(:partial => 'groups/menu')%>

<% if @group.logo.exists? then -%>
<p><%= image_tag @group.logo.url %></p>
<% else %>
<p>[no logo]</p>
<% end -%>

<p><b>Prefix:</b> <%= @group.shortname %></p>

<p><b>Description:</b> <%=raw @group.description %></p>

<p><b>Short Description:</b> <%=raw @group.shortdesc %></p>

<p><b>Created:</b> <%= @group.created_at.strftime("%m/%d/%Y") %></p>

<p><b>Owner:</b> <%= @group.owner_participant ? @group.owner_participant.name : @group.owner.to_i %></p>

<% if (@is_member and @is_moderator) or session[:is_hub_admin] or session[:is_sysadmin] -%>
<p><b>Members:</b> <a href="/groups/<%= @group.id %>/members?active=1"><%= @group.active_members.count %></a></p>
<% else -%>
<p><b>Members:</b> <%= @group.active_members.count %></p>
<% end -%>

<p><b>Items Posted:</b> <%= @group.items_count.to_i %></p>

<p><b>Moderated:</b> <%= @group.moderation ? 'yes' : '' %></p>

<p><b>Membership:</b> <%= GROUP_OPENNESS_TEXT[@group.openness] %>
<% if not @is_member and @group.openness == 'open' -%>	
<a href="/groups/<%= @group.id %>/join">Join</a>
<% elsif @group.openness == 'open_to_apply'%>
Apply
<% end -%>	
</p>

<p><b>Group Visibility:</b> <%= GROUP_VISIBILITY_TEXT[@group.visibility] %></p>

<p><b>Message Visibility:</b> <%= GROUP_MESSAGE_VISIBILITY_TEXT[@group.message_visibility] %></p>

<p><b>Has mailing list:</b> <%= @group.has_mail_list ? 'yes' : 'no' %></p>

<% if @group.twitter_post and @group.twitter_username.to_s != '' and @group.twitter_oauth_token.to_s != '' -%>
<p><b>Twitter:</b> <%= @group.tweet_what == 'roots' ? 'Root' : 'All' %> posts with a minumum of <%= @group.tweet_approval_min.to_i %> positive approval ratings will be posted on <a href="http://twitter.com/<%= @group.twitter_username %>" target="_blank">twitter.com/<%= @group.twitter_username %></a><%= " with the hashtag ##{@group.twitter_hash_tag}" if @group.twitter_hash_tag %></p> 
<% end -%> 

<p><b>Discussions:</b>
<% if @group.dialogs.length == 0 -%>
	none
<% else -%>
	<% for dialog in @group.dialogs -%>
		<br><a href="/dialogs/<%= dialog.id %>/forum"><%= dialog.name %></a>
	<% end -%>
<% end -%>	
<p>	

<% if @is_member -%>
	<% if @group.owner.to_s == current_participant.id -%>
		<p>You are the owner of this group. You can not leave it.</p>
	<% else -%>
		<p>You are a member of this group. <a href="/groups/<%= @group.id %>/unjoin" onclick="return confirm('Are you sure you want to leave this group?')">Leave</a></p>
	<% end -%>	
	<% if @group.shortname -%>
	<p>You can post to this group via e-mail by writing to <%= @group.shortname %>-list@<%= MAILDOMAIN %> from your <%= current_participant.email %> account.</p>
	<% end -%>
	<% if (@is_moderator or session[:is_hub_admin] or session[:is_sysadmin]) -%>
	<p>You are a group moderator. You can <a href="/groups/<%= @group.id %>/admin">administer</a> the group</p>
	<% end -%>
<% elsif session[:is_hub_admin] or session[:is_sysadmin] -%>
<p>You can <a href="/groups/<%= @group.id %>/admin">administer</a> the group</p>
<% end -%>
