<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>

<p>
<b>Getting Started, 123</b>
<ol>
<li>Read down the online <a href="https://<%= BASEDOMAIN %>/dialogs/<%= VOH_DISCUSSION_ID %>/slider?auth_token=<%= @cdata['recipient'].authentication_token %>"Forum</a> list.</li>
<li>Vote thumbs up or thumbs down on items you particularly like or dislike.</li>
<li>Use the "Add my voice" button to start a new topic or click the "Add Comment" link to reply to one of the items.</li>
</ol>
<b>To block all emails, <a href="http://<%= BASEDOMAIN %>/optout?auth_token=<%= @cdata['recipient'].authentication_token %>">click here</a></b>.
</p>

<hr/>


<div>
<%=raw @message %>
</div>

<hr style="clear:both">

<br>
<% if @cdata and @cdata['logo'].to_s != '' -%>	
<img src="<%= @cdata['logo'] %>" alt="logo" />
<% else -%>
<img src="https://<%= BASEDOMAIN %>/images/logo.gif" alt="logo" />
<% end -%>

<img src="https://<%= BASEDOMAIN %>/pixel/e_<%= @cdata.has_key?('email_id') ? @cdata['email_id'] : 0 %>.gif" width="0" height="0" border="0" style="display:none" alt="logo" data-template="digest">

</body>
</html>