<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>

<% if false -%>
<img src="https://<%= BASEDOMAIN %>/images/logo.gif" alt="logo" />
<% end -%>

<p>
<% if false -%>  
<a href="https://<%= BASEDOMAIN %>/groups?auth_token=<%= @cdata['recipient'].authentication_token %>">Log in</a> to respond to or rate any of these posts, to access more features, or if you're having trouble seeing this. 
<% end -%>
To go to the Order out of Chaos Voices of Humanity forum, <a href="https://<%= BASEDOMAIN %>/dialogs/<%= VOH_DISCUSSION_ID %>/slider?auth_token=<%= @cdata['recipient'].authentication_token %>">click here</a>.<br>
To block emails from the Voices of Humanity social media, <a href="https://<%= BASEDOMAIN %>/optout?auth_token=<%= @cdata['recipient'].authentication_token %>">click here</a>.
</p>

<hr/>


<div>
<%=raw @message %>
</div>

<hr style="clear:both">

<img src="https://<%= BASEDOMAIN %>/pixel/e_<%= @cdata.has_key?('email_id') ? @cdata['email_id'] : 0 %>.gif" width="0" height="0" border="0" style="display:none" alt="logo">

</body>
</html>