<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
	
<%	
if @cdata['dialog'] and @cdata['dialog'].shortname.to_s != "" and @cdata['group'] and @cdata['group'].shortname.to_s != ""
	dom =  "#{@cdata['dialog'].shortname}.#{@cdata['group'].shortname}.#{ROOTDOMAIN}"
elsif @cdata['group'].shortname.to_s != ""
	dom =  "#{@cdata['group'].shortname}.#{ROOTDOMAIN}"
else
	dom = "#{BASEDOMAIN}"
end
%>	
	
<p>The following message was posted on <a href="http://<%= dom %>/items/<%= @cdata['item'].id.to_i %>/view?auth_token=<%= @cdata['recipient'].authentication_token %>">InterMix</a> in the '<%= @cdata['group'].name %>' forum, where you are a member:</p>

<hr/>

<div>
<% if @cdata['item'].media_type == 'picture' -%>
	<img src="http://<%= dom %>/images/data/items/<%= @cdata['item'].id %>/big.jpg" alt="picture"><br>
	<%=raw @cdata['item'].short_content %>	
<% elsif @cdata['item'].media_type == 'link' -%>	
	<a href="<%=raw @cdata['item'].link %>" target="_blank"><%=raw @cdata['item'].link %></a><br>
	<%=raw @cdata['item'].short_content %>
<% elsif @cdata['item'].media_type == 'video' -%>
	<%=raw (@cdata['item'].oembed_response and @cdata['item'].oembed_response['thumbnail_url'].to_s!='') ? "<img src=\"#{@cdata['item'].oembed_response['thumbnail_url']}\" class=\"item_img_sm_w\" alt=\"thumbnail\">" : 'video' %><br>
	<%=raw @cdata['item'].short_content %>
<% elsif @cdata['item'].media_type == 'audio' -%>
	<%=raw (@cdata['item'].oembed_response and @cdata['item'].oembed_response['thumbnail_url'].to_s!='') ? "<img src=\"#{@cdata['item'].oembed_response['thumbnail_url']}\" class=\"item_img_sm_w\" alt=\"thumbnail\">" : 'video' %><br>
	<%=raw @cdata['item'].short_content %>
<% elsif @message and @message.to_s != '' %>
	<%=raw @message %>
<% elsif @cdata['item'].html_content.to_s != '' %>
	<%=raw @cdata['item'].html_content %>
<% else -%>	
	<%=raw @cdata['item'].short_content %>
<% end -%>
</div>

<p><a href="http://intermix.org/ccattribution3point0.htm" alt="Click to read the Creative Commons License which governs all items posted here." title="Click to read the Creative Commons License which governs all items posted here." target="_blank"><%= image_tag("http://#{BASEDOMAIN}/assets/ccattribution3point0.png",:style=>"margin:8px 0 6px 0;") %></a></p>

<hr/><br/>

To respond to <a href="http://<%= dom %>/items/<%= @cdata['item'].id.to_i %>/view?auth_token=<%= @cdata['recipient'].authentication_token %>">this post</a>, log into the <a href="http://<%= dom %>/groups/<%= @cdata['item'].group_id.to_i %>/forum?auth_token=<%= @cdata['recipient'].authentication_token %>">Forum</a>, or simply reply to this message. Please remove quotes and footers from previous messages. For available e-mail commands, send a blank message to <%= @cdata['group'].shortname %>-admin@intermix.cr8.com for an automated answer. If you have problems, write to the moderator at <%= @cdata['group'].shortname %>-owner@intermix.cr8.com. To block emails from the Voices of Humanity social media, <a href="http://<%= BASEDOMAIN %>/optout?auth_token=<%= @cdata['recipient'].authentication_token %>">click here</a>.

<hr/>

<% if @cdata and @cdata['logo'].to_s != '' -%>	
<img src="<%= @cdata['logo'] %>"/>
<% else -%>
<img src="http://<%= BASEDOMAIN %>/assets/logo.gif"/>
<% end -%><br/>
<%= @cdata['group'].name if @cdata['group'] %>

<br/><br/>


<img src="http://<%= BASEDOMAIN %>/pixel/<%= @cdata['item'].id.to_i if @cdata['item'] %>_<%= @cdata['recipient'].id.to_i if @cdata['recipient'] %>.gif" width="0" height="0" border="0" style="display:none">

</body>
</html>


