<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
	
<%	
if @cdata['dialog'] and @cdata['dialog'].shortname.to_s != ""
	dom =  "#{@cdata['dialog'].shortname}.#{ROOTDOMAIN}"
elsif @cdata['dialog'] and @cdata['dialog'].shortname.to_s != "" and @cdata['group'] and @cdata['group'].shortname.to_s != ""
	dom =  "#{@cdata['dialog'].shortname}.#{@cdata['group'].shortname}.#{ROOTDOMAIN}"
elsif @cdata['group'].shortname.to_s != ""
	dom =  "#{@cdata['group'].shortname}.#{ROOTDOMAIN}"
else
	dom = "#{BASEDOMAIN}"
end
%>

<% if @cdata and @cdata['is_instant'] -%>
<p>To go to the Order out of Chaos Voices of Humanity forum, <a href="<%= @cdata['forum_link'] %>">click here</a>.<br>
To block emails from the Voices of Humanity social media, <a href="http://<%= BASEDOMAIN %>/optout?auth_token=<%= @cdata['recipient'].authentication_token %>">click here</a>.
</p>
<% end -%>
	
<hr/>

<div>
<% if @message.to_s != '' -%>
    <%=raw @message %>    
<% elsif @cdata['item'].media_type == 'picture' -%>
	<img src="https://<%= dom %>/images/data/items/<%= @cdata['item'].id %>/big.jpg" alt="picture"><br>
	<%=raw @cdata['item'].short_content %>	
<% elsif @cdata['item'].media_type == 'link' -%>	
	<a href="<%=raw @cdata['item'].link %>" target="_blank"><%=raw @cdata['item'].link %></a><br>
	<%=raw @cdata['item'].short_content %>
<% elsif @cdata['item'].media_type == 'video' -%>
	<%=raw (@cdata['item'].oembed_response and @cdata['item'].oembed_response['thumbnail_url'].to_s!='') ? "<img src=\"#{@cdata['item'].oembed_response['thumbnail_url']}\" class=\"item_img_sm_w\" alt=\"thumbnail\">" : 'video' %><br>
	<%=raw @cdata['item'].short_content %>
<% elsif @cdata['item'].media_type == 'audio' -%>
  <p><a href="<%= @cdata['item'].link %>" target="_blank"><%= @cdata['item'].subject %></a></p>
  <p>
	<%=raw (@cdata['item'].oembed_response and @cdata['item'].oembed_response['thumbnail_url'].to_s!='') ? "<img src=\"#{@cdata['item'].oembed_response['thumbnail_url']}\" class=\"item_img_sm_w\" alt=\"thumbnail\">" : "<a href=\"#{@cdata['item'].link}\" target=\"_blank\">audio</a>" %></p>
	<%=raw @cdata['item'].short_content %>
<% elsif @message and @message.to_s != '' %>
	<%=raw @message %>
<% elsif @cdata['item'].html_content.to_s != '' %>
	<%=raw @cdata['item'].html_content %>
<% else -%>	
	<%=raw @cdata['item'].short_content %>
<% end -%>
</div>

<p><a href="https://intermix.org/ccattribution4point0.htm" alt="Click to read the Creative Commons License which governs all items posted here." title="Click to read the Creative Commons License which governs all items posted here." target="_blank"><%= image_tag("https://#{BASEDOMAIN}/images/ccattribution4point0.png",:style=>"margin:8px 0 6px 0;") %></a></p>

<hr>

<p id="footer">
	<a href="https://<%= dom %>/items/<%= @cdata['item'].id.to_i %>/view?auth_token=<%= @cdata['recipient'].authentication_token %>#reply">One Click reply</a>.
</p>

<hr/>

<% if @cdata and @cdata['logo'].to_s != '' -%>	
<img src="<%= @cdata['logo'] %>"/>
<% else -%>
<img src="https://<%= BASEDOMAIN %>/images/logo.gif"/>
<% end -%><br/>
<% if false -%>
<%= @cdata['group'].name if @cdata['group'] %>
<% end -%>

<br/><br/>


<img src="https://<%= BASEDOMAIN %>/pixel/<%= @cdata['item'].id.to_i if @cdata['item'] %>_<%= @cdata['recipient'].id.to_i if @cdata['recipient'] %>.gif" width="0" height="0" border="0" style="display:none">

</body>
</html>


