<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>

<% if @cdata and @cdata['logo'].to_s != '' -%>	
<img src="<%= @cdata['logo'] %>"/>
<% else -%>
<img src="http://<%= BASEDOMAIN %>/images/logo.gif"/>
<% end -%>
<br/><br/>

<p><a href="http://<%= BASEDOMAIN %>/items/<%= @cdata['item'].id.to_i %>/view?auth_token=<%= @cdata['recipient'].authentication_token %>">Log in</a> to see this post, to access more features, or if you're having trouble seeing this.</p>

<div>
<%=raw @message %>
</div>

<hr/>

To respond to <a href="http://<%= BASEDOMAIN %>/items/<%= @cdata['item'].id.to_i %>/view?auth_token=<%= @cdata['recipient'].authentication_token %>">this post</a>, log into the <a href="http://<%= BASEDOMAIN %>/forum?auth_token=<%= @cdata['recipient'].authentication_token %>">Forum</a>, or simply reply to this message. Please remove quotes and footers from previous messages.

<img src="http://<%= BASEDOMAIN %>/pixel/<%= @cdata['item'].id.to_i if @cdata['item'] %>_<%= @cdata['recipient'].id.to_i if @cdata['recipient'] %>.gif" width="0" height="0" border="0" style="display:none">

</body>
</html>