<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>

<p>
<b>Getting Started, 123</b>
<ol>
<li>Read down the online Forum list.</li>
<li>Vote thumbs up or thumbs down on items you particularly like or dislike.</li>
<li>Use the "Add my voice" button to start a new topic or click the "Add Comme nt" link to reply to one of the items.</li>
</ol>
To block all emails, <a href="http://<%= BASEDOMAIN %>/optout?auth_token=<%= @cdata['recipient'].authentication_token %>">click here</a>.
</p>

<hr/>

<div>
<%=raw @message %>
</div>

<p><a href="https://intermix.org/ccattribution4point0.htm" alt="Click to read the Creative Commons License which governs all items posted here." title="Click to read the Creative Commons License which governs all items posted here." target="_blank"><%= image_tag("https://#{BASEDOMAIN}/images/ccattribution4point0.png",:style=>"margin:8px 0 6px 0;", alt: "creative commons logo") %></a></p>

<hr/>

<p id="footer">
	<a href="https://<%= BASEDOMAIN %>/items/<%= @cdata['item'].id.to_i %>/view?auth_token=<%= @cdata['recipient'].authentication_token %>#reply">One Click reply</a>.</p>

<% if @cdata and @cdata['logo'].to_s != '' -%>	
<img src="<%= @cdata['logo'] %>" alt="logo" />
<% else -%>
<img src="https://<%= BASEDOMAIN %>/images/logo.gif" alt="logo" />
<% end -%>

<img src="https://<%= BASEDOMAIN %>/pixel/e_<%= @cdata.has_key?('email_id') ? @cdata['email_id'] : 0 %>.gif" width="0" height="0" border="0" style="display:none" alt="pixel" data-template="item">

</body>
</html>