<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>

<% if @cdata and @cdata['logo'].to_s != '' -%>	
<img src="<%= @cdata['logo'] %>"/>
<% else -%>
<img src="https://<%= BASEDOMAIN %>/images/logo.gif"/>
<% end -%>
<br/><br/>

<% if @cdata and @cdata['is_instant'] -%>
<p>To go to the Order out of Chaos Voices of Humanity forum, <a href="<%= @cdata['forum_link'] %>">click here</a>.<br>
To block emails from the Voices of Humanity social media, <a href="http://<%= BASEDOMAIN %>/optout?auth_token=<%= @cdata['recipient'].authentication_token %>">click here</a>.
</p>
<% end -%>

<hr/>

<div>
<%=raw @message %>
</div>

<p><a href="https://intermix.org/ccattribution4point0.htm" alt="Click to read the Creative Commons License which governs all items posted here." title="Click to read the Creative Commons License which governs all items posted here." target="_blank"><%= image_tag("https://#{BASEDOMAIN}/images/ccattribution4point0.png",:style=>"margin:8px 0 6px 0;") %></a></p>

<hr/>

<p id="footer">
	<a href="https://<%= BASEDOMAIN %>/items/<%= @cdata['item'].id.to_i %>/view?auth_token=<%= @cdata['recipient'].authentication_token %>#reply">One Click reply</a>.</p>

<img src="https://<%= BASEDOMAIN %>/pixel/<%= @cdata['item'].id.to_i if @cdata['item'] %>_<%= @cdata['recipient'].id.to_i if @cdata['recipient'] %>.gif" width="0" height="0" border="0" style="display:none">

</body>
</html>