<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>

<% if false -%>
<img src="https://<%= BASEDOMAIN %>/images/logo.gif"/>
<p>Each new moon, the highest rated Voices of Humanity messages for the month are emailed to all active VoH subscribers. The Voice of Humanity-as-One is the overall highest rated message for the month. The Voice of Women is the highest rated message written by a woman and as rated by the women and similarly for the other Voices.</p>
<hr/>
<% end -%>

<div>
<%=raw @message %>
</div>

<hr style="clear:both">

<p>To block emails from the Voices of Humanity social media, <a href="https://<%= BASEDOMAIN %>/optout?auth_token=<%= @cdata['recipient'].authentication_token %>">click here</a>.</p>

<img src="https://<%= BASEDOMAIN %>/pixel/e_<%= @cdata.has_key?('email_id') ? @cdata['email_id'] : 0 %>.gif" width="0" height="0" border="0" style="display:none">

</body>
</html>