
<% x = 0 -%>
<table>
<% for item in @items -%>
	<% if x % 3 == 0 -%>
	<tr>
	<% end -%>
	<td class="galpictd" id="td_<%= item.id %>">
	<div class="galpicdiv"><img src="/images/data/items/<%= item.id %>/big.jpg" class="galpic" width="200" title="<%= "#{item.participant.first_name} #{item.participant.last_name}: #{item.short_content}" %>"><div class="xpic" title="flag as inappropriate" onclick="flagitem(<%= item.id %>)">⊠</div></div>
	<span style="font-family:Comic Sans MS"><%= "#{item.short_content} - #{item.participant.first_name} #{item.participant.last_name}" %></span>
	</td>
	<% x += 1 -%>
	<% if ((x % 3) == 0) or (x == @items.length) -%>
	</tr>
	<% end -%>
<% end -%>
</table>