<%= render(:partial => 'profiles/memenu')%>

<% if @participant and @participant.picture.exists? -%>
  <%= image_tag @participant.picture.url(:thumb) %>    
<% elsif @participant.fb_uid.to_i > 0 -%>
  <img src="https://graph.facebook.com/<%= @participant.fb_uid %>/picture" style="float:left;margin-left:10px" />
<% else -%>
  <img src="/images/default_user_icon-50x50.png">
<% end -%>

<% if @ownwall -%>
	<h3>Posted by <%= @participant.name %>:</h3>
<% else -%>
  <h3>Posted by <a href="/participant/<%= @participant.id %>/profile"><%= @participant.name %></a>:</h3>
<% end -%>

<form id="searchform">
<div id="forumcontrol">

<% if false and @participant_id == current_participant.id -%>
<input type="button" value="Post something to your Wall" id="newthreadbutton" onclick="newitem()">
<% end -%>

<%= hidden_field_tag "from", "wall" %>

</div>
</form>

<div style="clear:both;height:1px"></div>

<div id="newforumitem" class="newforumitem" style="display:none"></div>


<div id="slider_container" style="overflow:none;width:740px;min-height:600px">

  <div style="float:left;width:595px;min-height:600px">

    <div id="per_main" style="width:595px;min-height:600px">
  
      loading...
        
    </div>
  
    <input type="hidden" id="sortby" value="<%= @sortby %>">
    <input type="hidden" id="threads" value="<%= @threads %>">
    <input type="hidden" id="datefixed" value="<%= @datefixed %>">
    <input type="hidden" id="comtag" value="<%= @comtag %>">
    <input type="hidden" id="messtag" value="<%= @messtag %>">    
    
  </div>

  <div style="float:left;width:139px;padding-left:5px;" id="right_sidebar">
  
    <%= render(:partial => 'items/slider_sidebar') %>
  
  </div>

</div>


<script>
//function gotopage(page) {
//  window.location = '/me/wall?page=' + page;
//}
</script>

<%= render(:partial => 'items/slider_javascript') %>