<% if !@dialog.groups or !@dialog.groups.class==Array or @dialog.groups.length==0 -%>

<p>None</p>

<% else -%>

<table class="listtable">
  <tr>
    <th></th>
		<th>ID</th>
    <th>Name</th>
    <th>Openness</th>
    <th>Moderation</th>
    <th>Network</th>
		<th>Members</th>
		<th>Items</th>
    <th>Created</th>
  </tr>

<% odd_or_even = 0 %>
<% @dialog.groups.each do |group| %>
	<% odd_or_even = 1-odd_or_even%>
	<tr class="line<%= odd_or_even %>">
		<td><input type="checkbox" name="mark[]" class="adgmark" title="mark" value="<%= group.id %>" /></td>
		<td><%= group.id %></td>
    <td><%= group.name %></td>
		<td><%= group.openness %></td>
		<td><%= group.moderation ? 'yes' : '' %></td>
		<td><%= group.is_network ? 'yes' : '' %></td>
		<td align="right"><%= link_to_function group.group_participants_count.to_s, "getlist2(#{group.id})" %></td>
		<td align="right"><%= group.items_count %></td>
		<td><%= group.created_at.strftime("%Y-%m-%d %H:%M") %></td>
  </tr>
<% end %>
</table>

<% end -%>

<p><a href="javascript:add_group()">Add</a>: <%= select_tag :new_group, options_from_collection_for_select(@groups, "id", "name") %> | <a href="javascript:del_group()">Delete marked</a></p>
