<%= semantic_form_for [:admin, @community] do |f| %>

	<%= f.inputs do %>
		<%= f.input :tagname, :required => true %>
		<%= f.input :fullname, :required => true %>
		<%= f.input :description %>
    <%= f.input :major, :label => "Major checkbox?" %>
    <%= f.input :more, :label => "More communities list?" %>    
    <%= f.input :bold, :label => "Bold text?" %>
    <%= f.input :ungoals, :label => "UN Goal?" %>
    <%= f.input :sustdev, :label => "Sustainable Development Goal?" %>
    <%= f.input :conversation_id, :label => "Two country conversation", as: :select, collection: [['* none *','']]+Conversation.where(active: true).collect{|c| [c.name,c.id]} %>
		<%= f.input :moderated, :label => "Moderated?" %>
		<%= f.input :twitter_post, :label => "Post items to twitter?" %>
		<%= f.input :tweet_what, :label => "Items to tweet", :as => :select, :collection =>[['* all *'],['root messages','roots']] %>
		<%= f.input :tweet_approval_min, :label => "Min. pos. approvals before tweeting" %>		
		<%= f.input :twitter_username, :label => "Twitter username" %>		
		<%= f.input :twitter_hash_tag, :label => "Twitter #hashtag" %>
    <li><label>Twitter access</label><%= @community.twitter_post and @community.twitter_username.to_s != '' ? ( @community.twitter_oauth_token.to_s != '' ? 'authorized' : raw("not yet authorized. click <a href=\"/me/twitauth\">this link</a> to authorize posting.")  ) : 'none' %></li>
		<%= f.input :context, :label => "Type/context" %>		
		<%= f.input :context_code, :label => "Reference ID" %>
		<%= f.input :voice_of_humanity, :label => "Voice of Humanity" %>		
		<%= f.input :voice_of_women, :label => "Voice of Women" %>		
		<%= f.input :voice_of_men, :label => "Voice of Men" %>		
		<%= f.input :voice_of_young, :label => "Voice of Youth" %>		
		<%= f.input :voice_of_middleage, :label => "Voice of Experience" %>		
		<%= f.input :voice_of_old, :label => "Voice of Wisdom" %>		
  <% end %>

<% end %>

<p>
  <input type="button" value="Cancel" onclick="viewrec1(<%= @community.id.to_i %>)" />
  <input type="button" value="Save" onclick="saverec1()" />
</p>