<table class="edittable">
<tr><td class="left">ID:</td><td><%= @community.id %></td></tr>	
<tr><td class="left">Short Name:</td><td><%= @community.tagname %></td></tr>	
<tr><td class="left">Full Name:</td><td><%= @community.fullname %></td></tr>	
<tr><td class="left">Description:</td><td><%= @community.description %></td></tr>	
<tr><td class="left">Major?</td><td><%= @community.major ? 'yes' : 'no' %></td></tr>	
<tr><td class="left">Bold?</td><td><%= @community.bold ? 'yes' : 'no' %></td></tr>	
<tr><td class="left">UN Goal?</td><td><%= @community.ungoals ? 'yes' : 'no' %></td></tr>	
<tr><td class="left">Sust.Dev?</td><td><%= @community.sustdev ? 'yes' : 'no' %></td></tr>	
<tr><td class="left">Moderated?</td><td><%= @community.moderated ? 'yes' : 'no' %></td></tr>	
<tr><td class="left">Items to Tweet:</td><td><%= @community.tweet_what %></td></tr>	
<tr><td class="left">Min. Approvals:</td><td><%= @community.tweet_approval_min %></td></tr>
<tr><td class="left">Twitter username:</td><td><%= @community.twitter_username %></td></tr>	
<tr><td class="left">Twitter #hashtag:</td><td><%= @community.twitter_hash_tag %></td></tr>	
<tr><td class="left">Type/context:</td><td><%= @community.context %></td></tr>	
<tr><td class="left">Reference ID:</td><td><%= @community.context_code %></td></tr>	
<tr><td class="left">Voice of Humanity:</td><td><%= @community.voice_of_humanity %></td></tr>	
<tr><td class="left">Voice of Women:</td><td><%= @community.voice_of_women %></td></tr>	
<tr><td class="left">Voice of Men:</td><td><%= @community.voice_of_men %></td></tr>	
<tr><td class="left">Voice of Youth:</td><td><%= @community.voice_of_young %></td></tr>	
<tr><td class="left">Voice of Experience:</td><td><%= @community.voice_of_middleage %></td></tr>	
<tr><td class="left">Voice of Wisdom:</td><td><%= @community.voice_of_old %></td></tr>	
<tr><td class="left">Created:</td><td><%= @community.created_at.strftime("%Y-%m-%d %H:%M") %></td></tr>	
<tr><td class="left">Updated:</td><td><%= @community.updated_at.strftime("%Y-%m-%d %H:%M") %></td></tr>	
</table>

<p>
<a href="javascript:editrec1()">Edit</a> | 
<a href="javascript:delrec1()">Delete</a> |&nbsp;&nbsp;&nbsp;
<a href="javascript:list2()">Admins</a>
</p>

<script>
curid1 = <%= @community.id %>;
</script>