<p style="clear:both;padding:0 19px 0 0">
<% if @dsection == 'meta' -%>
<% @limit_group = Group.find_by_id(@limit_group_id) if @limit_group_id.to_i > 0 %>
<span style="font-size:16px"><%= @period_id.to_i==0 ? "Overall": "Decision" %> Results for Discussion:</span><br/><span style="font-size:20px"><%= @dialog.name %></span><span style="font-size:16px"><%= @period ? ": #{@period.name}" : "" %></span>
	<% if @limit_group %><br><span style="font-size:16px">Results for group: <span style="color:#900;font-weight:bold;"><%= @limit_group.name %></span></span><% end %>
<% else -%>
<% @group = Group.find_by_id(@group_id.to_i > 0 ? @group_id : session[:group_id]) if not @group %>
Group: <a href="/groups/<%= @group ? @group.id : 0 %>/forum" style="text-decoration:none;"><span style="font-size:20px;color:#000;"><%= @group ? @group.name : '[unknown]' %></span></a><br>
This Discussion: <span style="font-size:20px"><%= @dialog.name %>&nbsp;&nbsp;</span><img src="/assets/question-mark.png" class="tooltip" width="16" height="16" title="<%= @dialog.description.to_s != '' ? @dialog.description : "No description for this discussion" %>"><br>
<% if (@dialog.active_period and @sortby=='default') or @period_id.to_i > 0 -%>
This Decision Period: <span style="font-size:20px" id="period_name_heading"><%= (@period and @period.period_number.to_i > 0) ? "##{@period.period_number} " : ""%><%= @period ? ": #{@period.name}" : "" %>&nbsp;&nbsp;</span><img src="/assets/question-mark.png" class="tooltip" width="16" height="16" title="<%= show_period_instructions(@dialog,@period) %>">
	<% if @dsection == 'forum' and @period.shortdesc.to_s != '' -%>
	<br><div style="border:1px solid #000;width:90%;padding:8px 8px 0px 10px;"><%=raw @period.description %></div>
	<% end -%>
<% end -%>
<% end -%>

</p>

<% if true or session[:dialog_id].to_i == 0 -%>
<ul class="horizmenu">
<li><a class="menu<%= ' selected' if @dsection=='info' %>" href="/dialogs/<%= @dialog.id %>/view">Info</a></li>
<li><a class="menu<%= ' selected' if @dsection=='forum' %>" href="/dialogs/<%= @dialog.id %>/forum">List</a></li>
<li><a class="menu<%= ' selected' if @dsection=='meta' %>" href="/dialogs/<%= @dialog.id %>/result">Results</a></li>
<% if false -%>
<li><a class="menu" href="/dialogs/<%= @dialog.id %>/view#participatinggroups">Groups</a></li>
<% end -%>
<% if @is_admin or current_participant.sysadmin -%>
<li><a class="menu<%= ' selected' if @dsection=='edit' %>" href="/dialogs/<%= @dialog.id %>/edit">Admin</a></li>
<% end -%>
<% if false -%>
<li><a  class="menu<%= ' selected' if @dsection=='' %>" href="/dialogs">All Discussions</a></li>
<% end -%>
<li><a class="menu" href="/dialogs/<%= @dialog.id %>/forum?simple=1">Friendly interface</a></li>
</ul>
<% end -%>

<div style="clear:both;height:1px"></div>