<ul class="horizmenu">
<li><a class="menu<%= ' selected' if @dsection=='sprev' %>" href="/dialogs/<%= @dialog.id %>/forum?simple=1">Previous Results</a></li>
<li><a class="menu<%= ' selected' if @dsection=='sadd' %>" href="/dialogs/<%= @dialog.id %>/forum?simple=1">Add My Message</a></li>
<li><a class="menu" href="/dialogs/<%= @dialog.id %>/forum?simple=0">Switch to Techie Interface</a></li>
</ul>

<div style="clear:both;height:1px"></div>