<div style="width:680px;margin:10px auto 10px auto;padding:15px;border: 1px solid black">
<table><tr><td>
<img src="{{ logo }}" width="150" style="float:left;width:150px;margin:0 10px 10px 0;" alt="log">
<p>&nbsp;</p>
<% if @community %>
<p style="align:center;"><big>Welcome to <b>{{ dialog.name }}</b> discussion where you will be participating as a member of <b>{{ @community.fullname }}!</b></big></p>
<% else -%>
<p style="align:center;"><big>Welcome to <b>{{ dialog.name }}</b> discussion where you will be participating as a member of <b>{{ group.name }}!</b></big></p>
<% end %>

<p><big>Please provide the information requested and then click "Register".</big></p>

</td></tr>
<tr><td>
	
<form action="/front/dialogjoin" method="post" id="profile_edit">
<input type="hidden" name="group_id" value="{{ group.id }}">      
<input type="hidden" name="dialog_id" value="{{ dialog.id }}">
<input type="hidden" name="admin2uniq" id="admin2uniq" value="">
<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />	
<table style="background-color:#fff;margin-left:auto;margin-right:auto;width:680px">    

{% if false %} 
<tr><td>Subject</td><td><input type="text" name="subject" value="{{ subject }}" size="48" style="width:600px"></td></tr>
<tr><td>Message</td><td><textarea name="message" class="editor" cols="80" rows="6" style="width:600px;height:200px">{% if message == empty %}Dear Friends,{% else %}{{ message }}{% endif %}
</textarea></td></tr>  
{% endif %} 

<tr><td>*Your Name</td><td><input type="text" name="name" value="{{ name }}" size="30" style="width:200px"></td></tr>    
<tr><td>*E-mail</td><td><input type="text" name="email" value="{{ email }}" size="30" style="width:200px"></td></tr>    
<tr><td>*Password</td><td><input type="password" name="password" value="" size="30" style="width:200px"> Confirm: <input type="password" name="password_confirmation" value="" size="30" style="width:200px"></td></tr>

<tr><td>*Country of Residence</td><td><select name="country_code" id="country_code" onchange="chgcountry()"><option value="">* choose *</option><% for country in @countries %><option value="<%= country.iso %>"<% if country.iso == @country_code %> selected="selected"<% end %>><%= country.name %></option><% end %></select></td></tr>

<tr><td>State/Region</td><td><select name="admin1uniq" id="admin1uniq" onchange="chgstate()"></select></td></tr>
    
<tr><td>Metro Area</td><td><select name="metro_area_id" id="metro_area_id"></select></td></tr>

<tr><td>City</td><td><select name="city" id="city" onchange="chgcity()"></select></td></tr>
<% if false -%>
<tr><td>City</td><td><input type="text" name="city" value="" size="30" style="width:200px"></td></tr>    
<tr><td>County</td><td><select name="admin2uniq" id="admin2uniq"></select></td></tr>
<% end -%>

{% for m in meta %}
<tr><td>{{ m.name }}</td><td><select name="meta_{{ m.id }}">{% for node in m.nodes %}<option value="{{ node.id }}"{% if node.id == m.val %} selected="selected"{% endif %}>{{ node.name }}</option>{% endfor %}</select></td></tr>
{% endfor %}

<% if false -%>
<tr><td>Indigenous</td><td><input type="checkbox" name="indigenous" value="1"<%= @indigenous.to_i==1 ? "checked" : "" %>> check here if you identify with an indigenous people or tribe</td></tr>
<tr><td>Other Minority</td><td><input type="checkbox" name="other_minority" value="1"<%= @other_minority.to_i==1 ? "checked" : "" %>> check here if you identify with a disadvantaged national, ethnic, racial or religious minority in your country</td></tr>
<tr><td>Veteran</td><td><input type="checkbox" name="veteran" value="1"<%= @veteran.to_i==1 ? "checked" : "" %>> check here if you are a veteran</td></tr>
<tr><td>Interfaith</td><td><input type="checkbox" name="interfaith" value="1"<%= @interfaith.to_i==1 ? "checked" : "" %>> check here if you identify as interfaith</td></tr>
<tr><td>Refugee</td><td><input type="checkbox" name="refugee" value="1"<%= @refugee.to_i==1 ? "checked" : "" %>> check here if you identify as a refugee</td></tr>
<% end -%>

<tr>
  <td style="vertical-align:top">Communities<br>check to join</td>
  <td>
    <% if not @comfound and @comname and @comname != '' -%>
    <input type="checkbox" id="check_<%= @comtag %>" name="check[<%= @comtag %>]" value="1" data-tag="<%= @comtag %>" class="com_check" checked> <%= @comname %><br>    
    <% end -%>
    <% for com in @major_communities -%>  
    <input type="checkbox" id="check_<%= com.tagname %>" name="check[<%= com.tagname %>]" value="1" data-tag="<%= com.tagname %>" class="com_check" <%= @comtag.to_s==com.tagname ? ' checked' : '' %>> <%= com.fullname %><br>
    <% end -%>  
    [<a href="#" onclick="more_less();return(false)" id="more_less_com">More Communities</a>]<br>  
    <div id="more_com" style="display:none">  
    <% for com in @ungoals_communities -%>  
    <input type="checkbox" id="check_<%= com.tagname %>" name="check[<%= com.tagname %>]" value="1" data-tag="<%= com.tagname %>" class="com_check"<%= @comtag.to_s==com.tagname ? ' checked' : '' %>> <% if com.bold %><b><% end %><%= com.fullname %><% if com.bold %></b><% end %><br>
    <% end -%>  
    <% for com in @sustdev_communities -%>  
    <input type="checkbox" id="check_<%= com.tagname %>" name="check[<%= com.tagname %>]" value="1" data-tag="<%= com.tagname %>" class="com_check"<%= @comtag.to_s==com.tagname ? ' checked' : '' %>> <% if com.bold %><b><% end %><%= com.fullname %><% if com.bold %></b><% end %><br>
    <% end -%>  
    </div>  
      
    <% if false -%>  
    <% GLOBAL_COMMUNITIES.each do |tag| -%>
      <input type="checkbox" id="check_<%= tag %>" name="check[<%= tag %>]" value="1" data-tag="<%= tag %>" class="com_check"<%= @comtag.to_s==tag ? ' checked' : '' %>> <%= DEFAULT_COMMUNITIES[tag] %><br>
    <% end -%>
    [<a href="#" onclick="more_less();return(false)" id="more_less_com">More Communities</a>]<br>
    <div id="more_com" style="display:none">
      <% UNGOAL_COMMUNITIES.each do |tag| -%>
        <% b = BOLD_COMMUNITIES.include?(tag) %>
        <input type="checkbox" id="check_<%= tag %>" name="check[<%= tag %>]" value="1" data-tag="<%= tag %>" class="com_check"> <% if b %><b><% end %><%= DEFAULT_COMMUNITIES[tag] %><% if b %></b><% end %><br>
      <% end -%>
      <% SUSTDEV_COMMUNITIES.each do |tag| -%>
        <% b = BOLD_COMMUNITIES.include?(tag) %>        
        <input type="checkbox" id="check_<%= tag %>" name="check[<%= tag %>]" value="1" data-tag="<%= tag %>" class="com_check"> <% if b %><b><% end %><%= DEFAULT_COMMUNITIES[tag] %><% if b %></b><% end %><br>
      <% end -%>
    </div>
    <% end -%>
    
  </td>
</tr> 

</table>
<input type="submit" value="Register!" onclick="savetags();return(true)">  
<input type="hidden" id="tag_list" name="participant[tag_list]" value="">
<input type="hidden" id="comtag" name="comtag" value="<%= @comtag %>">
</form>

<p><b><br><span style="color: DarkRed;">A confirmation email will be sent. Be sure to respond to that email.</span></b> The confirmation link will take you online to the {{ dialog.name }} discussion where you can participate as a member of <i>{{ group.name }}</i>.</p>

<p><b>Important: </b>If the confirmation email does not arrive within a few minutes, please check your spam folder.</p>

</td></tr></table></div>

<script>
var showing_more = false;
function more_less() {
  if (showing_more) {
    $('#more_com').hide();
    $('#more_less_com').html("More Communities");
    showing_more = false;
  } else {    
    $('#more_com').show();
    $('#more_less_com').html("Fewer Communities");
    showing_more = true;
  }
}
<% if @cominmore %>
more_less();
<% end %>
function savetags() {
  var xlist = '';
  $('#comtags option').each(function() {
    var tag = $(this).val();
    tag = tag.replace(/[^0-9A-za-z_]/gi, '').toLowerCase();
    if (tag != '') {
      if (xlist != '') {
        xlist += ',';
      }
      xlist += tag;
    }
  });  
  $('.com_check').each(function() {
    if ($(this).prop('checked')) {
      tag = $(this).data('tag');
      if (xlist != '') {
        xlist += ',';
      }
      xlist += tag;
    }
  })
  $('#tag_list').val(xlist);
}
function chgcountry() {
	$('#profile_edit').css('opacity','0.5');
	$.getJSON("/front/getadmin1s",{country_code: $("#country_code").val()}, function(j){
	  var options = '<option>* choose *</option>';
	  for (var i = 0; i < j.length; i++) {
	    options += '<option value="' + j[i].val + '">' + j[i].txt + '</option>';
	  }
	  $("select#admin1uniq").html(options);    
    $("select#admin2uniq").html('');
    $("select#city").html('');
    $("#participant_zip").val('');
		$.getJSON("/front/getmetro",{country_code: $("#country_code").val()}, function(j){
	    var options = '<option>* choose *</option>';
	    for (var i = 0; i < j.length; i++) {
	      options += '<option value="' + j[i].val + '">' + j[i].txt + '</option>';
	    }
	    $("select#metro_area_id").html(options);
		})
			
		$('#profile_edit').css('opacity','1.0');
	})
}
function chgstate() {
	$('#profile_edit').css('opacity','0.5');
	//$.getJSON("/front/getadmin2s",{country_code: $("#country_code").val(), admin1uniq: $("#admin1uniq").val()}, function(j){
	//  var options = '<option>* choose *</option>';
	//  for (var i = 0; i < j.length; i++) {
	//    options += '<option value="' + j[i].val + '">' + j[i].txt + '</option>';
	//  }
	//  $("select#admin2uniq").html(options);
	//	$('#profile_edit').css('opacity','1.0');
	//})
	$.getJSON("/front/getcities",{country_code: $("#country_code").val(), admin1uniq: $("#admin1uniq").val()}, function(j){
	  var options = '';
	  for (var i = 0; i < j.length; i++) {
	    options += '<option value="' + j[i] + '">' + j[i] + '</option>';
	  }
	  $("select#city").html(options);
		$('#profile_edit').css('opacity','1.0');
	})
}
function chgcity() {
  // Look up the county from the city
	$('#profile_edit').css('opacity','0.5');
	$.getJSON("/front/getadmin2_from_city",{country_code: $("#country_code").val(), admin1uniq: $("#admin1uniq").val(), city_name: $("#city").val()}, function(j){
    var admin2uniq = j[0];
    var county_name = j[1];
    $("#admin2uniq").val(admin2uniq);
		$('#profile_edit').css('opacity','1.0');
	})
}
</script>