<% logger.info("dialogs#slider _top_titles") %>
<p style="clear:both;padding:0 19px 0 0">

<span style="font-size:20px;color:#000;">
  
<% if @in == 'network' and @network -%>
  Network: <%= @network.name %>
<% elsif @in == 'conversation' and @conversation -%>  
  Conversation
<% elsif @in == 'community' and @community %>
  <%= @community.fullname %>
<% else -%>  
  <%= @dialog ? @dialog.name : '???' %>
<% end -%>  
<% if @dsection == 'meta' and @conversation and @conversation.name.to_s != '' -%>
  - <span id="top_result_header"><%= @conversation.name %> - <%=  @conversation.together_apart.capitalize %> - Highest Rated <%= @nvaction ? 'Nonviolent Action Items' : 'Messages' %></span>
<% elsif @dsection == 'meta' -%>
  - <span id="top_result_header">Highest Rated <%= @nvaction ? 'Nonviolent Action Items' : 'Messages' %></span>
<% elsif @dsection == 'info' -%>
  <% if @conversation -%>
  - <%= @conversation.name %>
  <% end -%>
  - About
<% elsif @dsection == 'edit' -%>
  <% if @conversation -%>
  - <%= @conversation.name %>
  <% end -%>
  - Admin
<% elsif (@dsection == 'list' or @dsection == 'top') and @conversation and @conversation.name.to_s != '' -%>
  - <span id="top_forum_header"><%= @conversation.name if @conversation %> - <%=  @conversation.together_apart.capitalize %></span> 
<% elsif @dsection == 'list' -%>
  - <span id="top_forum_header"><%= @nvaction ? 'Nonviolent Action Forum' : 'Forum' %> <% if @in == 'main' %><span style="color:#aaa">(tell us what you think!)</span><% end %></span>  
<% end -%>

</span>

<% if @conversations and @conversation -%>
  &nbsp;&nbsp;
  <% if @conversations.length > 1 -%>
    <%= select_tag "chg_conv", options_for_select([['Change Conversation','']]+@conversations.collect{|c| [c.name,c.shortname]}+[['Leave Conversation','-']]), :onchange => 'chg_conversation()' %>
  <% else -%>
    <input type="button" value="Exit Conversation" onclick="leave_conversation()">
  <% end -%>
<% end -%>

</p>