<%= render(:partial => 'dialogs/menu')%>

<%= semantic_form_for( @dialog, :html => { :multipart => true } ) do |f| %>

	<%= f.inputs do %>
		<%= f.input :name, :required => true %>		
		<%= f.input :shortname, :label=>"Prefix", :required => true %>
		<%= f.input :description %>
		<%= f.input :shortdesc, :as => :text, :label => "Short description, 124chars max, no formatting", :input_html => {:rows => 5} %>
		<%= f.input :visibility, :as => :select, :collection =>GROUP_VISIBILITY %>	
		<%= f.input :openness, :as => :select, :collection =>GROUP_OPENNESS %>	
		<% f.input :metamap_vote_own, :label=>"Voting by Metamap", :as => :select, :collection => METAMAP_VOTE_OWN %>
		<%= f.input :multigroup, :as => :boolean %>
		<%= f.input :group_id, :as => :select, :collection =>@groupsin.collect{|c| [c.group.name,c.group.id]}, :label=>"Home group" %>			
		<%= f.input :max_characters, :label => "Maximum number of characters in a root message." %>
		<%= f.input :max_words, :label => "Maximum number of words in a root message."  %>
		<% f.input :front_template, :label => "Front Page template" %>
		<li class="text optional" id="dialog_front_template_input">
			<label for="dialog_front_template">Front Page template<br>
			<%= button_to_function "get default", "get_default('front')" %><br>
			<%= button_to_function "test", "test_template('front')" %>	
			</label>
			<textarea id="dialog_front_template" name="dialog[front_template]" rows="5"><%= @dialog.front_template %></textarea>
		</li>
		
		<% f.input :member_template, :label => "Home Page template" %>
		<li class="text optional" id="dialog_member_template_input">
			<label for="dialog_member_template">Home Page template<br>
			<%= button_to_function "get default", "get_default('member')" %><br>
				<%= button_to_function "test", "test_template('member')" %>	
			</label>
			<textarea id="dialog_member_template" name="dialog[member_template]" rows="5"><%= @dialog.member_template %></textarea>
		</li>		
		
		<% f.input :signup_template, :label => "Signup Page template" %>
		<li class="text optional" id="dialog_signup_template_input">
			<label for="dialog_signup_template">Signup Page template<br>
			<%= button_to_function "get default", "get_default('signup')" %><br>
				<%= button_to_function "test", "test_template('signup')" %>
			</label>
			<textarea id="dialog_signup_template" name="dialog[signup_template]" rows="5"><%= @dialog.signup_template %></textarea>
		</li>		
		
		<% f.input :confirm_template, :label => "Confirmation Page template" %>
		<li class="text optional" id="dialog_confirm_template_input">
			<label for="dialog_confirm_template">Confirmation Page template<br>
			<%= button_to_function "get default", "get_default('confirm')" %><br>
				<%= button_to_function "test", "test_template('confirm')" %>
			</label>
			<textarea id="dialog_confirm_template" name="dialog[confirm_template]" rows="5"><%= @dialog.confirm_template %></textarea>
		</li>		

		<% f.input :confirm_email_template, :label => "Confirmation e-mail template" %>
		<li class="text optional" id="dialog_confirm_email_template_input">
			<label for="dialog_confirm_email_template">Confirmation e-mail template<br>
			<%= button_to_function "get default", "get_default('confirm_email')" %><br>
				<%= button_to_function "test", "test_template('confirm_email')" %>
			</label>
			<textarea id="dialog_confirm_email_template" name="dialog[confirm_email_template]" rows="5"><%= @dialog.confirm_email_template %></textarea>
		</li>		

		<% f.input :confirm_welcome_template, :label => "Confirmed Participant Welcome page" %>
		<li class="text optional" id="dialog_confirm_welcome_template_input">
			<label for="dialog_confirm_welcome_template">Confirmed Participant Welcome page<br>
			<%= button_to_function "get default", "get_default('confirm_welcome')" %>	<br>
				<%= button_to_function "test", "test_template('confirm_welcome')" %>
			</label>
			<textarea id="dialog_confirm_welcome_template" name="dialog[confirm_welcome_template]" rows="5"><%= @dialog.confirm_welcome_template %></textarea>
		</li>		
		
		<%= f.input :logo, :as=>:file %>
		<li class="select optional" id="group_has_mail_list_input">
		<label>Meta Categories</label>
		<div style="float:left">
		<% for metamap in @metamaps %>
			<% checked = @has_metamaps[metamap.id] ? "checked" : "" %>
			<input <%= checked %> id="metamap_<%= metamap.id %>" name="metamap[<%= metamap.id %>]" type="checkbox" value="1"> <%= metamap.name %><br>		
		<% end %>
		</div>
		</li>
		<%= f.input :alt_logins, :label=>"Allow Facebook/Twitter logins?", :as => :boolean %>
		<%= f.input :required_meta, :label=>"Meta choices required at signup?", :as=>:boolean %>		
		<%= f.input :required_message,:label=>"Must a message be entered to join?" ,:as=>:boolean %>
		<%= f.input :required_subject,:label=>"Is a subject required for messages?" ,:as=>:boolean %>
		<%= f.input :max_messages, :label=>"Max root messages" %>
		<%= f.input :default_message %>
		<%= f.input :allow_replies, :as=>:boolean %>
		<%= f.input :value_calc, :as=>:select, :collection=>['total','avg']  %>
		<%= f.input :profiles_visible,:label=>"Should user profiles be visible?" ,:as=>:boolean %>
		<%= f.input :names_visible_general,:label=>"Should names be visible?" ,:as=>:boolean %>
		<%= f.input :posting_open,:label=>"Open for posting?" ,:as=>:boolean %>
		<%= f.input :voting_open,:label=>"Open for voting?" ,:as=>:boolean %>
		<%= f.input :current_period, :as => :select, :collection =>[['*none*',0]]+@dialog.periods.collect{|c| ["#{c.startdate}-#{c.endposting}/#{c.endrating}: #{c.name}",c.id]} %>			
	<% end %>

	<p>
	  <input type="button" value="Cancel" onclick="viewrec1(<%= @dialog.id.to_i %>)" />
	  <input type="submit" value="Save" />
	</p>
	
<% end %>

<p><br><br><b>Participating Groups:</b><br>
<% if @dialog.active_groups.length == 0 -%>
	none
<% else -%>
	<ul>
	<% for group in @dialog.active_groups -%>
		<li><a href="/dialogs/<%= @dialog.id %>/group_settings?group_id=<%= group.id %>"><%= group.name %></a></li>
	<% end -%>
	</ul>
<% end -%>	
</p>
	
<p><b>Applicant Groups:</b><br>
<% if @dialog.pending_groups.length == 0 -%>
	none
<% else -%>
	<ul>
	<% for group in @dialog.pending_groups -%>
		<li><a href="/dialogs/<%= @dialog.id %>/group_settings?group_id=<%= group.id %>"><%= group.name %></a></li>
	<% end -%>
	</ul>
<% end -%>
</p>



<p><br><b>Decision Periods:</b><ul>
<% for period in @dialog.periods -%>
	<li><a href="/dialogs/<%= @dialog.id %>/period_edit?period_id=<%= period.id %>"><%= period.startdate %> - <%= period.endposting -%>/<%= period.endrating %>: <%= period.name %></a></li>
<% end -%>
</ul>	
<a href="/dialogs/<%= @dialog.id %>/period_edit?period_id=0">Add a period</a>	
</p>

<p>Save any changes for the discussion above before adding or editing periods</p>

<script>
function get_default(which) {
	if (!$('#dialog_'+which+'_template')) {
		alert("That doesn't seem to exist");
		return;
	} else if ($('#dialog_'+which+'_template').val()!='') {
		alert("Please empty the template field first, if you wish to overwrite it with the default");
		return;
	}
	var pars = "which="+which;
	$.ajax({
     type: "GET",
     url: "/dialogs/<%= @dialog.id %>/get_default",
     data: pars,
     complete: function(t){	
       $('#dialog_'+which+'_template').val(t.responseText);
     }
   });	
}
function test_template(which) {
	window.open("/dialogs/<%= @dialog.id %>/test_template?which="+which, '_blank');
}
</script>
