<%= render(:partial => 'dialogs/menu_dsimple')%>

<input type="hidden" id="authenticity_token" name="authenticity_token" value="<%= form_authenticity_token %>">
<input type="hidden" id="max_messages" value="<%= @dialog.settings_with_period["max_messages"].to_i %>">	
<input type="hidden" id="previous_messages" value="<%= @dialog.active_period and @dialog.active_period.max_messages.to_i > 0 ? @previous_messages_period : @previous_messages %>">	
<input type="hidden" id="showratings" name="showratings" value="<%= params[:showratings].to_i %>">	
<input type="hidden" id="active_period_id" value="<%= @dialog.active_period ? @dialog.active_period.id : "0" %>">
<input type="hidden" id="active_period_name" value="<%= @dialog.active_period ? @dialog.active_period.name : "" %>">
<input type="hidden" id="in_group_id" name="in_group_id" value="<%= session[:group_id].to_i %>">	
<input type="hidden" id="in_dialog_id" name="in_dialog_id" value="<%= session[:dialog_id].to_i %>">	
<input type="hidden" id="from" name="from" value="dsimple">	

<% if @showing_previous and @dialog.active_period and @dialog.active_period.id = @period_id and @dialog.active_period.crosstalk!='none' and @dialog.active_period.period_number.to_i > 1 %>
  <% if @dialog.active_period.previous_period and @dialog.active_period.previous_period.result.class == Hash -%>
    <% crosstalk = @dialog.active_period.crosstalk %>
    <div style="border:2px solid #654321;margin:20px 0 30px 0;padding:5px 10px 0 10px;" id="prev_cross">
			<div style="position:absolute;margin:-15px 0 0 670px;padding:0 5px 0 5px;background-color:#fcf9f7;"><a href="#" onclick="$('#prev_cross').hide();$('#prev_cross_show').show();return(false)">hide</a></div>
      <h3 style="text-align:center;margin-top:-17px;width:auto;"><span style="padding:0 5px 0 5px;background-color:#fcf9f7;">Previous Results by <%= crosstalk %></span></h3>
      <% result = @dialog.active_period.previous_period.result[crosstalk] %>
      <% if result.class == Array and result.length > 0 %>
        <% for res in result -%>
          <b><%= res['label'] %></b>
          <div class="forumitem forumitemplain forummain forum1">   					
    			<%= render :partial => "items/item_simple", :locals => { :item => res['item'], :itemproc=>res['iproc'], :from=>'previous' } %>
          </div>
        <% end -%>
			<% else -%>	
				no results
      <% end -%>
    </div>
		<div style="display:none;padding:5px 0 10px 0;" id="prev_cross_show"><a href="#" onclick="$('#prev_cross_show').hide();$('#prev_cross').show();return(false)">Show previous Results by <%= crosstalk %></a></div>
  <% end -%>  
<% end -%>

<div id="newforumitem" class="newforumitem" style="display:none"></div>

<% if (@item_number.to_i > 0 or @item_id.to_i > 0) and @item and @xmode.to_s != 'list' -%>

	<p>Message <%= @item_number %> of <%= @items.length %><%= (not @item.hasrating) ? " - please rate the messages that you read!" : "" %></p>
	<%= render( :partial => 'items/item_dsimple', :locals => { :item => @item, :itemproc=>@itemsproc[@item.id], :is_reply => false, :odd_or_even => 1, :from=>@from.to_s, :top=>0, :showlong => true, :exp_item_id=>@item.id } )%>

<% else -%>

	<%= render( :partial => 'items/list_dsimple' )%>

<% end -%>

<% if false %>
<hr style="border: none;height: 3px;width:90%;margin-left:auto;margin-right:auto;">
<div style="padding:0 20px 10px 20px;">
	<img src="/images/whereami.gif" id="whereami" style="margin: 14px 0 10px 21px;">
<%= render :partial => "front/youarehere" %>
</div>
<% end %>
