<%= render(:partial => 'dialogs/menu_dsimple')%>

<input type="hidden" id="authenticity_token" name="authenticity_token" value="<%= form_authenticity_token %>">
<input type="hidden" id="max_messages" value="<%= @dialog.settings_with_period["max_messages"].to_i %>">	
<input type="hidden" id="previous_messages" value="<%= @dialog.active_period and @dialog.active_period.max_messages.to_i > 0 ? @previous_messages_period : @previous_messages %>">	
<input type="hidden" id="showratings" name="showratings" value="<%= params[:showratings].to_i %>">	
<input type="hidden" id="active_period_id" value="<%= @dialog.active_period ? @dialog.active_period.id : "0" %>">
<input type="hidden" id="active_period_name" value="<%= @dialog.active_period ? @dialog.active_period.name : "" %>">
<input type="hidden" id="in_group_id" name="in_group_id" value="<%= session[:group_id].to_i %>">	
<input type="hidden" id="in_dialog_id" name="in_dialog_id" value="<%= session[:dialog_id].to_i %>">	
<input type="hidden" id="from" name="from" value="dsimple">	
<input type="hidden" id="show_previous" value="<%= @showing_previous ? 1 : 0 %>">
<input type="hidden" id="last_item_id" value="0">
<input type="hidden" id="first_odd_or_even" value="0">

<% if @showing_previous and @dialog.active_period and @dialog.active_period.id == @period_id and @dialog.active_period.crosstalk!='none' and @dialog.active_period.period_number.to_i > 1 %>
  <% if @dialog.active_period.previous_period and @dialog.active_period.previous_period.result.class == Hash -%>
    <% @crosstalk = @dialog.active_period.crosstalk %>
    <% othercrosstalk = (@crosstalk=='gender' or @crosstalk=='gender1') ? 'age' : 'gender' %>
    <%= hidden_field_tag :want_crosstalk, @crosstalk %>
    		    
    <div style="border:2px solid #654321;margin:20px 0 30px 0;padding:5px 10px 0 10px;" id="prev_cross">
      <div class="prevres" id="ctcurrentres">
        <div style="position:absolute;margin:-12px 0 0 505px;padding:0 5px 0 5px;background-color:#fcf9f7;"><a href="#prev_cross" onclick="$('.prevres').toggle();return(false)">Show previous Results by <%= othercrosstalk %></a></div>
        <%=raw @dialog.active_period.previous_period.result[@crosstalk] %>
      </div>
      <div class="prevres" id="ctotherres" style="display:none;">  
        <div style="position:absolute;margin:-12px 0 0 505px;padding:0 5px 0 5px;background-color:#fcf9f7;"><a href="#prev_cross" onclick="$('.prevres').toggle();return(false);">Show previous Results by <%= @crosstalk %></a></div>
        <%=raw @dialog.active_period.previous_period.result[othercrosstalk] %>
      </div>
    </div>

    <div style="display:none;padding:5px 0 10px 0;" id="prev_cross_show"><a href="#" onclick="set_show_previous_results();return(false)">Show previous Results by <%= @crosstalk %></a></div>

  <% end -%>  
<% end -%>

<div id="newforumitem" class="newforumitem" style="display:none"></div>

<% if (@item_number.to_i > 0 or @item_id.to_i > 0) and @item and @xmode.to_s != 'list' -%>

	<p>Message <%= @item_number %> of <%= @items.length %><%= (@item.respond_to?(:hasrating) and not @item.hasrating) ? " - please rate the messages that you read!" : "" %></p>
	<%= render( :partial => 'items/item_dsimple', :locals => { :item => @item, :itemproc=>@itemsproc[@item.id], :is_reply => false, :odd_or_even => 1, :from=>@from.to_s, :top=>0, :showlong => true, :exp_item_id=>@item.id } )%>

<% else -%>

  <div id="forumitems">
	<%= render( :partial => 'items/list_dsimple' )%>
  </div>
  
  <script>
  function addnew() {
  	if (editingid>0) {
  	} else if (replyingid>0) {
  	} else if (in_new_item>0) {
  	} else {
    	$.ajax({
          type: "GET",
          url: '/dialogs/<%= @dialog.id %>/show_latest',
          data: {period_id: <%= @dialog.active_period.id %>, last_item_id: $('#last_item_id').val(), odd_or_even: 1-$('#first_odd_or_even').val()},
          complete: function(t){	
            //$('#forumitems').prepend(t.responseText);
            $(t.responseText).hide().prependTo('#forumitems').show('slow');
          }
       });	
    }
  };
  setInterval( addnew, 15000 );
  </script>

<% end -%>

<% if false %>
<hr style="border: none;height: 3px;width:90%;margin-left:auto;margin-right:auto;">
<div style="padding:0 20px 10px 20px;">
	<img src="/images/whereami.gif" id="whereami" style="margin: 14px 0 10px 21px;" alt="Where am I picture">
<%= render :partial => "front/youarehere" %>
</div>
<% end %>

<script>
<% if @showing_previous -%>
$('#prev_cross').show();
$('#prev_cross_show').hide()
<% end -%>
</script>
