<%= render(:partial => 'dialogs/menu')%>

<form id="searchform" style="clear:both">
<input type="hidden" id="authenticity_token" name="authenticity_token" value="<%= form_authenticity_token %>">
<input type="hidden" id="max_messages" value="<%= @dialog.settings_with_period["max_messages"].to_i %>">	
<input type="hidden" id="previous_messages" value="<%= @dialog.active_period and @dialog.active_period.max_messages.to_i > 0 ? @previous_messages_period : @previous_messages %>">	
<input type="hidden" id="showratings" name="showratings" value="<%= params[:showratings].to_i %>">	
<input type="hidden" id="active_period_id" value="<%= @dialog.active_period ? @dialog.active_period.id : "0" %>">
<input type="hidden" id="active_period_name" value="<%= @dialog.active_period ? @dialog.active_period.name : "" %>">
<input type="hidden" id="in_group_id" name="in_group_id" value="<%= session[:group_id].to_i %>">	
<input type="hidden" id="in_dialog_id" name="in_dialog_id" value="<%= session[:dialog_id].to_i %>">	
<input type="hidden" id="from" name="from" value="<%= @from %>">	
<input type="hidden" id="show_previous" value="<%= @showing_previous ? 1 : 0 %>">

<div id="forumcontrol">

	<div id="forumcontrol1">
	
		<div class="right">
		<input type="button" value="More Options" id="optionbutton" onclick="toggleoptions()">
		<% if session[:group_is_member] and ((@dialog.current_period.to_i > 0 and (@dialog.active_period.max_messages.to_i == 0 or @previous_messages_period < @dialog.active_period.max_messages.to_i)) or (@dialog.current_period.to_i == 0 and (@dialog.max_messages.to_i == 0 or @previous_messages < @dialog.max_messages.to_i))) and @dialog.settings_with_period["posting_open"] -%>
		<input type="button" value="<%= @dialog.new_message_title.to_s != '' ? @dialog.new_message_title : "Add Message" %>" id="newthreadbutton" onclick="newitem('<%= form_authenticity_token %>')">
		<% else -%>
			<input type="button" value="<%= @dialog.new_message_title.to_s != '' ? @dialog.new_message_title : "Add Message" %>" title="<%= 
			if not session[:group_is_member] then "Not group member" elsif not @dialog.settings_with_period["posting_open"] then "Posting is not open"
	elsif not ((@dialog.current_period.to_i > 0 and (@dialog.active_period.max_messages.to_i == 0 or @previous_messages_period < @dialog.active_period.max_messages.to_i)) or (@dialog.current_period.to_i == 0 and (@dialog.max_messages.to_i == 0 or @previous_messages < @dialog.max_messages.to_i))) then "Maximum messages have been reached"
	else "Can't post, for unknown reason" end %>" id="newthreadbutton" disabled="disabled" style="Opacity:0.5">
		<% end -%>
		</div>

		<div class="lefttitle">Sort by:</div>
		<div class="leftfield">
			<% sortarr = [['Date','items.id desc'],['Value','*value*'],['Approval','*approval*'],['Interest','*interest*'],['Controversy','*controversy*']] %>
			<% sortarr = [['Decision Special','default']] + sortarr if @dialog.current_period.to_i > 0 and Item.where(:period_id=>@dialog.current_period).count > 0 %>
			<% if false -%>
				<% for m in @dialog.metamaps -%>
					<% sortarr << [m[1],"meta:#{m[0]}"] %>
				<% end -%>	
			<% end -%>
			<%= select_tag "sortby", options_for_select(sortarr,@sortby), :onchange=>"list('sortby')" %>
		</div>
		
	</div><!--forumcontrol1-->		

	<div id="forumcontrol2" style="<%= "display:block;" if @dialog.active_period %>">
	
		<div class="lefttitle">Threads:</div>
		<div class="leftfield">
		<%= select_tag "threads", options_for_select([['None',''],['Root+Replies','flat'],['Root only','root'],['Tree View','tree']],@threads), :onchange=>"list('threads')" %>
		</div>
		
	</div><!--forumcontrol2-->		
		
	<div id="forumcontrol3">

		<% if @periods.length > 0 -%>
		<div class="lefttitle">Decision Period:</div>
		<div class="leftfield">
		<%= select_tag "period_id", options_for_select([['All messages',0]]+@periods.collect{|c| ["#{c.period_number.to_i>0 ? "##{c.period_number} " : ""}#{c.name}",c.id]},@period_id), :onchange=>"list('period_id')" %>
		</div>
		<% else -%>
		<%= hidden_field_tag :period_id, 0 %>	
		<% end -%>

		<% if @groups.length > 1 -%>
		<div class="lefttitle">Group:</div>
		<div class="leftfield">
		<%= select_tag "limit_group_id", options_for_select([['All messages',0]]+@groups.collect{|c| [c.name,c.id]},@limit_group_id), :onchange=>"list('limit_group_id')" %>
		</div>
		<% else -%>
		<% hidden_field_tag :limit_group_id, @groups.length>0 ? @groups[0].id : @limit_group_id %>	
		<%= hidden_field_tag :limit_group_id, @limit_group_id %>	
		<% end -%>
	
		<div class="lefttitle">Posted from Country:</div>
		<div class="leftfield">
			<%= select_tag "posted_by_country_code", raw('<option value="0">*any*</option>')+options_from_collection_for_select(Geocountry.order(:name),'iso','name',@posted_by_country_code), :onchange=>"chgcountry('posted');" %>
		</div>
		<div class="lefttitle">Posted from State/Region:</div>
		<div class="leftfield">&nbsp;&nbsp;&nbsp;
			<%= select_tag "posted_by_admin1uniq", raw('<option value="0">*any*</option>')+options_from_collection_for_select(Geoadmin1.where(:country_code=>@posted_by_country_code).order(:name),'admin1uniq','name'), :onchange=>"list('posted_by_admin1uniq')" %>
		</div>
		<div class="lefttitle">or Metro Area:</div>	
		<div class="leftfield">&nbsp;&nbsp;&nbsp;
			<%= select_tag "posted_by_metro_area_id", raw('<option value="0">*any*</option>'), :onchange=>"list('posted_by_metro_area_id')" %>
		</div>
	
		<% for metamap in @metamaps -%>
		<div class="lefttitle">Posted by <%= metamap.name %>:</div>
		<div class="leftfield">
		<%= select_tag "posted_by_metamap_#{metamap.id}", raw('<option value="0">*any*</option>')+options_from_collection_for_select(MetamapNode.where(:metamap_id=>metamap.id),'id','name',params["posted_by_metamap_#{metamap.id}"].to_i), :onchange=>"list('posted_by_metamap_#{metamap.id}')" %>
		</div>  	
		<% end -%>
	
		<div class="lefttitle">Rated from Country:</div>
		<div class="leftfield">
			<%= select_tag "rated_by_country_code", raw('<option value="0">*any*</option>')+options_from_collection_for_select(Geocountry.order(:name),'iso','name',@rated_by_country_code), :onchange=>"chgcountry('rated');" %>
		</div>
		<div class="lefttitle">Rated from State/Region:</div>
		<div class="leftfield">&nbsp;&nbsp;&nbsp;
			<%= select_tag "rated_by_admin1uniq", raw('<option value="0">*any*</option>')+options_from_collection_for_select(Geoadmin1.where(:country_code=>@posted_by_country_code).order(:name),'admin1uniq','name'), :onchange=>"list('rated_by_admin1uniq')" %>
		</div>
		<div class="lefttitle">or Metro Area:</div>
		<div class="leftfield">&nbsp;&nbsp;&nbsp;
			<%= select_tag "rated_by_metro_area_id", raw('<option value="0">*any*</option>'), :onchange=>"list('rated_by_metro_area_id')" %>
		</div>
	
		<% for metamap in @metamaps -%>
		<div class="lefttitle">Rated by <%= metamap.name %>:</div>
		<div class="leftfield">
		<%= select_tag "rated_by_metamap_#{metamap.id}", raw('<option value="0">*any*</option>')+options_from_collection_for_select(MetamapNode.where(:metamap_id=>metamap.id),'id','name',params["rated_by_metamap_#{metamap.id}"].to_i), :onchange=>"list('rated_by_metamap_#{metamap.id}')" %>
		</div>  	
		<% end -%>
	
		<div class="lefttitle">Show:</div>
		<div class="leftfield">
		<%= select_tag "perscr", options_for_select([['25 messages',25],['50 messages',50],['100 messages',100]],@perscr), :onchange=>"list('perscr')" %>
		</div>
	
		<%= hidden_field_tag :dialog_id, @dialog_id %>
		<%= hidden_field_tag :ratings, @ratings %>
		<%= hidden_field_tag :from, "dialog" %>
		<%= hidden_field_tag :page, 1 %>
		<%= hidden_field_tag :test, params[:test] %>
	
	</div><!--forumcontrol3-->
	
</div><!--forumcontrol-->
</form>

<% if @dialog.active_period and @dialog.active_period.id = @period_id and @dialog.active_period.crosstalk!='none' and @dialog.active_period.period_number.to_i > 1 %>
  <% if @dialog.active_period.previous_period and @dialog.active_period.previous_period.result.class == Hash -%>
    <% crosstalk = @dialog.active_period.crosstalk %>
    <div style="border:2px solid #654321;margin:20px 0 10px 0;padding:5px 10px 0 10px;display:none;" id="prev_cross">
			<div style="position:absolute;margin:-15px 0 0 670px;padding:0 5px 0 5px;background-color:#fcf9f7;"><a href="#" onclick="set_show_previous_results();return(false)">hide</a></div>
      <h3 style="text-align:center;margin-top:-17px;width:auto;"><span style="padding:0 5px 0 5px;background-color:#fcf9f7;">Previous Results by <%= crosstalk %></span></h3>
      <% result = @dialog.active_period.previous_period.result.has_key?(crosstalk+'1') ? @dialog.active_period.previous_period.result[crosstalk+'1'] : @dialog.active_period.previous_period.result[crosstalk] %>
      <% if result.class == Array and result.length > 0 %>
        <% for res in result -%>
          <b><%= res['label'] %></b>
          <div class="forumitem forumitemplain forummain forum1">   					
    			<%= render :partial => "items/item_simple", :locals => { :item => res['item'], :itemproc=>res['iproc'], :from=>'previous' } %>
          </div>
        <% end -%>
			<% else -%>	
				no results
      <% end -%>
    </div>
		<div style="display:inline;padding:5px 0 10px 0;" id="prev_cross_show"><a href="#" onclick="set_show_previous_results();return(false)">Show previous Results by <%= crosstalk %></a></div>
  <% end -%>  
<% end -%>

<div id="newforumitem" class="newforumitem" style="display:none"></div>

<div id="itemlist">
<% if params[:ratings] -%>
<%= render(:partial => 'items/ratings')%>
<% else -%>  
<%= render(:partial => 'items/list')%>
<% end -%>
</div>


<% if false and not current_participant.dialog_pop_shown -%>
<div id="welcomepopup" class="modaldiv">
<%= render(:partial => 'dialogs/welcome')%>
</div>
<script>
$('#welcomepopup').modal();
</script>
<% end -%>

<% if @from == 'result' -%> 
<script>
toggleoptions();
</script>
<% end -%>
<script>
var cur_item_id = 0;
var posted_by_country_code = '<%= @posted_by_country_code %>';
var posted_by_admin1uniq = '<%= @posted_by_admin1uniq %>';
var posted_by_admin2uniq = '';
var posted_by_metro_area_id = '<%= @posted_by_metro_area_id %>'
var active_period = <%= @dialog.active_period ? @dialog.active_period.id : 0 %>;
function chgcountry(what) {
	$.getJSON("/front/getadmin1s",{country_code: $("#"+what+"_by_country_code").val()}, function(j){
	  var options = '';
	  for (var i = 0; i < j.length; i++) {
			if (j[i].val==0) {
				options += '<option value="0">*any*</option>';
			} else {
	    	options += '<option value="' + j[i].val + '">' + j[i].txt + '</option>';
			}
	  }
	  $("select#"+what+"_by_admin1uniq").html(options);

		$.getJSON("/front/getmetro",{country_code: $("#"+what+"_by_country_code").val()}, function(j){
	    var options = '';
	    for (var i = 0; i < j.length; i++) {
				if (j[i].val==0) {
					options += '<option value="0">*any*</option>';
				} else {
	      	options += '<option value="' + j[i].val + '">' + j[i].txt + '</option>';
				}
	    }
	    $("select#"+what+"_by_metro_area_id").html(options);
		})
		list(what+'_country_code');
	}) 
}
var last_sort = $('#sortby').val();
<% if session[:showing_previous] -%>
$('#prev_cross').show();
$('#prev_cross_show').hide()
<% end -%>
</script>

