<%= render(:partial => 'dialogs/menu')%>

<form id="searchform" style="clear:both">
<input type="hidden" id="authenticity_token" name="authenticity_token" value="<%= form_authenticity_token %>">
<input type="hidden" id="max_messages" value="<%= @dialog.settings_with_period["max_messages"].to_i %>">	
<input type="hidden" id="previous_messages" value="<%= @dialog.active_period and @dialog.active_period.max_messages.to_i > 0 ? @previous_messages_period : @previous_messages %>">	
<input type="hidden" id="showratings" name="showratings" value="<%= params[:showratings].to_i %>">	
<div id="forumcontrol">
	
	<div class="right">
	<input type="button" value="More Options" id="optionbutton" onclick="toggleoptions()">
	<% if session[:group_is_member] and ((@dialog.current_period.to_i > 0 and (@dialog.active_period.max_messages.to_i == 0 or @previous_messages_period < @dialog.active_period.max_messages.to_i)) or (@dialog.current_period.to_i == 0 and (@dialog.max_messages.to_i == 0 or @previous_messages < @dialog.max_messages.to_i))) and @dialog.settings_with_period["posting_open"] -%>
	<input type="button" value="<%= @dialog.new_message_title.to_s != '' ? @dialog.new_message_title : "Start New Thread" %>" id="newthreadbutton" onclick="newitem('<%= form_authenticity_token %>')">
	<% else -%>
		<input type="button" value="<%= @dialog.new_message_title.to_s != '' ? @dialog.new_message_title : "Start New Thread" %>" title="<%= 
		if not session[:group_is_member] then "Not group member" elsif not @dialog.settings_with_period["posting_open"] then "Posting is not open"
elsif not ((@dialog.current_period.to_i > 0 and (@dialog.active_period.max_messages.to_i == 0 or @previous_messages_period < @dialog.active_period.max_messages.to_i)) or (@dialog.current_period.to_i == 0 and (@dialog.max_messages.to_i == 0 or @previous_messages < @dialog.max_messages.to_i))) then "Maximum messages have been reached"
else "Can't post, for unknown reason" end %>" id="newthreadbutton" disabled="disabled" style="Opacity:0.5">
	<% end -%>
	</div>

	<div class="lefttitle">Sort by:</div>
	<div class="leftfield">
		<% sortarr = [['Date','items.id desc'],['Value','*value*'],['Approval','*approval*'],['Interest','*interest*'],['Controversy','*controversy*']] %>
		<% sortarr = [['Custom','default']] + sortarr if @dialog.current_period.to_i > 0 and Item.where(:period_id=>@dialog.current_period).count > 0 %>

		<% if false -%>
			<% for m in @dialog.metamaps -%>
				<% sortarr << [m[1],"meta:#{m[0]}"] %>
			<% end -%>	
		<% end -%>
		<%= select_tag "sortby", options_for_select(sortarr,@sortby), :onchange=>"list()" %>
	</div>

	<div class="lefttitle">Threads:</div>
	<div class="leftfield">
	<%= select_tag "threads", options_for_select([['None',''],['Root+Replies','flat'],['Root only','root'],['Tree View','tree']],@threads), :onchange=>"list()" %>
	</div>

	<div class="lefttitle">Show:</div>
	<div class="leftfield">
	<%= select_tag "perscr", options_for_select([['25 messages',25],['50 messages',50],['100 messages',100]],@perscr), :onchange=>"list()" %>
	</div>

	<% if @groups.length > 1 -%>
	<div class="lefttitle">Group:</div>
	<div class="leftfield">
	<%= select_tag "group_id", options_for_select([['All messages',0]]+@groups.collect{|c| [c.name,c.id]},@group_id), :onchange=>"list()" %>
	</div>
	<% else -%>
	<%= hidden_field_tag :group_id, @groups.length>0 ? @groups[0].id : @group_id %>	
	<% end -%>
	
	<% if @periods.length > 0 -%>
	<div class="lefttitle">Focus Period:</div>
	<div class="leftfield">
	<%= select_tag "period_id", options_for_select([['All messages',0]]+@periods.collect{|c| [c.name,c.id]},@period_id), :onchange=>"list()" %>
	</div>
	<% else -%>
	<%= hidden_field_tag :period_id, 0 %>	
	<% end -%>
	
	
	<% for metamap in @metamaps -%>
	<div class="lefttitle">Posted by <%= metamap.name %>:</div>
	<div class="leftfield">
	<%= select_tag "posted_by_metamap_#{metamap.id}", raw('<option value="0">*any*</option>')+options_from_collection_for_select(MetamapNode.where(:metamap_id=>metamap.id),'id','name',params["posted_by_metamap_#{metamap.id}"].to_i), :onchange=>"list()" %>
	</div>  	
	<% end -%>

	<% for metamap in @metamaps -%>
	<div class="lefttitle">Rated by <%= metamap.name %>:</div>
	<div class="leftfield">
	<%= select_tag "rated_by_metamap_#{metamap.id}", raw('<option value="0">*any*</option>')+options_from_collection_for_select(MetamapNode.where(:metamap_id=>metamap.id),'id','name',params["rated_by_metamap_#{metamap.id}"].to_i), :onchange=>"list()" %>
	</div>  	
	<% end -%>
	
	<%= hidden_field_tag :dialog_id, @dialog_id %>
	<%= hidden_field_tag "from", "dialog" %>
	<%= hidden_field_tag :page, 1 %>
	<%= hidden_field_tag :test, params[:test] %>
	
</div>
</form>

<div id="newforumitem" class="newforumitem" style="display:none"></div>

<div id="itemlist">
<%= render(:partial => 'items/list')%>
</div>


<% if @new_signup -%>
<div id="welcomepopup" class="modaldiv">
<%= render(:partial => 'dialogs/welcome')%>
</div>
<script>
$('#welcomepopup').modal();
</script>
<% end -%>
<% if @from == 'result' -%> 
<script>
toggleoptions();
</script>
<% end -%>

