<%= render(:partial => 'dialogs/menu_dsimple')%>

<input type="hidden" id="authenticity_token" name="authenticity_token" value="<%= form_authenticity_token %>">
<input type="hidden" id="max_messages" value="<%= @dialog.settings_with_period["max_messages"].to_i %>">	
<input type="hidden" id="previous_messages" value="<%= @dialog.active_period and @dialog.active_period.max_messages.to_i > 0 ? @previous_messages_period : @previous_messages %>">	
<input type="hidden" id="showratings" name="showratings" value="<%= params[:showratings].to_i %>">	
<input type="hidden" id="active_period_id" value="<%= @dialog.active_period ? @dialog.active_period.id : "0" %>">
<input type="hidden" id="active_period_name" value="<%= @dialog.active_period ? @dialog.active_period.name : "" %>">
<input type="hidden" id="in_group_id" name="in_group_id" value="<%= session[:group_id].to_i %>">	
<input type="hidden" id="in_dialog_id" name="in_dialog_id" value="<%= session[:dialog_id].to_i %>">	
<input type="hidden" id="from" name="from" value="dsimple">	

<div id="newforumitem" class="newforumitem" style="display:none"></div>

<% if (@item_number.to_i > 0 or @item_id.to_i > 0) and @item and @xmode.to_s != 'list' -%>

	<p>Message <%= @item_number %> of <%= @items.length %></p>
	<%= render( :partial => 'items/item_dsimple', :locals => { :item => @item, :itemproc=>@itemsproc[@item.id], :is_reply => false, :odd_or_even => 1, :from=>@from.to_s, :top=>0, :showlong => true, :exp_item_id=>@item.id } )%>

<% else -%>

	<%= render( :partial => 'items/list_dsimple' )%>

<% end -%>

<% if false %>
<hr style="border: none;height: 3px;width:90%;margin-left:auto;margin-right:auto;">
<div style="padding:0 20px 10px 20px;">
	<img src="/images/whereami.gif" id="whereami" style="margin: 14px 0 10px 21px;">
<%= render :partial => "front/youarehere" %>
</div>
<% end %>
