<%= render(:partial => 'dialogs/menu_dsimple')%>

<div id="newforumitem" class="newforumitem" style="display:none"></div>

<% if (@item_number.to_i > 0 or @item_id.to_i > 0) and @xmode.to_s != 'list' -%>

	<p>Message <%= @item_number %> of <%= @items.length %></p>
	<%= render( :partial => 'items/item_dsimple', :locals => { :item => @item, :itemproc=>@itemsproc[@item.id], :is_reply => false, :odd_or_even => 1, :from=>@from.to_s, :top=>0, :showlong => true, :exp_item_id=>@item.id } )%>

<% else -%>

	<%= render( :partial => 'items/list_dsimple' )%>

<% end -%>

<hr style="border: none;height: 3px;width:90%;margin-left:auto;margin-right:auto;">

<div style="padding:0 20px 10px 20px;">
	<img src="/assets/whereami.gif" id="whereami" style="margin: 14px 0 10px 21px;">
<%= render :partial => "front/youarehere" %>
</div>
