<h3>Discussions</h3>

<% if @dialogsingroup.length > 0 -%>
	<p>You can participate in these discussions:</p>
<% else -%>
	<p>None</p>
<% end -%>

<ul>
<% for dialog in @dialogsingroup -%>
<% dom = ((dialog.shortname.to_s != "") ? "#{dialog.shortname}.#{ROOTDOMAIN}" : "#{BASEDOMAIN}") %>
<li><a href="http://<%= dom %>/dialogs/<%= dialog.id %>/forum"><%= dialog.name %></a>
	<a href="http://<%= dom %>/dialogs/<%= dialog.id %>/view">info</a>
	<% if @admin4.include?(dialog.id) then %><a href="http://<%= dom %>/dialogs/<%= dialog.id %>/edit">edit</a><% end -%>
</li>
<% end -%>
</ul>

<% if session[:is_anyadmin] -%>
<p><a href="/dialogs/new">Create a new discussion</a></p>
<% end -%>