<%= render(:partial => 'dialogs/menu')%>

<h3 style="clear:both">Decision Period</h3>

<%= semantic_form_for @period, :url => "/dialogs/#{@dialog.id}/period_save", :html=>{:id=>"period_edit"} do |f| %>

	<%= f.inputs do %>

		<%= hidden_field_tag :period_id, @period_id %>

		<%= f.input :name, :label=>"Title", :input_html => {:size => 80} %>
		<%= f.input :shortdesc, :as => :text, :label => "Short description", :input_html => {:rows => 3} %>
		
		<li>
			<div style="width:25%;float:left"><b>Long description</b></div>
			<div style="width:75%;float:left">
				<%= cktext_area(:period, :description, :ckeditor => {:ajax => true, :width=>530, :height=>200, :toolbar=>'Custom'}) %>
			</div>
		</li>

		<li class="text optional" id="period_instructions_input">
			<label for="period_instructions">Instructions<br>
			<%= button_to_function "get default", "get_default('instructions')" %><br>
			<%= button_to_function "test", "test_template('instructions')" %>	
			</label>
			<textarea id="period_instructions" name="period[instructions]" rows="5"><%= @period.instructions %></textarea>
		</li>		
		
		<%= f.input :startdate, :label=>"Start date (YYYY-MM-DD)" %>
		<%= f.input :endposting, :label=>"Posting final date (YYYY-MM-DD)" %>
		<%= f.input :endrating, :label=>"Rating final date (YYYY-MM-DD)" %>
		<%= f.input :crosstalk, :label=>"crosstalk", :as => :select, :collection => CROSSTALK_OPTIONS_TEXT.collect{|code,txt| [txt,code]}, :include_blank=>false %>
		<% f.input :metamap_vote_own, :label=>"Voting by Metamap", :as => :select, :collection => METAMAP_VOTE_OWN %>
		<%= f.input :max_characters %>
		<%= f.input :max_words %>
		<%= f.input :required_message,:label=>"Must a message be entered to join?" ,:as=>:boolean %>
		<%= f.input :required_subject,:label=>"Is a subject required for messages?" ,:as=>:boolean %>
		<%= f.input :max_messages, :label=>"Max root messages" %>
		<%= f.input :default_message, :as=>:text %>
		<%= f.input :sort_metamap_id, :label=>"Metamap to sort by", :as => :select, :collection => [['',0]]+@metamaps.collect{|m| ["#{m.id}: #{m.name}",m.id]} %>
		<%= f.input :sort_order, :label=>"Secondary sort", :as => :select, :collection=>['date','value'] %>
		<%= f.input :allow_replies, :as=>:boolean %>
		<%= f.input :profiles_visible,:label=>"Should user profiles be visible?" ,:as=>:boolean %>
		<%= f.input :names_visible_voting,:label=>"Should names be visible in a voting phase?" ,:as=>:boolean %>
		<%= f.input :names_visible_general,:label=>"Should names be visible in general?" ,:as=>:boolean %>
		<%= f.input :value_calc, :as=>:select, :collection=>['total','avg']  %>

	<% end %>

	<p><input type="submit" value="Save"></p>

<% end %>

<script>
function get_default(which) {
	if (!$('#period_'+which)) {
		alert("That doesn't seem to exist");
		return;
	} else if ($('#period_'+which).val()!='') {
		alert("Please empty the template field first, if you wish to overwrite it with the default");
		return;
	}
	var pars = "which="+which;
	$.ajax({
     type: "GET",
     url: "/dialogs/<%= @dialog.id %>/get_period_default",
     data: pars,
     complete: function(t){	
       $('#period_'+which).val(t.responseText);
     }
   });	
}
function test_template(which) {
	window.open("/dialogs/<%= @dialog.id %>/test_period_template?period_id=<%= @period.id %>&which="+which, '_blank');
}
</script>
