<%= render(:partial => 'dialogs/menu')%>

<h3 style="clear:both">Decision Period</h3>

<%= semantic_form_for @period, :url => "/dialogs/#{@dialog.id}/period_save", :html=>{:id=>"period_edit"} do |f| %>

	<%= f.inputs do %>

		<%= hidden_field_tag :period_id, @period_id %>

		<%= f.input :name, :label=>"Title" %>
		<%= f.input :startdate, :label=>"Start date (YYYY-MM-DD)" %>
		<%= f.input :endposting, :label=>"Posting final date (YYYY-MM-DD)" %>
		<%= f.input :endrating, :label=>"Rating final date (YYYY-MM-DD)" %>
		<% f.input :metamap_vote_own, :label=>"Voting by Metamap", :as => :select, :collection => METAMAP_VOTE_OWN %>
		<%= f.input :max_characters %>
		<%= f.input :max_words %>
		<%= f.input :required_message,:label=>"Must a message be entered to join?" ,:as=>:boolean %>
		<%= f.input :required_subject,:label=>"Is a subject required for messages?" ,:as=>:boolean %>
		<%= f.input :max_messages, :label=>"Max root messages" %>
		<%= f.input :default_message, :as=>:text %>
		<%= f.input :sort_metamap_id, :label=>"Metamap to sort by", :as => :select, :collection => [['',0]]+@metamaps.collect{|m| ["#{m.id}: #{m.name}",m.id]} %>
		<%= f.input :sort_order, :label=>"Secondary sort", :as => :select, :collection=>['date','value'] %>
		<%= f.input :allow_replies, :as=>:boolean %>
		<%= f.input :profiles_visible,:label=>"Should user profiles be visible?" ,:as=>:boolean %>
		<%= f.input :names_visible_voting,:label=>"Should names be visible in a voting phase?" ,:as=>:boolean %>
		<%= f.input :names_visible_general,:label=>"Should names be visible in general?" ,:as=>:boolean %>
		<%= f.input :value_calc, :as=>:select, :collection=>['total','avg']  %>

	<% end %>

	<p><input type="submit" value="Save"></p>

<% end %>
