<%= render(:partial => 'dialogs/menu')%>

<h3 style="clear:both">Period</h3>

<form action="/dialogs/<%= @dialog.id %>/period_save" method="post">
<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
<%= hidden_field_tag :period_id, @period_id %>

<p>Title: <%= text_field :period, :name, :size => 30 %></p>
<p>Dates: <%= text_field :period, :startdate, :size => 10 %> - <%= text_field :period, :enddate, :size => 10 %> YYYY-MM-DD</p>

<p><input type="submit" value="Save"></p>

</form>