<% require 'pp' %>

<%= render(:partial => 'dialogs/menu') %>

<h2>Overall<%= " winner" if not @all %> (<%= @data[0]['ratings'].length %> ratings)</h2>

<div>
<% for item_id,i in @data[0]['itemsproc'] -%>
<a href="/participant/<%= i['id'] %>/profile"><%= i['name'] %></a>: <%= i['subject'] %>: interest:<%= i['num_interest']%>:<%= sprintf("%.1f",i['avg_interest']) %>, approval:<%= i['num_approval'] %>:<%= sprintf("%.1f",i['avg_approval']) %>, value:<%= sprintf("%.1f",i['value'])  %>, ratings:<%= i['votes'] %><br>
<% break if not @all %>
<% end -%>
<br>
</div>

<% for metamap in @metamaps -%>
	<h2 title="<%= metamap.id %>"><%= metamap.name %></h2>

	<div>
	<% for metamap_node_id,metamap_node_name in @data[metamap.id]['nodes_sorted'] -%>
		<h3 title="<%= metamap_node_id %>"><%= metamap_node_name %>:</h3>
		<% if  @data[metamap.id]['postedby']['nodes'][metamap_node_id] and  @data[metamap.id]['postedby']['nodes'][metamap_node_id]['itemsproc'].length > 0 -%>
			<% if @all -%>
			<b>highest rated <span title="<%= metamap_node_id %>"><%= metamap_node_name %></span> items by all raters (<%= @data[metamap.id]['postedby']['nodes'][metamap_node_id]['ratings'].length %>):</b><br>
			<% else -%>
			<b>winning <span title="<%= metamap_node_id %>"><%= metamap_node_name %></span> item by all raters (<%= @data[metamap.id]['postedby']['nodes'][metamap_node_id]['ratings'].length %>):</b><br>
			<% end -%>
			<% for item_id,i in @data[metamap.id]['postedby']['nodes'][metamap_node_id]['itemsproc'] -%>
			<a href="/participant/<%= i['id'] %>/profile"><%= i['name'] %></a>: <a href="/items/<%= item_id %>/view"><%= i['subject'] || "no subject" %></a>: interest:<%= i['num_interest']%>:<%= sprintf("%.1f",i['avg_interest']) %>, approval:<%= i['num_approval'] %>:<%= sprintf("%.1f",i['avg_approval']) %>, value:<%= sprintf("%.1f",i['value']) %>, ratings:<%= i['votes'] %><br>
			<% break if not @all %>
			<% end -%>
		<% else -%>
			<%= metamap_node_name %> posted nothing<br>
		<% end -%>
		<br>
		
		<% if @data[metamap.id]['ratedby']['nodes'][metamap_node_id] and @data[metamap.id]['ratedby']['nodes'][metamap_node_id]['itemsproc'].length > 0 -%>
			<% if @all -%>
			<b>items highest rated by <span title="<%= metamap_node_id %>"><%= metamap_node_name %></span> of all items (<%=  @data[metamap.id]['ratedby']['nodes'][metamap_node_id]['ratings'].length %> ratings):</b><br>
			<% else -%>
			<b>pick for winner by <span title="<%= metamap_node_id %>"><%= metamap_node_name %></span> out of all items (<%=  @data[metamap.id]['ratedby']['nodes'][metamap_node_id]['ratings'].length %> ratings):</b><br>			
			<% end -%>
			<% for item_id,i in @data[metamap.id]['ratedby']['nodes'][metamap_node_id]['itemsproc'] -%>
				<a href="/participant/<%= i['id'] %>/profile"><%= i['name'] %></a>: <a href="/items/<%= item_id %>/view"><%= i['subject'] || "no subject" %></a>: interest:<%= i['num_interest']%>:<%= sprintf("%.1f",i['avg_interest']) %>, approval:<%= i['num_approval'] %>:<%= sprintf("%.1f",i['avg_approval']) %>, value:<%= sprintf("%.1f",i['value']) %>, ratings:<%= i['votes'] %><br>
				<% break if not @all %>
			<% end -%>
		<% else -%>
			<%= metamap_node_name %> rated nothing<br>
		<% end -%>
		<br>
		
		<% if  @data[metamap.id]['postedby']['nodes'][metamap_node_id] and  @data[metamap.id]['postedby']['nodes'][metamap_node_id]['items'].length > 0 -%>
			<% for rate_metamap_node_id,rdata in @data[metamap.id]['matrix']['post_rate'][metamap_node_id] %>
				<% if @all -%>
				<b>highest rated <span title="<%= metamap_node_id %>"><%= metamap_node_name %></span> items chosen by <span title="<%= rate_metamap_node_id %>"><%= @data[metamap.id]['nodes'][rate_metamap_node_id] %></span> raters (<%= @data[metamap.id]['matrix']['post_rate'][metamap_node_id][rate_metamap_node_id]['ratings'].length %>):</b><br>
				<% else -%>
				<b><span title="<%= metamap_node_id %>"><%= metamap_node_name %></span> winner chosen by <span title="<%= rate_metamap_node_id %>"><%= @data[metamap.id]['nodes'][rate_metamap_node_id] %></span> raters (<%= @data[metamap.id]['matrix']['post_rate'][metamap_node_id][rate_metamap_node_id]['ratings'].length %>):</b><br>			
				<% end -%>
				<% for item_id,i in @data[metamap.id]['matrix']['post_rate'][metamap_node_id][rate_metamap_node_id]['itemsproc'] -%>
					<a href="/participant/<%= i['id'] %>/profile"><%= i['name'] %></a>: <a href="/items/<%= item_id %>/view"><%= i['subject'] || "no subject" %></a>: interest:<%= i['num_interest']%>:<%= sprintf("%.1f",i['avg_interest']) %>, approval:<%= i['num_approval'] %>:<%= sprintf("%.1f",i['avg_approval']) %>, value:<%= sprintf("%.1f",i['value']) %>, ratings:<%= i['votes'] %><br>
					<% break if not @all %>
				<% end -%>
			<% end -%>
		<% end -%>
		<br>
	<% end -%>
	<br>
	</div>

<% end -%>

<script>
function updatemeta() {
	var period_id = $('#period_id').val();
	window.location.href = "?period_id=" +  period_id;
}
</script>
