<h3>Voting Results</h3>

<ul>
<% for period in @periods -%>
	<li><a href="/dialogs/<%= period.dialog_id %>/result?period_id=<%= period.id %>"><%= period.startdate %> - <%= period.endrating %>: <%= period.name %></a></li>
<% end -%>
</ul>	

