<% require 'pp' %>

<%= render(:partial => 'dialogs/menu') %>

<% if (@period and @dialog.active_period and @period == @dialog.active_period) -%>
<p>This Decision Period is still open. These results are preliminary and subject to change.</p>
<% end -%>

<%
short_full_a = [['short list','short'],['medium list','medium'],['full list','full']]
if @period and (@period.crosstalk == 'gender' or @period.crosstalk == 'gender1')
  short_full_a << ['by gender','gender']
elsif @period and (@period.crosstalk == 'age' or @period.crosstalk == 'age1')
  short_full_a << ['by age','age']
end
%>

<p>
	<%= select_tag :period_id, options_for_select([['* all messages *',0]]+@dialog.periods.collect{|p| [p.name,p.id]},@period_id), :onchange=>"reload()" %>
	<%= hidden_field_tag :period_id_bef, @period_id.to_i %>
	<%= select_tag :short_full, options_for_select(short_full_a,@short_full), :onchange=>"reload()" %>
	<%= select_tag :less_more, options_for_select([['less info','less'],['more info','more']],@less_more),:style=>"display:#{(@short_full=='short' or @short_full=='gender' or @short_full=='age') ? "none" : "inline"}",:onchange=>"reload()" %>
	<%= select_tag :regress, options_for_select([['regress to mean','regress'],['raw scores','raw']],@regress),:style=>"display:#{(@short_full=='short' or @short_full=='gender' or @short_full=='age') ? "none" : "inline"}",:onchange=>"reload()" %>
	<%= select_tag :limit_group_id, options_for_select([['all groups',0]]+@dialog.groups.collect{|c| [c.name,c.id]},@limit_group_id), :style=>"display:#{(@short_full=='short' or @short_full=='gender' or @short_full=='age') ? "none" : "inline"}", :onchange=>"reload()" %>	
</p>

<% if @period_id.to_i == 0 -%>
<p>These are the overall results regardless of decision period</p>
<% end -%>

<% if @short_full=='full' -%>
<h2>Overall<%= " winner" if not @all %></h2>
<% elsif @short_full == 'gender' -%>
<h2>Gender Crosstalk</h2>
<% elsif @short_full=='age' -%>
<h2>Age Crosstalk</h2>
<% else -%>
<h2>Voice of Humanity as One</h2>
<% end -%>

<% if false %>chosen by all voters (<%= @data['totals']['items'].length %> items, <%=@data['totals']['ratings'].length %> votes)<% end %>


<% if params[:ratings] -%>
<% if true -%>
<p><b>SQL for selecting items:</b> <%= @data['totals']['extras']['sql'] %></p>
<% end -%>
<p><b>Regression to the Mean:</b> <%=raw @data['totals']['extras']['explanation'] %></p>
<% end -%>

<% if @short_full != 'gender' and @short_full != 'age' -%>
  <div>
  <% if @data['totals']['itemsproc'].length == 0 -%>
  	no overall winner<br>
  <% else -%>	
  	<% for item_id,i in @data['totals']['itemsproc'] -%>
  		<a href="/items/<%= item_id %>/view" style="<%= "font-size:14px;font-weight:bold" if @short_full=='short'%>"><%= i['subject'] || "no subject" %></a> <% if @less_more=='more' %>author: <%=raw i['name'] %><% end %> interest: <%= sprintf("%.1f",i['avg_interest']) %>, approval: <%= sprintf("%.1f",i['avg_approval']) %>, value:<%= sprintf("%.1f",i['value'])  %>, <% if @less_more=='more' %>controversy: <%= sprintf("%.1f",i['controversy'])  %>,<% end %> ratings:<%=  i['num_raters']  %><br>
  		<% if params[:ratings] and i['ratings'].length > 0 -%>
    		<b>Ratings summary, no regression to the mean:</b><br>
    		<%=raw i['ratingnoregmean'] %> 
    		<% if i['ratingwithregmean'] -%>  
    			<b>Ratings summary, after regression to the mean:</b><br>
    			<%=raw i['ratingwithregmean'] %>
        <% end %>
        <b>Ratings:</b><br>
        <% i['ratings'].each do |r| %>  
          <%= "#{r.created_at} by user:#{r.participant_id} in group:#{r.group_id} discussion:#{r.dialog_id} period:#{r.period_id} interest:#{r.interest ? r.interest.to_i : '-'} approval:#{r.approval ? r.approval.to_i : '-'}" %><br>
        <% end -%>
      <% elsif params[:ratings] -%>
        <b>No ratings</b><br>    
  		<% end -%>
  		<% break if not @all %>
  	<% end -%>
  	[<a href="/dialogs/<%= @dialog_id %>/forum?<%=raw @period_id > 0 ? "period_id=#{@period_id}&amp;" : "" %><%=raw @limit_group_id > 0 ? "limit_group_id=#{@limit_group_id}&amp;" : "" %>sortby=*value*&amp;threads=root&amp;from=result">see all in the forum list</a>]<br>
  <% end -%>
  <br>
  </div>
<% end -%>

<% for metamap in @metamaps -%>

  <% next if (@short_full == 'gender' and metamap.id != 3) or (@short_full == 'age' and metamap.id != 5) %>

	<div>
	<% for metamap_node_id,minfo in @data['meta'][metamap.id]['nodes_sorted'] -%>
		<% metamap_node_name = minfo[0] %>
		<% metamap_node = minfo[1] %>
		<h3 title="<%= metamap_node_id %>"><%= metamap_node_name %></h3>
		
		<% if @short_full == 'short' -%>
		
			<% if  @data['meta'][metamap.id]['postedby']['nodes'][metamap_node_id] and  @data['meta'][metamap.id]['postedby']['nodes'][metamap_node_id]['itemsproc'].length > 0 -%>			
				<% if @data['meta'][metamap.id]['matrix']['post_rate'][metamap_node_id][metamap_node_id] -%>
					<% xcount = 0 %>
					<% for item_id,i in @data['meta'][metamap.id]['matrix']['post_rate'][metamap_node_id][metamap_node_id]['itemsproc'] -%>
					<% if xcount == 0 and !@all and i['value'] <= 0 %>
						no positive results<br>
						<% break %>
					<% else -%>
						<a href="/items/<%= item_id %>/view" style="font-size:14px;font-weight:bold"><%= i['subject'] || "no subject" %></a> <% if @less_more=='more' %>author: <%=raw i['name'] %><% end %> interest: <%= sprintf("%.1f",i['avg_interest']) %>, approval: <%= sprintf("%.1f",i['avg_approval']) %>, value:<%= sprintf("%.1f",i['value']) %>, <% if @less_more=='more' %>controversy: <%= sprintf("%.1f",i['controversy'])  %>,<% end %> ratings:<%=  i['num_raters']  %><br>
					<% end -%>
					<% break if not @all %>
					<% xcount += 1 %>
					<% end -%>
				<% else -%>
					no messages<br>
				<% end -%>
				[<a href="/dialogs/<%= @dialog_id %>/forum?<%=raw @period_id > 0 ? "period_id=#{@period_id}&amp;" : "" %><%=raw @limit_group_id > 0 ? "limit_group_id=#{@limit_group_id}&amp;" : "" %>sortby=*value*&amp;threads=root&amp;from=result&amp;posted_by_metamap_<%= metamap.id %>=<%= metamap_node_id %>&amp;rated_by_metamap_<%= metamap.id %>=<%= metamap_node_id %>">see all in the forum list</a>]<br>
			<% else -%>
				no messages<br>
			<% end -%>
			<br>
			
		<% elsif @short_full == 'gender' or @short_full == 'age' %>	
		
		  <% gotdata = false %>
  		<% if  @data['meta'][metamap.id]['postedby']['nodes'][metamap_node_id] and  @data['meta'][metamap.id]['postedby']['nodes'][metamap_node_id]['items'].length > 0 -%>
  			<% if @data['meta'][metamap.id]['matrix']['post_rate'][metamap_node_id].length > 0 %>
    			<% for rate_metamap_node_id,rdata in @data['meta'][metamap.id]['matrix']['post_rate'][metamap_node_id] %>
    			  <% if rate_metamap_node_id == metamap_node_id -%>
    			    <% if false -%>
      				<b><span title="<%= metamap_node_id %>"><%= metamap_node_name %></span> winner chosen by <span title="<%= rate_metamap_node_id %>"><%= @data['meta'][metamap.id]['nodes'][rate_metamap_node_id][0] %></span> raters (<%= @data['meta'][metamap.id]['matrix']['post_rate'][metamap_node_id][rate_metamap_node_id]['items'].length %> items, <%= @data['meta'][metamap.id]['matrix']['post_rate'][metamap_node_id][rate_metamap_node_id]['ratings'].length %> votes):</b><br>			
      				<% end -%>
      				<% for item_id,i in @data['meta'][metamap.id]['matrix']['post_rate'][metamap_node_id][rate_metamap_node_id]['itemsproc'] -%>
      					<% item = @data[0]['items'][item_id] %>
                <% @itemsproc = @data['meta'][metamap.id]['matrix']['post_rate'][metamap_node_id][rate_metamap_node_id]['itemsproc'] %>      					
      					   					
      					<div class="forumitem forumitemplain forummain forum1">   					
        				<%= render :partial => "items/item_simple", :locals => { :item => item, :itemproc=>i, :from=>'result' } %>
                <div>
                  [<a href="/dialogs/<%= @dialog_id %>/forum?<%=raw @period_id > 0 ? "period_id=#{@period_id}&amp;" : "" %><%=raw @limit_group_id > 0 ? "limit_group_id=#{@limit_group_id}&amp;" : "" %>sortby=*value*&amp;threads=root&amp;from=result&amp;posted_by_metamap_<%= metamap.id %>=<%= metamap_node_id %>&amp;rated_by_metamap_<%= metamap.id %>=<%= rate_metamap_node_id %>">see in the forum list</a>]
                </div>
      					</div>      			
            		
            		<% if params[:ratings] and i['ratings'].length > 0 -%>
              		<b>Ratings summary, no regression to the mean:</b><br>
              		<%=raw i['ratingnoregmean'] %><br> 
              		<% if i['ratingwithregmean'] -%>  
              			<b>Ratings summary, after regression to the mean:</b><br>
              			<%=raw i['ratingwithregmean'] %><br>
                  <% end %>
                  <b>Ratings:</b><br>
                  <% i['ratings'].each do |r| %>  
                    <%= "#{r.created_at} by user:#{r.participant_id} in group:#{r.group_id} discussion:#{r.dialog_id} period:#{r.period_id} interest:#{r.interest ? r.interest.to_i : '-'} approval:#{r.approval ? r.approval.to_i : '-'}" %><br>
                  <% end -%>
                <% elsif params[:ratings] -%>
                  <b>No ratings</b><br>    
            		<% end -%>
            		      					      					
       					<% break %>
      				<% end -%>
      			  <% gotdata = true %>
      			<% end -%>
    			<% end -%>
    		<% end -%>	
  		<% end -%>
  		<% if not gotdata -%>
				<p>There is no data</p>
			<% end %>	
				
		<% else -%>

			<% if  @data['meta'][metamap.id]['postedby']['nodes'][metamap_node_id] and  @data['meta'][metamap.id]['postedby']['nodes'][metamap_node_id]['itemsproc'].length > 0 -%>
				<% if @all -%>
				<b>highest rated <span title="<%= metamap_node_id %>"><%= metamap_node_name %></span> chosen by all voters (<%= @data['meta'][metamap.id]['postedby']['nodes'][metamap_node_id]['ratings'].length %> items, <%= @data['meta'][metamap.id]['postedby']['nodes'][metamap_node_id]['ratings'].length %> votes):</b><br>
				<% else -%>
				<b><span title="<%= metamap_node_id %>"><%= metamap_node_name %></span> winner chosen by all voters (<%= @data['meta'][metamap.id]['postedby']['nodes'][metamap_node_id]['items'].length %> items, <%= @data['meta'][metamap.id]['postedby']['nodes'][metamap_node_id]['ratings'].length %> votes):</b><br>
				<% end -%>
				<% for item_id,i in @data['meta'][metamap.id]['postedby']['nodes'][metamap_node_id]['itemsproc'] -%>
				<a href="/items/<%= item_id %>/view"><%= i['subject'] || "no subject" %></a> <% if @less_more=='more' %>author: <%=raw i['name'] %><% end %> interest: <%= sprintf("%.1f",i['avg_interest']) %>, approval: <%= sprintf("%.1f",i['avg_approval']) %>, value:<%= sprintf("%.1f",i['value']) %>, <% if @less_more=='more' %>controversy: <%= sprintf("%.1f",i['controversy'])  %>,<% end %> ratings:<%=  i['num_raters']  %><br>
				<% break if not @all %>
				<% end -%>
				[<a href="/dialogs/<%= @dialog_id %>/forum?<%=raw @period_id > 0 ? "period_id=#{@period_id}&amp;" : "" %><%=raw @limit_group_id > 0 ? "limit_group_id=#{@limit_group_id}&amp;" : "" %>sortby=*value*&amp;threads=root&amp;from=result&amp;posted_by_metamap_<%= metamap.id %>=<%= metamap_node_id %>">see all in the forum list</a>]<br>
			<% else -%>
				<%= metamap_node_name %> posted nothing<br>
			<% end -%>
			<br>
		
			<% if @data['meta'][metamap.id]['ratedby']['nodes'][metamap_node_id] and @data['meta'][metamap.id]['ratedby']['nodes'][metamap_node_id]['itemsproc'].length > 0 -%>
				<% if @all -%>
				<b>items highest rated by <span title="<%= metamap_node_id %>"><%= metamap_node_name %></span> of all items (<%=  @data['meta'][metamap.id]['ratedby']['nodes'][metamap_node_id]['items'].length %> items, <%=  @data['meta'][metamap.id]['ratedby']['nodes'][metamap_node_id]['ratings'].length %> votes):</b><br>
				<% else -%>
				<b>overall winner chosen by <span title="<%= metamap_node_id %>"><%= metamap_node_name %></span> voters (<%=  @data['meta'][metamap.id]['ratedby']['nodes'][metamap_node_id]['items'].length %> items, <%=  @data['meta'][metamap.id]['ratedby']['nodes'][metamap_node_id]['ratings'].length %> votes):</b><br>			
				<% end -%>
				<% for item_id,i in @data['meta'][metamap.id]['ratedby']['nodes'][metamap_node_id]['itemsproc'] -%>
					<a href="/items/<%= item_id %>/view"><%= i['subject'] || "no subject" %></a> <% if @less_more=='more' %>author: <%=raw i['name'] %><% end %> interest: <%= sprintf("%.1f",i['avg_interest']) %>, approval: <%= sprintf("%.1f",i['avg_approval']) %>, value:<%= sprintf("%.1f",i['value']) %>, <% if @less_more=='more' %>controversy: <%= sprintf("%.1f",i['controversy'])  %>,<% end %> ratings:<%=  i['num_raters']  %><br>
					<% break if not @all %>
				<% end -%>
				[<a href="/dialogs/<%= @dialog_id %>/forum?<%=raw @period_id > 0 ? "period_id=#{@period_id}&amp;" : "" %><%=raw @limit_group_id > 0 ? "limit_group_id=#{@limit_group_id}&amp;" : "" %>sortby=*value*&amp;threads=root&amp;from=result&amp;rated_by_metamap_<%= metamap.id %>=<%= metamap_node_id %>">see all in the forum list</a>]<br>
			<% else -%>
				<%= metamap_node_name %> rated nothing<br>
			<% end -%>
			<br>
		
			<% if  @data['meta'][metamap.id]['postedby']['nodes'][metamap_node_id] and  @data['meta'][metamap.id]['postedby']['nodes'][metamap_node_id]['items'].length > 0 -%>
				<% for rate_metamap_node_id,rdata in @data['meta'][metamap.id]['matrix']['post_rate'][metamap_node_id] %>
					<% if @all -%>
					<b>highest rated <span title="<%= metamap_node_id %>"><%= metamap_node_name %></span> items chosen by <span title="<%= rate_metamap_node_id %>"><%= @data['meta'][metamap.id]['nodes'][rate_metamap_node_id][0] %></span> raters (<%= @data['meta'][metamap.id]['matrix']['post_rate'][metamap_node_id][rate_metamap_node_id]['items'].length %> items, <%= @data['meta'][metamap.id]['matrix']['post_rate'][metamap_node_id][rate_metamap_node_id]['ratings'].length %> votes):</b><br>
					<% else -%>
					<b><span title="<%= metamap_node_id %>"><%= metamap_node_name %></span> winner chosen by <span title="<%= rate_metamap_node_id %>"><%= @data['meta'][metamap.id]['nodes'][rate_metamap_node_id][0] %></span> raters (<%= @data['meta'][metamap.id]['matrix']['post_rate'][metamap_node_id][rate_metamap_node_id]['items'].length %> items, <%= @data['meta'][metamap.id]['matrix']['post_rate'][metamap_node_id][rate_metamap_node_id]['ratings'].length %> votes):</b><br>			
					<% end -%>
					<% for item_id,i in @data['meta'][metamap.id]['matrix']['post_rate'][metamap_node_id][rate_metamap_node_id]['itemsproc'] -%>
						<a href="/items/<%= item_id %>/view"><%= i['subject'] || "no subject" %></a> <% if @less_more=='more' %>author: <%=raw i['name'] %><% end %> interest: <%= sprintf("%.1f",i['avg_interest']) %>, approval: <%= sprintf("%.1f",i['avg_approval']) %>, value:<%= sprintf("%.1f",i['value']) %>, <% if @less_more=='more' %>controversy: <%= sprintf("%.1f",i['controversy'])  %>,<% end %> ratings:<%=  i['num_raters']  %><br>
						<% break if not @all %>
					<% end -%>
					[<a href="/dialogs/<%= @dialog_id %>/forum?<%=raw @period_id > 0 ? "period_id=#{@period_id}&amp;" : "" %><%=raw @limit_group_id > 0 ? "limit_group_id=#{@limit_group_id}&amp;" : "" %>sortby=*value*&amp;threads=root&amp;from=result&amp;posted_by_metamap_<%= metamap.id %>=<%= metamap_node_id %>&amp;rated_by_metamap_<%= metamap.id %>=<%= rate_metamap_node_id %>">see all in the forum list</a>]<br><br>
				<% end -%>
			<% end -%>	
				
		<% end -%>
		
	<% end -%>
	<br>
	</div>

<% end -%>

<% if @limit_group_id == 0 and @dialog.active_groups.length > 1 and not (@short_full == 'gender' or @short_full == 'age') -%>
<% for group in @dialog.groups.sort {|a,b| a.name <=> b.name} -%>
	<% group_id = group.id %>
	<div>
	<h3 title="<%= metamap_node_id %>"><%= group.name %></h3>
	<% if @data['groups'][group_id]['itemsproc'].length == 0 or @data['groups'][group_id]['ratings'].length == 0 -%>
		no messages<br>
	<% else -%>	
		<% xcount = 0 %>
		<% for item_id,i in @data['groups'][group_id]['itemsproc'] -%>
			<% if xcount == 0 and !@all and i['value'] <= 0 %>
				no positive results<br>
				<% break %>
			<% else -%>
				<a href="/items/<%= item_id %>/view" style="<%= "font-size:14px;font-weight:bold" if @short_full=='short'%>"><%= i['subject'] || "no subject" %></a> <% if @less_more=='more' %>author: <%=raw i['name'] %><% end %> interest: <%= sprintf("%.1f",i['avg_interest']) %>, approval: <%= sprintf("%.1f",i['avg_approval']) %>, value:<%= sprintf("%.1f",i['value'])  %>, <% if @less_more=='more' %>controversy: <%= sprintf("%.1f",i['controversy'])  %>,<% end %> ratings:<%=  i['num_raters']  %><br>
				<% break if not @all %>
			<% end -%>
			<% xcount += 1 %>
		<% end -%>
		[<a href="/dialogs/<%= @dialog_id %>/forum?<%=raw @period_id > 0 ? "period_id=#{@period_id}&amp;" : "" %>limit_group_id=<%= group_id %>&amp;sortby=*value*&amp;threads=root&amp;from=result">see all in the forum list</a>]<br>
	<% end -%>
	<br>
	</div>
<% end -%>
<% end -%>

<script>
function updatemeta() {
	var period_id = $('#period_id').val();
	window.location.href = "?period_id=" +  period_id;
}
function reload() {
	var short_full = $('#short_full').val();
	var less_more = $('#less_more').val();
	var regress = $('#regress').val();
	var period_id = $('#period_id').val();;
	var period_id_bef = $('#period_id_bef').val();;
	var limit_group_id = $('#limit_group_id').val();
	if (short_full=='short' || short_full=='gender' || short_full=='age') {
		$('#less_more').hide();
		$('#regress').hide();
	} else {
		$('#less_more').show();
		$('#regress').show();
	}
	window.location.href = "?period_id=" + period_id + "&short_full=" +  short_full + '&less_more=' + less_more + '&regress=' + regress + '&limit_group_id=' + limit_group_id + '&period_id_bef=' + period_id_bef;	
}
</script>
