<% require 'pp' %>

<%= render(:partial => 'dialogs/menu') %>

<h2>Overall<%= " winner" if not @all %></h2>

<div>
<% for item_id,i in @data[0]['itemsproc'] -%>
<a href="/participant/<%= i['id'] %>/profile"><%= i['name'] %></a>: <%= i['subject'] %>: interest:<%= i['num_interest']%>:<%= sprintf("%.1f",i['avg_interest']) %>, approval:<%= i['num_approval'] %>:<%= sprintf("%.1f",i['avg_approval']) %>, value:<%= sprintf("%.1f",i['value']) %><br>
<% break if not @all %>
<% end -%>
</div>

<% for metamap in @metamaps -%>
	<h2><%= metamap.name %></h2>

	<div>
	<% for metamap_node_id,metamap_node_name in @data[metamap.id]['nodes'] -%>
		<h3><%= metamap_node_name %>:</h3>
		<% if  @data[metamap.id]['postedby']['nodes'][metamap_node_id] and  @data[metamap.id]['postedby']['nodes'][metamap_node_id]['itemsproc'].length > 0 -%>
			<% if @all -%>
			<b>highest rated <%= metamap_node_name %> items by all votes:</b><br>
			<% else -%>
			<b>winning <%= metamap_node_name %> item by all votes:</b><br>
			<% end -%>
			<% for item_id,i in @data[metamap.id]['postedby']['nodes'][metamap_node_id]['itemsproc'] -%>
			<a href="/participant/<%= i['id'] %>/profile"><%= i['name'] %></a>: <%= i['subject'] %>: interest:<%= i['num_interest']%>:<%= sprintf("%.1f",i['avg_interest']) %>, approval:<%= i['num_approval'] %>:<%= sprintf("%.1f",i['avg_approval']) %>, value:<%= sprintf("%.1f",i['value']) %><br>
			<% break if not @all %>
			<% end -%>
		<% else -%>
			posted nothing<br>
		<% end -%>
		<br>
		
		<% if @data[metamap.id]['ratedby']['nodes'][metamap_node_id] and @data[metamap.id]['ratedby']['nodes'][metamap_node_id]['itemsproc'].length > 0 -%>
			<% if @all -%>
			<b>items highest rated by <%= metamap_node_name %> of all items:</b><br>
			<% else -%>
			<b>pick for winner by <%= metamap_node_name %> out of all items:</b><br>			
			<% end -%>
			<% for item_id,i in @data[metamap.id]['ratedby']['nodes'][metamap_node_id]['itemsproc'] -%>
				<a href="/participant/<%= i['id'] %>/profile"><%= i['name'] %></a>: <%= i['subject'] %>: interest:<%= i['num_interest']%>:<%= sprintf("%.1f",i['avg_interest']) %>, approval:<%= i['num_approval'] %>:<%= sprintf("%.1f",i['avg_approval']) %>, value:<%= sprintf("%.1f",i['value']) %><br>
				<% break if not @all %>
			<% end -%>
		<% else -%>
			rated nothing<br>
		<% end -%>
		<br>
		
		<% if  @data[metamap.id]['postedby']['nodes'][metamap_node_id] and  @data[metamap.id]['postedby']['nodes'][metamap_node_id]['items'].length > 0 -%>
			<% if @all -%>
			<b>highest rated <%= metamap_node_name %> items chosen by different groups:</b><br>
			<% else -%>
			<b><%= metamap_node_name %> winner chosen by raters from different groups:</b><br>			
			<% end -%>
			<% for rate_metamap_node_id,rdata in @data[metamap.id]['matrix']['post_rate'][metamap_node_id] %>
				<b>meta:<%= @data[metamap.id]['nodes'][rate_metamap_node_id] %></b><br>
				<% for item_id,i in @data[metamap.id]['matrix']['post_rate'][metamap_node_id][rate_metamap_node_id]['itemsproc'] -%>
					<a href="/participant/<%= i['id'] %>/profile"><%= i['name'] %></a>: <%= i['subject'] %>: interest:<%= i['num_interest']%>:<%= sprintf("%.1f",i['avg_interest']) %>, approval:<%= i['num_approval'] %>:<%= sprintf("%.1f",i['avg_approval']) %>, value:<%= sprintf("%.1f",i['value']) %><br>
					<% break if not @all %>
				<% end -%>
			<% end -%>
		<% end -%>
		<br>
	<% end -%>
	<br>
	</div>

<% end -%>

<script>
function updatemeta() {
	var period_id = $('#period_id').val();
	window.location.href = "?period_id=" +  period_id;
}
</script>
