<% require 'pp' %>

<%= render(:partial => 'dialogs/menu') %>

<p>
	<%= select_tag :short_full, options_for_select([['short list','short'],['medium list','medium'],['full list','full']],@short_full), :onchange=>"reload()" %>
	<%= select_tag :less_more, options_for_select([['less info','less'],['more info','more']],@less_more),:style=>"display:none",:onchange=>"reload()" %>
	<%= select_tag :regress, options_for_select([['regress to mean','regress'],['raw scores','raw']],@regress),:style=>"display:none",:onchange=>"reload()" %>
</p>

<% if false and @regmean -%>
<h3>Regression to the Mean</h3>
<p>Interest: avg: <%= @avg_votes_int %> votes of <%= @avg_interest %><br>
Approval: avg: <%= @avg_votes_app %> votes of <%= @avg_approval %></p>
<% end -%>

<h2>Overall<%= " winner" if not @all %></h2>
<% if false %>chosen by all voters (<%= @data[0]['items'].length %> items, <%= @data[0]['ratings'].length %> votes)<% end %>

<div>
<% for item_id,i in @data[0]['itemsproc'] -%>
<a href="/items/<%= item_id %>/view"><%= i['subject'] || "no subject" %></a> <% if @less_more=='more' %>author: <a href="/participant/<%= i['id'] %>/profile"><%= i['name'] %></a><% end %> interest:<%= i['num_interest']%>:<%= sprintf("%.1f",i['avg_interest']) %>, approval:<%= i['num_approval'] %>:<%= sprintf("%.1f",i['avg_approval']) %>, value:<%= sprintf("%.1f",i['value'])  %>, <% if @less_more=='more' %>controversy: <%= sprintf("%.1f",i['controversy'])  %>,<% end %> ratings:<%= i['votes'] %><br>
<% break if not @all %>
<% end -%>
[<a href="/dialogs/<%= @dialog_id %>/forum?<%=raw @period_id > 0 ? "period_id=#{@period_id}&amp;" : "" %>sortby=*value*&amp;threads=root&amp;from=result" target="_blank">see all in the forum</a>]<br>
<br>
</div>

<% for metamap in @metamaps -%>
	<h2 title="<%= metamap.id %>"><%= metamap.name %></h2>

	<div>
	<% for metamap_node_id,metamap_node_name in @data[metamap.id]['nodes_sorted'] -%>
		<h3 title="<%= metamap_node_id %>"><%= metamap_node_name %>:</h3>
		<% if  @data[metamap.id]['postedby']['nodes'][metamap_node_id] and  @data[metamap.id]['postedby']['nodes'][metamap_node_id]['itemsproc'].length > 0 -%>
			<% if @all -%>
			<b>highest rated <span title="<%= metamap_node_id %>"><%= metamap_node_name %></span> chosen by all voters (<%= @data[metamap.id]['postedby']['nodes'][metamap_node_id]['ratings'].length %> items, <%= @data[metamap.id]['postedby']['nodes'][metamap_node_id]['ratings'].length %> votes):</b><br>
			<% else -%>
			<b><span title="<%= metamap_node_id %>"><%= metamap_node_name %></span> winner chosen by all voters (<%= @data[metamap.id]['postedby']['nodes'][metamap_node_id]['items'].length %> items, <%= @data[metamap.id]['postedby']['nodes'][metamap_node_id]['ratings'].length %> votes):</b><br>
			<% end -%>
			<% for item_id,i in @data[metamap.id]['postedby']['nodes'][metamap_node_id]['itemsproc'] -%>
			<a href="/items/<%= item_id %>/view"><%= i['subject'] || "no subject" %></a> <% if @less_more=='more' %>author: <a href="/participant/<%= i['id'] %>/profile"><%= i['name'] %></a><% end %> interest:<%= i['num_interest']%>:<%= sprintf("%.1f",i['avg_interest']) %>, approval:<%= i['num_approval'] %>:<%= sprintf("%.1f",i['avg_approval']) %>, value:<%= sprintf("%.1f",i['value']) %>, <% if @less_more=='more' %>controversy: <%= sprintf("%.1f",i['controversy'])  %>,<% end %> ratings:<%= i['votes'] %><br>
			<% break if not @all %>
			<% end -%>
			[<a href="/dialogs/<%= @dialog_id %>/forum?<%=raw @period_id > 0 ? "period_id=#{@period_id}&amp;" : "" %>sortby=*value*&amp;threads=root&amp;from=result&amp;posted_by_metamap_<%= metamap.id %>=<%= metamap_node_id %>" target="_blank">see all<%= @all ? " in the forum" : "" %></a>]<br>
		<% else -%>
			<%= metamap_node_name %> posted nothing<br>
		<% end -%>
		<br>
		
		<% if @data[metamap.id]['ratedby']['nodes'][metamap_node_id] and @data[metamap.id]['ratedby']['nodes'][metamap_node_id]['itemsproc'].length > 0 -%>
			<% if @all -%>
			<b>items highest rated by <span title="<%= metamap_node_id %>"><%= metamap_node_name %></span> of all items (<%=  @data[metamap.id]['ratedby']['nodes'][metamap_node_id]['items'].length %> items, <%=  @data[metamap.id]['ratedby']['nodes'][metamap_node_id]['ratings'].length %> votes):</b><br>
			<% else -%>
			<b>overall winner chosen by <span title="<%= metamap_node_id %>"><%= metamap_node_name %></span> voters (<%=  @data[metamap.id]['ratedby']['nodes'][metamap_node_id]['items'].length %> items, <%=  @data[metamap.id]['ratedby']['nodes'][metamap_node_id]['ratings'].length %> votes):</b><br>			
			<% end -%>
			<% for item_id,i in @data[metamap.id]['ratedby']['nodes'][metamap_node_id]['itemsproc'] -%>
				<a href="/items/<%= item_id %>/view"><%= i['subject'] || "no subject" %></a> <% if @less_more=='more' %>author: <a href="/participant/<%= i['id'] %>/profile"><%= i['name'] %></a><% end %> interest:<%= i['num_interest']%>:<%= sprintf("%.1f",i['avg_interest']) %>, approval:<%= i['num_approval'] %>:<%= sprintf("%.1f",i['avg_approval']) %>, value:<%= sprintf("%.1f",i['value']) %>, <% if @less_more=='more' %>controversy: <%= sprintf("%.1f",i['controversy'])  %>,<% end %> ratings:<%= i['votes'] %><br>
				<% break if not @all %>
			<% end -%>
			[<a href="/dialogs/<%= @dialog_id %>/forum?<%=raw @period_id > 0 ? "period_id=#{@period_id}&amp;" : "" %>sortby=*value*&amp;threads=root&amp;from=result&amp;rated_by_metamap_<%= metamap.id %>=<%= metamap_node_id %>" target="_blank">see all<%= @all ? " in the forum" : "" %></a>]<br>
		<% else -%>
			<%= metamap_node_name %> rated nothing<br>
		<% end -%>
		<br>
		
		<% if  @data[metamap.id]['postedby']['nodes'][metamap_node_id] and  @data[metamap.id]['postedby']['nodes'][metamap_node_id]['items'].length > 0 -%>
			<% for rate_metamap_node_id,rdata in @data[metamap.id]['matrix']['post_rate'][metamap_node_id] %>
				<% if @all -%>
				<b>highest rated <span title="<%= metamap_node_id %>"><%= metamap_node_name %></span> items chosen by <span title="<%= rate_metamap_node_id %>"><%= @data[metamap.id]['nodes'][rate_metamap_node_id] %></span> raters (<%= @data[metamap.id]['matrix']['post_rate'][metamap_node_id][rate_metamap_node_id]['items'].length %> items, <%= @data[metamap.id]['matrix']['post_rate'][metamap_node_id][rate_metamap_node_id]['ratings'].length %> votes):</b><br>
				<% else -%>
				<b><span title="<%= metamap_node_id %>"><%= metamap_node_name %></span> winner chosen by <span title="<%= rate_metamap_node_id %>"><%= @data[metamap.id]['nodes'][rate_metamap_node_id] %></span> raters (<%= @data[metamap.id]['matrix']['post_rate'][metamap_node_id][rate_metamap_node_id]['items'].length %> items, <%= @data[metamap.id]['matrix']['post_rate'][metamap_node_id][rate_metamap_node_id]['ratings'].length %> votes):</b><br>			
				<% end -%>
				<% for item_id,i in @data[metamap.id]['matrix']['post_rate'][metamap_node_id][rate_metamap_node_id]['itemsproc'] -%>
					<a href="/items/<%= item_id %>/view"><%= i['subject'] || "no subject" %></a> <% if @less_more=='more' %>author: <a href="/participant/<%= i['id'] %>/profile"><%= i['name'] %></a><% end %> interest:<%= i['num_interest']%>:<%= sprintf("%.1f",i['avg_interest']) %>, approval:<%= i['num_approval'] %>:<%= sprintf("%.1f",i['avg_approval']) %>, value:<%= sprintf("%.1f",i['value']) %>, <% if @less_more=='more' %>controversy: <%= sprintf("%.1f",i['controversy'])  %>,<% end %> ratings:<%= i['votes'] %><br>
					<% break if not @all %>
				<% end -%>
				[<a href="/dialogs/<%= @dialog_id %>/forum?<%=raw @period_id > 0 ? "period_id=#{@period_id}&amp;" : "" %>sortby=*value*&amp;threads=root&amp;from=result&amp;posted_by_metamap_<%= metamap.id %>=<%= metamap_node_id %>&amp;rated_by_metamap_<%= metamap.id %>=<%= rate_metamap_node_id %>" target="_blank">see all<%= @all ? " in the forum" : "" %></a>]<br><br>
			<% end -%>
		<% end -%>
	<% end -%>
	<br>
	</div>

<% end -%>

<script>
function updatemeta() {
	var period_id = $('#period_id').val();
	window.location.href = "?period_id=" +  period_id;
}
function reload() {
	var short_full = $('#short_full').val();
	var less_more = $('#less_more').val();
	var regress = $('#regress').val();
	var period_id = <%= @period_id > 0 ? @period_id.to_i : 0 %>;
	if (short_full=='short') {
		$('#less_more').hide();
		$('#regress').hide();
	} else {
		$('#less_more').show();
		$('#regress').show();
	}
	window.location.href = "?period_id=" + period_id + "&short_full=" +  short_full + '&less_more=' + less_more + '&regress=' + regress;	
}
</script>
