<%= render(:partial => 'dialogs/menu') %>

<div id="slider_container" style="overflow:none;width:740px;min-height:600px">

  <div style="float:left;width:595px;min-height:600px">

    <div id="per_main" style="width:595px;min-height:600px">
  
      loading...
        
    </div>
  
    <input type="hidden" id="sortby" value="<%= @sortby %>">
    <input type="hidden" id="threads" value="<%= @threads %>">
    <input type="hidden" id="datetype" value="<%= @datetype %>">
    <input type="hidden" id="datefixed" value="<%= @datefixed %>">
    <input type="hidden" id="datefrom" value="<%= @datefrom %>">
    <input type="hidden" id="comtag" value="<%= @comtag %>">
    <input type="hidden" id="messtag" value="<%= @messtag %>">
  
  </div>

  <div style="float:left;width:139px;padding-left:5px;">
  
    <p>
        <% if true -%>
        <input type="button" value="<%= @dialog.new_message_title.to_s != '' ? @dialog.new_message_title : "Add Message" %>" id="newthreadbutton" onclick="newitem('<%= form_authenticity_token %>')">
    		<% elsif session[:group_is_member] and ((@dialog.current_period.to_i > 0 and (@dialog.active_period.max_messages.to_i == 0 or @previous_messages_period < @dialog.active_period.max_messages.to_i)) or (@dialog.current_period.to_i == 0 and (@dialog.max_messages.to_i == 0 or @previous_messages < @dialog.max_messages.to_i))) and @dialog.settings_with_period["posting_open"] -%>
    		<input type="button" value="<%= @dialog.new_message_title.to_s != '' ? @dialog.new_message_title : "Add Message" %>" id="newthreadbutton" onclick="newitem('<%= form_authenticity_token %>')">
    		<% else -%>
    			<input type="button" value="<%= @dialog.new_message_title.to_s != '' ? @dialog.new_message_title : "Add Message" %>" title="<%= 
    			if not session[:group_is_member] then "Not group member" elsif not @dialog.settings_with_period["posting_open"] then "Posting is not open"
    	elsif not ((@dialog.current_period.to_i > 0 and (@dialog.active_period.max_messages.to_i == 0 or @previous_messages_period < @dialog.active_period.max_messages.to_i)) or (@dialog.current_period.to_i == 0 and (@dialog.max_messages.to_i == 0 or @previous_messages < @dialog.max_messages.to_i))) then "Maximum messages have been reached"
    	else "Can't post, for unknown reason" end %>" id="newthreadbutton" disabled="disabled" style="Opacity:0.5">
    		<% end -%>
        
        <% if @showing_options == 'more' -%>
          <input type="button" value="Hide Options" style="margin-top:10px" id="options_button" onclick="chg_options()">        
        <% else -%>
          <input type="button" value="Options" style="margin-top:10px" id="options_button" onclick="chg_options()">
        <% end -%>
      </p>

    <div style="margin: 20px 0 0 0;">
      <img src="/images/<%= @nvaction ? 'exitaction' : 'nvaction' %>.jpg" id="actionbutton" onclick="actionclick()">
    </div>
    
    <% if @show_result.to_i == 1 -%>
      <% if @include_nvaction -%>
        <input type="button" value="Exclude NV Action items" style="margin-top:10px;<%="display:none" if @nvaction %>" id="nvaction_include_button" onclick="chg_nvaction_include()">   
      <% else -%>
        <input type="button" value="Include NV Action items" style="margin-top:10px;<%="display:none" if @nvaction %>" id="nvaction_include_button" onclick="chg_nvaction_include()">
      <% end -%>
    <% end -%>  
    
    <div style="margin: 20px 0 0 0;">
    <% @geo_levels.each do |geo_level,geo_desc| -%>
      <input type="radio" name="geo_level_radio" value="<%= geo_level %>" <%= geo_level == @geo_level ? "checked" : "" %> onclick="per_reload()"><%=raw geo_desc %><br>    
    <% end -%>
    </div>

    <% if false -%>
      <div style="margin: 20px 0 0 0;">
      <% @group_levels.each do |group_level,group_desc| -%>
        <input type="radio" name="group_level_radio" value="<%= group_level %>" <%= group_level == @group_level ? "checked" : "" %> onclick="per_reload()"><%=raw group_desc %><br>    
      <% end -%>
      </div>
    <% end -%>
    
    <div style="margin: 20px 0 0 0;">
      <input type="radio" name="comtag_radio" value="" onclick="per_reload(false,1,'comtag')" <%= @comtag.to_s=='' ? "checked" : "" %>>any community<br>
      <% if @comtag.to_s != '' and @comtag != '*my*' and not current_participant.tag_list.include?(@comtag) -%>
      <input type="radio" name="comtag_radio" value="<%= @comtag %>" onclick="per_reload(false,1,'comtag')" checked>@<%= @comtag %><br>
      <% end -%>
      <input type="radio" name="comtag_radio" value="*my*" onclick="per_reload(false,1,'comtag')" <%= @comtag.to_s=='*my*' ? "checked" : "" %>>my communities<br> 
      <% current_participant.tags.each do |tag| -%>
        <input type="radio" name="comtag_radio" value="<%= tag.name %>" <%= (tag.name == @comtag.to_s) ? "checked" : "" %> onclick="per_reload(false,1,'comtag')">@<%= tag.name %><br> 
      <% end %>
    </div>
    
    <div style="margin: 20px 0 0 0;">
      <input type="radio" name="messtag_radio" value="" onclick="per_reload(false,1,'messtag')" <%= @messtag.to_s=='' ? "checked" : "" %>>any hashtag<br>
      <% if @messtag.to_s != '' and not current_participant.tag_list.include?(@messtag) -%>
      <input type="radio" name="messtag_radio" value="<%= @messtag %>" onclick="per_reload(false,1,'messtag')" checked>#<%= @messtag %><br>
      <% end -%>
      <% current_participant.tags.each do |tag| -%>
        <input type="radio" name="messtag_radio" value="<%= tag.name %>" <%= (tag.name == @messtag.to_s) ? "checked" : "" %> onclick="per_reload(false,1,'messtag')">#<%= tag.name %><br> 
      <% end %>
      <input type="radio" name="messtag_radio" value="*other*" onclick="per_reload(false,1,'messtag')">#<input type="text" id="messtag_other" size="10" maxlength="14">
    </div>

    <div style="margin: 20px 0 0 0;">
      <input type="radio" name="meta_3" id="meta_3_0" value="0" checked onclick="per_reload()">all<br>
      <% for metamap_node in MetamapNode.where(:metamap_id=>3).order(:sortorder) %>
        <% if not metamap_node.sumcat -%>
          <% if false %>
            <input type="checkbox" name="meta_3[]" id="meta_3_<%= metamap_node.id %>" value="<%= metamap_node.id %>" checked onclick="per_reload()"><%= metamap_node.name %><br>
          <% else %>
            <input type="radio" name="meta_3" id="meta_3_<%= metamap_node.id %>" value="<%= metamap_node.id %>" onclick="per_reload()"><%= metamap_node.name %><br>
          <% end -%>
        <% end %>
      <% end %>
    </div>

    <div style="margin: 20px 0 0 0;">
      <input type="radio" name="meta_5" id="meta_5_0" value="0" checked onclick="per_reload()">all<br>
      <% for metamap_node in MetamapNode.where(:metamap_id=>5).order(:sortorder) %>
        <% if not metamap_node.sumcat -%>
          <input type="radio" name="meta_5" id="meta_5_<%= metamap_node.id %>" value="<%= metamap_node.id %>" onclick="per_reload()"><%= metamap_node.name %><br>
        <% end %>
      <% end %>
    </div>
  
    <% if false %>
    <div style="margin: 20px 0 0 0;">
      <input type="checkbox" id="indigenous" value="1" onclick="per_reload()"<% if @indigenous %> checked<% end %>>Indigenous<br>
      <input type="checkbox" id="other_minority" value="1" onclick="per_reload()"<% if @other_minority %> checked<% end %>>Other Minority<br>
      <input type="checkbox" id="veteran" value="1" onclick="per_reload()"<% if @veteran %> checked<% end %>>Veteran<br>
      <input type="checkbox" id="interfaith" value="1" onclick="per_reload()"<% if @interfaith %> checked<% end %>>Interfaith<br>
      <input type="checkbox" id="refugee" value="1" onclick="per_reload()"<% if @refugee %> checked<% end %>>Refugee<br>
    </div>    
    <div style="margin: 20px 0 0 0;">
      <% DEFAULT_COMMUNITIES.each do |tag,desc| -%>
        <% if current_participant.tag_list.include?(tag) -%>
          <input type="checkbox" id="check_<%= tag %>" data-tag="<%= tag %>" value="1" class="com_check" onclick="per_reload()"<% if false %> checked<% end %>><%= desc %><br>
        <% end -%>
      <% end -%>
    </div>
    <% end %>

    <div style="display:none;margin: 20px 0 0 0;">
      <input type="radio" name="show_result" value="0" <%= @show_result.to_i == 0 ? "checked" : "" %> onclick="per_reload(undefined,undefined,'show_result')">Listing<br>
      <input type="radio" name="show_result" value="1" <%= @show_result.to_i == 1 ? "checked" : "" %> onclick="per_reload(undefined,undefined,'show_result')">Results
    </div>
  
  </div>

</div>

<input type="hidden" name="dialog_id" id="dialog_id" value="<%= @dialog_id %>">
<input type="hidden" id="active_period_id" value="<%= @dialog.active_period ? @dialog.active_period.id : "0" %>">
<input type="hidden" id="active_period_name" value="<%= @dialog.active_period ? @dialog.active_period.name : "" %>">
<input type="hidden" name="in_dialog_id" id="in_dialog_id" value="<%= @dialog_id %>">
<input type="hidden" name="geo_level" id="geo_level" value="1">
<input type="hidden" name="group_level" id="group_level" value="1">
<input type="hidden" name="batch_level" id="batch_level" value="<%= (@batch_level || 1).to_i %>">
<input type="hidden" name="batch_size" id="batch_size" value="<%= (@batch_size || 4).to_i %>">
<input type="hidden" id="from" name="from" value="geoslider">	
<input type="hidden" id="in_group_id" name="in_group_id" value="<%= session[:group_id].to_i %>">	

<div id="newforumitem" class="newforumitem" style="display:none"></div>


<script>
var geo_levels = {1: 'city', 2: 'metro', 3: 'state', 4: 'nation', 5: 'planet'};
var cur_comtag = '';
var cur_messtag = '';
var cur_geo_level = <%= @geo_level > 0 ? @geo_level : 5 %>;
var cur_group_level = <%= @group_level > 0 ? @group_level : 3 %>;
var cur_batch_level = <%= (@batch_level || 1).to_i %>;
var cur_batch_size = <%= (@batch_size || 4).to_i %>;
var showing_options = '<%= @showing_options %>';
var user_comtags = <%=raw current_participant.tag_list.inspect %>;
var nvaction_on = <%= @nvaction ? 'true' : 'false' %>;
var nvaction_included = false;
$(function() {
  if (false) {
    $( "#geoslider" ).slider({
      orientation: "vertical",
      range: "min",
      min: 1,
      max: 5,
      value: cur_geo_level,
      slide: function( event, ui ) {
        cur_geo_level = ui.value;
        $( "#geo_level" ).val( cur_geo_level );
        per_reload();
      }
    });
    $( "#geo_level" ).val( $( "#geoslider" ).slider( "value" ) );
    $( "#groupslider" ).slider({
      orientation: "vertical",
      range: "min",
      min: 1,
      max: 3,
      value: cur_group_level,
      slide: function( event, ui ) {
        cur_group_level = ui.value;
        $( "#group_level" ).val( cur_group_level );
        per_reload();
      }
    });
    $( "#group_level" ).val( $( "#groupslider" ).slider( "value" ) );
  }
});
var messtag_changed = false;
function per_reload(first,num,whatchanged,page,go_item) {
  console.log('whatchanged:'+whatchanged);
	if (editingid>0) {
	    alert("Please save or cancel the edit that is in progress");
	    return;
	} else if (replyingid>0) {
	    alert("Please save or cancel the reply that is in progress");
	    return;
	} else if (in_new_item>0) {
	    alert("Please save or cancel the new thread that is in progress");
	    return;
	}
  if (first === undefined) {
    first = false;
  } 
  first = first ? 1 : 0;
  if (num === undefined) {
    num = 2;
  }
  if (page === undefined) {
    page = 1;
  }
  if (go_item === undefined) {
    go_item = 0;
  }
  

 	$('#per_main').css('opacity','0.5');
  cur_comtag = $("input[name='comtag_radio']:checked").val();
  
  if (whatchanged=='messtag') {
    cur_messtag = $("input[name='messtag_radio']:checked").val(); 
    if (cur_messtag == '') {
      messtag_changed = false;
    } else {
      messtag_changed = true;
    }  
  }
  
  if (whatchanged=='comtag' && !messtag_changed && $.inArray(cur_comtag, user_comtags) > -1) {
    var xfound = false;
    $("input[name=messtag_radio]").each(function(i) {
      if ($(this).val()==cur_comtag) {
        $(this).prop('checked', true);
        xfound = true;
      }
    });
    if (!xfound) {
      $('#messtag_other').val(cur_comtag);
      $("input[name=messtag_radio][value='*other*']").prop('checked', true);
    }
  }  

  cur_messtag = $("input[name='messtag_radio']:checked").val();
  
  if (cur_messtag == '*other*') {
    cur_messtag = $('#messtag_other').val();
  }
  if (cur_messtag == '') {
    $("input[name=messtag_radio][value='']").prop('checked', true);
  }
  cur_geo_level = $("input[name='geo_level_radio']:checked").val();
  cur_group_level = $("input[name='group_level_radio']:checked").val();
  
  var indigenous = $('#indigenous').is(':checked') ? 1 : 0;
  var other_minority = $('#other_minority').is(':checked') ? 1 : 0;
  var veteran = $('#veteran').is(':checked') ? 1 : 0;
  var interfaith = $('#interfaith').is(':checked') ? 1 : 0;
  var refugee = $('#refugee').is(':checked') ? 1 : 0;
  
  var showratings = <%= params[:showratings].to_i == 1 ? 1 : 0 %>;
  var showfollow = <%= params[:showfollow].to_i == 1 ? 1 : 0 %>;
  
  var show_result = $('input[name=show_result]:checked').val();
  //checkbox
  //var meta_3 = $("input[name='meta_3[]']:checked").map(function(){
  //  return $(this).val();
  //}).get();
  var meta_3 = $("input[name='meta_3']:checked").val()
  var meta_5 = $("input[name='meta_5']:checked").val()
  var dialog_id = $('#dialog_id').val();
  var period_id = $('#period_id').val();
  //var comtag = $('#comtag').val()
  var comtag = cur_comtag;
  var messtag = cur_messtag;
  if (first) {
    var threads = $('#threads').val();
    var sortby = $('#sortby').val();    
    var datetype = $('#datetype').val(); 
    var datefixed = $('#datefixed').val();   
    var datefrom = $('#datefrom').val();    
  } else {
    var threads = $('#threads'+num).val();
    var sortby = $('#sortby'+num).val();
    var datetype = $('#datetype').val(); 
    var sel = $("input[type='radio'][name='datetype"+num+"']:checked");
    if (sel.length > 0) {
        datetype = sel.val();
    }
    var datefixed = $('#datefixed'+num).val();
    var datefrom = $('#datefrom'+num).val();
    var othernum = (num==2) ? 1 : 2;
    $('#threads'+othernum).val(threads);
    $('#sortby'+othernum).val(sortby);
    $('#datetype'+othernum).val(datetype);
    $('#datefixed'+othernum).val(datefixed);
    $('#datefrom'+othernum).val(datefrom);
    $('#threads').val(threads);
    $('#sortby').val(sortby);
    $('#datetype').val(datetype);
    $('#datefixed').val(datefixed);
    $('#datefrom').val(datefrom);
  }
  var nvaction = nvaction_on ? 1 : 0
  var active_period_id = $('#active_period_id').val();
  $('#newthreadbutton').prop('disabled', false);
  //if (period_id==active_period_id) {
  //  $('#newthreadbutton').prop('disabled', false);    
  //} else {
  //  $('#newthreadbutton').prop('disabled', true);   
  //}
  var data = {page: page, geo_level: cur_geo_level, indigenous: indigenous, other_minority: other_minority, veteran: veteran, interfaith: interfaith, refugee: refugee, batch_level: cur_batch_level, batch_size: cur_batch_size, dialog_id: dialog_id, period_id: period_id, meta_3: meta_3, meta_5: meta_5, show_result: show_result, threads: threads, sortby: sortby, first: first, showing_options: showing_options, datetype: datetype, datefixed: datefixed, datefrom: datefrom, comtag: comtag, messtag: messtag, showratings: showratings, showfollow: showfollow, nvaction: nvaction, nvaction_included: (nvaction_included ? 1 : 0)}
  
  //var tag;
  //$('.com_check').each(function(i) {
  //  if ($(this).val()=='1') {
  //    tag = $(this).data('tag');
  //    data['check['+tag+']'] = 1
  //  }
  //});
  
  if (whatchanged !== undefined) {
    data['whatchanged'] = whatchanged;
  }
	$.ajax({
    type: 'GET',
	  url: '/items/geoslider_update',
    //group_level: cur_group_level, 
	  data: data,
	  complete: function(t){ 
    $('#per_main').css('opacity','1.0');
	  $('#per_main').html(t.responseText);
    $('#maincontent').height( $('#per_main').height()+95 );
		if (go_item>0) {
			location.href = "#"+go_item;
		} else {
      	$(window).scrollTop(0);
		}
	  }
	});	
}
per_reload(true);
function chg_options() {
  if (showing_options=='more') {
    $('#options_top').hide();
    showing_options = 'less';
    $('#options_button').val("Options");
  } else {
    $('#options_top').show();
    showing_options = 'more';
    $('#options_button').val("Hide Options");
  }
}
function chg_nvaction_include() {
  if (nvaction_included) {
    nvaction_included = false;
    $('#nvaction_include_button').val("Include NV Action items");
  } else {
    nvaction_included = true;
    $('#nvaction_include_button').val("Exclude NV Action items");
  }
  per_reload();
}
function gotopage(page) {
	per_reload(false,1,'page',page)
}
function joinleave(comtag) {
  var which = $('#comtagjoin').prop('value');
  var data = {
    'comtag': comtag,
    'which': which,
  };
	$.ajax({
    type: 'GET',
	  url: '/me/comtag',
	  data: data,
	  complete: function(t){ 
      if (which=='join') {
        $('#comtagjoin').prop('value','leave');
      } else {
        $('#comtagjoin').prop('value','join');
      }
      window.location.href = '?comtag='+comtag;
	  }
	});
}
function actionclick() {
  if (nvaction_on) {
    nvaction_on = false;
    $('#actionbutton').attr('src','/images/nvaction.jpg');
    $('#top_forum_header').html('Forum');
    $('#top_result_header').html('Highest Rated Messages');
    $('#nvaction_include_button').show();
  } else {
    nvaction_on = true;
    $('#actionbutton').attr('src','/images/exitaction.jpg');
    $('#top_forum_header').html('Nonviolent Action Forum');
    $('#top_result_header').html('Highest Rated Nonviolent Action Items');
    $('#nvaction_include_button').hide();
    nvaction_included = false;
  }
  per_reload();
}
</script>