<%= render(:partial => 'dialogs/menu') %>

<div id="slider_container" style="overflow:none;width:740px;min-height:600px">

  <div style="float:left;width:595px;min-height:600px">

    <div id="per_main" style="width:595px;min-height:600px">
  
      loading...
  
    </div>
  
    <div style="text-align: center">
      <% if @show_result == 0 -%>
      		<p>Sort:
    			<% sortarr = [['Date','items.id desc'],['Value','*value*'],['Approval','*approval*'],['Interest','*interest*'],['Controversy','*controversy*']] %>
    			<%= select_tag "sortby", options_for_select(sortarr,@sortby), :onchange=>"per_reload()" %></p>
      <% end -%>
      
  		<p>Threads: 
        <%= select_tag "threads", options_for_select([['None',''],['Root+Replies','flat'],['Root only','root'],['Tree View','tree']],@threads), :onchange=>"per_reload()" %>
  		</p>
    
  		<% if @dialog.periods.length > 0 -%>
  		<p>Decision Period:
  		<%= select_tag "period_id", options_for_select([['All messages',0]]+@dialog.periods.collect{|c| ["#{c.period_number.to_i>0 ? "##{c.period_number} " : ""}#{c.name}",c.id]},@period_id), :onchange=>"per_reload()" %>
  		</p>
  		<% else -%>
  		<%= hidden_field_tag :period_id, 0 %>	
  		<% end -%>
    </div>
    
  
  </div>

  <div style="float:left;width:139px;padding-left:5px;">
  
    <p><input type="button" value="Start New Thread" id="newthreadbutton" onclick="newitem('<%= form_authenticity_token %>')"></p>
  
    <div style="height:220px">
  
      <div id="geoslider" style="height:172px;margin:15px 0 0 0;float:left"></div>
  
      <div style="float:left;width:119px;padding:0 0 0 5px;line-height:40px;">
      Planet&nbsp;Earth<br>
      My&nbsp;Nation<br>
      My&nbsp;State/Province<br>
      My&nbsp;Metro&nbsp;region<br>
      My&nbsp;City/Town<br>
      </div>
  
    </div> 

    <div style="height:130px;clear:left">
  
      <div id="groupslider" style="height:88px;margin:17px 0 0 0;float:left"></div>
  
      <div style="float:left;width:105px;padding:0 0 0 5px;line-height:40px;">
      All groups<br>
      My groups<br>
      Current group<br>
      </div>
  
    </div> 

    <div style="margin: 20px 0 0 0;">
      <input type="radio" name="meta_3" id="meta_3_0" value="0" checked onclick="per_reload()">all<br>
      <% for metamap_node in MetamapNode.where(:metamap_id=>3).order(:sortorder) %>
        <% if not metamap_node.sumcat -%>
          <% if false %>
            <input type="checkbox" name="meta_3[]" id="meta_3_<%= metamap_node.id %>" value="<%= metamap_node.id %>" checked onclick="per_reload()"><%= metamap_node.name %><br>
          <% else %>
            <input type="radio" name="meta_3" id="meta_3_<%= metamap_node.id %>" value="<%= metamap_node.id %>" onclick="per_reload()"><%= metamap_node.name %><br>
          <% end -%>
        <% end %>
      <% end %>
    </div>

    <div style="margin: 20px 0 0 0;">
      <input type="radio" name="meta_5" id="meta_5_0" value="0" checked onclick="per_reload()">all<br>
      <% for metamap_node in MetamapNode.where(:metamap_id=>5).order(:sortorder) %>
        <% if not metamap_node.sumcat -%>
          <input type="radio" name="meta_5" id="meta_5_<%= metamap_node.id %>" value="<%= metamap_node.id %>" onclick="per_reload()"><%= metamap_node.name %><br>
        <% end %>
      <% end %>
    </div>
  
    <div style="margin: 20px 0 0 0;">
      <input type="checkbox" id="indigenous" value="1" onclick="per_reload()">Indigenous<br>
      <input type="checkbox" id="other_minority" value="1" onclick="per_reload()">Other Minority<br>
      <input type="checkbox" id="veteran" value="1" onclick="per_reload()">Veteran<br>
      <input type="checkbox" id="interfaith" value="1" onclick="per_reload()">Interfaith<br>
    </div>

    <div style="display:none;margin: 20px 0 0 0;">
      <input type="radio" name="show_result" value="0" <%= @show_result.to_i == 0 ? "checked" : "" %> onclick="per_reload()">Listing<br>
      <input type="radio" name="show_result" value="1" <%= @show_result.to_i == 1 ? "checked" : "" %> onclick="per_reload()">Results
    </div>
  
  </div>

</div>

<input type="hidden" name="dialog_id" id="dialog_id" value="<%= @dialog_id %>">

<input type="hidden" name="geo_level" id="geo_level" value="1">
<input type="hidden" name="group_level" id="group_level" value="1">
<input type="hidden" name="batch_level" id="batch_level" value="1">
<input type="hidden" name="batch_size" id="batch_size" value="4">
<input type="hidden" id="from" name="from" value="geoslider">	
<input type="hidden" id="in_group_id" name="in_group_id" value="<%= session[:group_id].to_i %>">	

<div id="newforumitem" class="newforumitem" style="display:none"></div>


<script>
var geo_levels = {1: 'city', 2: 'metro', 3: 'state', 4: 'nation', 5: 'planet'};
var cur_geo_level = 1;
var cur_group_level = 1;
var cur_batch_level = 1;
var cur_batch_size = 4;
$(function() {
  $( "#geoslider" ).slider({
    orientation: "vertical",
    range: "min",
    min: 1,
    max: 5,
    value: cur_geo_level,
    slide: function( event, ui ) {
      cur_geo_level = ui.value;
      $( "#geo_level" ).val( cur_geo_level );
      per_reload();
    }
  });
  $( "#geo_level" ).val( $( "#geoslider" ).slider( "value" ) );
  $( "#groupslider" ).slider({
    orientation: "vertical",
    range: "min",
    min: 1,
    max: 3,
    value: cur_group_level,
    slide: function( event, ui ) {
      cur_group_level = ui.value;
      $( "#group_level" ).val( cur_group_level );
      per_reload();
    }
  });
  $( "#group_level" ).val( $( "#groupslider" ).slider( "value" ) );
});
function per_reload() {  
 	$('#per_main').css('opacity','0.5');
  var indigenous = $('#indigenous').is(':checked') ? 1 : 0;
  var other_minority = $('#other_minority').is(':checked') ? 1 : 0;
  var show_result = $('input[name=show_result]:checked').val();
  //checkbox
  //var meta_3 = $("input[name='meta_3[]']:checked").map(function(){
  //  return $(this).val();
  //}).get();
  var meta_3 = $("input[name='meta_3']:checked").val()
  var meta_5 = $("input[name='meta_5']:checked").val()
  var dialog_id = $('#dialog_id').val();
  var period_id = $('#period_id').val();
  var threads = $('#threads').val();
  var sortby = $('#sortby').val();
	$.ajax({
    type: 'GET',
	  url: '/items/geoslider_update',
	  data: {geo_level: cur_geo_level, group_level: cur_group_level, indigenous: indigenous, other_minority: other_minority, batch_level: cur_batch_level, batch_size: cur_batch_size, dialog_id: dialog_id, period_id: period_id, meta_3: meta_3, meta_5: meta_5, show_result: show_result, threads: threads, sortby: sortby},
	  complete: function(t){ 
      $('#per_main').css('opacity','1.0');
	    $('#per_main').html(t.responseText);
	  }
	});	
}
per_reload();
</script>