<%= render(:partial => 'dialogs/menu')%>

<% if @dialog.logo.exists? then -%>
<p><%= image_tag @dialog.logo.url %></p>
<% else %>
<p>[no logo]</p>
<% end -%>

<% if false -%>
<p><b>Name:</b> <%= @dialog.name %></p>

<p><b>Prefix:</b> <%= @dialog.shortname %></p>

<p><b>Description:</b> 
<% end -%>

<div>
<%=raw @dialog.description %>
</div>

<% if false -%>
<p><b>Created:</b> <%= @dialog.created_at.strftime("%m/%d/%Y") %></p>

<p><b>Owner:</b> <%= @dialog.creator.name if @dialog.creator %></p>

<p><b>Visibility:</b> <%= @dialog.visibility %></p>

<p><b>Openness:</b> <%= @dialog.openness %></p>

<p><b>Multigroup?</b> <%= @dialog.multigroup ? 'yes' : 'no' %></p>

<p><b>Max Characters:</b> <%= @dialog.max_characters %></p>

<p><b>Voting by Metamap:</b> <%= @dialog.metamap_vote_own %></p>

<p><b>Metamaps:</b><br/>
<% @dialog.metamaps.each do |metamap_id,metamap_name| -%>
<%= metamap_id %>:<%= metamap_name %><br/>
<% end -%>
<% end -%>

<p><b>Current Decision Period:</b> <%= @current_period ? @current_period.name : "none" %></p>

<p><b>Participating Groups:</b>
<% if @dialog.active_groups.length == 0 -%>
	none
<% else -%>
	<% for group in @dialog.active_groups -%>
		<br><a href="/groups/<%= group.id %>/forum"><%= group.name %></a>
	<% end -%>
<% end -%>	
<p>	


</p>