<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
	
<div>
<%=raw @message %>
</div>

<hr/>


This is a message sent to a group you're a member of. 
<% if false -%>
<a href="<%= "http://unday.#{ROOTDOMAIN}/autologin?code=#{@cdata['recipient'].confirmation_token}" %>">Log in</a>
<% end -%>
<a href="https://<%= BASEDOMAIN %>/groups/<%= @cdata['group'].id.to_i %>/forum?auth_token=<%= @cdata['recipient'].authentication_token %>">Log in to the group.</a>
<% if false -%>
You can also see it in your <a href="http://<%= BASEDOMAIN %>/messages?auth_token=<%= @cdata['recipient'].authentication_token %>">Message Area</a>
<% end -%>
<a href="http://<%= BASEDOMAIN %>/optout?auth_token=<%= @cdata['recipient'].authentication_token %>">Unsubscribe</a>

<img src="https://<%= BASEDOMAIN %>/pixel/<%= @cdata['message'].id.to_i if @cdata['message'] %>.gif" width="0" height="0" border="0" style="display:none" alt="pixel">

<p style="text-align:right"><a href="https://<%= BASEDOMAIN %>/groups/<%= @cdata['group'].id.to_i %>/view?auth_token=<%= @cdata['recipient'].authentication_token %>">
<% if @cdata['group'] and @cdata['group'].logo.exists? then -%>
<img src="https://<%= BASEDOMAIN %>/<%= @cdata['group'].logo.url %>">
<% else -%>	
<img src="https://<%= BASEDOMAIN %>/images/logo.gif"/>
<% end -%>
</a></p>

</body>
</html>
