<script>
if (CKEDITOR.instances['item_html_content']) { 
	CKEDITOR.remove(CKEDITOR.instances['item_html_content']);
}
</script>
<form accept-charset="UTF-8" action="/items/<%= @item.id %>" class="formtastic item" id="edit_item_<%= @item.id %>" method="post" enctype="multipart/form-data">
<div style="margin:0;padding:0;display:inline">
	<input name="utf8" type="hidden" value="&#x2713;" />
	<input name="_method" type="hidden" value="<%= @item.id.to_i > 0 ? 'put' : 'post' %>" />
	<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
	<%= hidden_field :item, :reply_to %>
	<%= hidden_field :item, :group_id %>
	<%= hidden_field :item, :dialog_id %>
	<%= hidden_field :item, :period_id %>
	<%= hidden_field :item, :conversation_id %>
	<%= hidden_field :item, :topic %>
	<%= hidden_field :item, :representing_com %>
	<%= hidden_field_tag :comtag, @comtag %>
	<%= hidden_field_tag :js_message_length, 0 %>
</div>

<% if @item.reply_to.to_i > 0 -%>
<h3>Add Comment</h3>
<% end -%>

<% if flash[:notice].to_s !="" -%>
<p style="color: green"><%=raw flash[:notice] %></p>
<% end -%>
<% if flash[:alert].to_s !="" -%>
<p style="color:#f00;text-align:center;font-weight:bold;font-size:16px;border:1px solid #f00;padding:10px;margin: 5px 0 10px 0;"><%=raw flash[:alert] %></p>
<% end -%>

<fieldset class="inputs"><ol>
        <li class="hidden optional" id="item_media_type_input"><input id="item_media_type" name="item[media_type]" type="hidden" value="<%= @item.media_type.to_s!='' ? @item.media_type : 'text' %>" /></li>

    <% if @item.media_type == 'question' -%>
      <%= hidden_field :item, :media_type %>
    <% else -%>
  		<li><label>Media</label>
  		<% xarr = ['text','picture','video','audio','link'] -%>
  		<% xarr = ['text','question','video','audio'] -%>
  		<% x = 0 -%>
  		<% for xi in xarr -%>
  			<span id="<%= "media_#{xi}" %>"><%= link_to_function xi, "mediachange('#{xi}')" %></span>
  			<%= " | " if x < xarr.length - 1 -%>
  			<% x += 1 -%>
  		<% end -%>
  		</li>	
    <% end -%>

		<li class="string optional" id="item_subject_input"><label for="item_subject"><% if @item.media_type=='question' %>Question<% else %>Subject<% end %></label><input id="item_subject" maxlength="255" name="item[subject]" size="50" type="text" value="<%= @item.subject %>" /></li>


		<li id="uploadli" style="<%= @item.media_type!='picture' ? 'display:none' : '' %>">
			<div id="mediatitle1" style="width:25%;float:left"><b>Include your picture</b></div>
			<div style="width:75%;float:left">
				<%= select_tag :photo_id, options_for_select([['',0]]+Photo.where(:participant_id=>current_participant.id).collect{|p| ["#{p.filename} (#{p.width}x#{p.height})",p.id]}) %> <img src="/images/question-mark.png" class="tooltip" id="photo_id_q" width="16" height="16" title="To include a picture from your computer you must first go to your profile, click the “photos” link there and upload the image." alt="questionmark">
			</div>						
    </li>
    <% if @item.media_type != 'question' -%>
  		<li>
  			<div style="width:75%;float:left"><b><span id="mediatitle2"><%= 
  			if @item.media_type == 'link'
  				"Link URL"
  			elsif @item.media_type =='audio'
  				"Audio URL"
  			elsif @item.media_type =='video'
  				"Video URL"
  			elsif @item.media_type == 'picture'
  				"or grab from URL"
  			elsif @item.reply_to.to_i>0
  				"Reply"
  			else
  				"Message" 
  			end
  			%></span>
			
  			<% plain_content = strip_tags(@item.html_content.to_s) %>
  			<% if @item.media_type != "text" -%>
  			<% elsif @max_words.to_i > 0 and @max_characters.to_i > 0 #and @item.reply_to.to_i == 0 -%>
  			(<span id="item_long_words"><%= plain_content.scan(/(\w|-)+/).size %></span> of <%= @max_words.to_i %> words,
  			<span id="item_long_length"><%= @item.html_content ? @item.html_content.length : 0 %></span> of <%= @max_characters.to_i %> char)
			
  			<% elsif @max_words.to_i > 0 and @item.reply_to.to_i == 0 -%>
  			(<span id="item_long_words"><%= plain_content.scan(/(\w|-)+/).size %></span> of <%= @max_words.to_i %> words)
						
  			<% elsif @max_characters.to_i > 0 and @item.reply_to.to_i == 0 -%>
  			(<span id="item_long_length"><%= @item.html_content ? @item.html_content.length : 0 %></span> of <%= @max_characters.to_i %> char)
			
  			<% elsif not @item.reply_to or @item.reply_to.to_i==0 -%>
  			(<span id="item_long_words"><%= plain_content.scan(/(\w|-)+/).size %></span> words, <span id="item_long_length"><%= plain_content.length %></span> char)
  			<% end -%>
			
  			</b></div>
  			<div style="width:75%;float:left;clear:left;">
  				<div id="textdiv" style="<%= @item.media_type!='text' ? 'display:none' : '' %>">
  				<% "ckeditor_textarea( :item, :html_content, :ajax => true, :width=>'97%', :height=>'250', :toolbar=>'Basic' )" %> 
  				<%= cktext_area(:item, :html_content, :ckeditor => {:ajax => true, :width=>(@item.reply_to.to_i>0 ? 500 : 516), :height=>'250', :toolbar=>'Custom'}) %>
  				</div>
  				<div id="linkdiv" style="<%= @item.media_type=='text' ? 'display:none' : '' %>">
  				<input id="item_link" maxlength="255" name="item[link]" value="<%= @item.link %>" size="50" type="text" /> 
  				</div>
  			</div>
  		</li>
    <% end -%>
    
    <li>
  	<div style="width:70%;float:left">
      <% if @item.media_type != 'question' -%>
  	    <input type="button" value="Cancel" onclick="canceledit(<%= @item.id.to_i %>)" />
  	    <input type="button" value="Save" onclick="for (instance in CKEDITOR.instances){CKEDITOR.instances[instance].updateElement();};saveitem()" />
      <% end -%>
	 
  	  <% intra_options = [['Public','public']] %>
  	  <% def_intra = @item.intra_com ? @item.intra_com : 'public' %>		  
      <% if (@item.reply_to.to_i>0 and @olditem and @olditem.intra_com.to_s!='' and @olditem.intra_com.to_s!='public') -%>
  	    <% intra_options << ["Only #{@olditem.intra_com}","#{@olditem.intra_com}"]  %>
        <% def_intra = "#{@olditem.intra_com}" %>
      <% elsif (@comtag.to_s != '' and @comtag != 'my' and @comtag != '@my' and @comtag != '*my*' and (!@conversation) and @is_com_member) -%>
  	    <% intra_options << ["Only @#{@comtag}","@#{@comtag}"]  %>
      <% end -%>
  	  <% if intra_options.length > 1 -%>
    	  <select name="item[intra_com]" id="item_intra_com">
    	  <%= options_for_select(intra_options,def_intra) %>
    	  </select>
  	  <% end -%>      
      
      <% if @item.representing_com.to_s != '' -%>
        <input type="hidden" name="item[representing_com]" id="item_representing_com" value="<%= @item.representing_com %>">
      <% end -%>
      
      <% if (@item.reply_to.to_i>0) -%>
    	  <br><br>Email this comment to: <select name="item[comment_email_to]" id="item_comment_email_to">
        <% com_options = [["Public","public"]] %>
        <% com_options << ["This community only", "community"] if @comtag.to_s != '' %>
        <% com_options << ["Message author only","author"] %>
    	  <%= options_for_select(com_options, 'author') %>
    	  </select>       
      <% end -%>
            
  	</div>
  	<div style="width:30%;float:left;text-align:right">
  	  <% if @is_moderator -%>
       <input type="checkbox" id="item_censored" name="item[censored]" value="1"<%= " checked" if @item.censored %>> censored&nbsp;&nbsp;
  	    <% if @item.id.to_i > 0 && Item.where("reply_to=#{@item.id}").count == 0 -%>
  	      <input type="button" value="Delete" onclick="deleteitem()" />
  	    <% end -%>  
  	  <% end -%>
  	</div>
    </li>

    <li class="text optional" id="item_short_content_input"><label for="item_short_content" style="width: 500px"><% if @item.media_type == 'question' %>Optional Explanation<% else %>Short summary / twitter version<% end %> (<span id="charsused">0</span> of 240 char)</label><textarea cols="50" id="item_short_content" name="item[short_content]" onkeyup="update_characters()" rows="5" style="width: <%= @item.reply_to.to_i>0 ? 500 : 516 %>px;height: 80px;font-size:15px" disabled="disabled"><%= @item.short_content %></textarea></li>

    <% if @item.media_type == 'question' -%>
      <li>
  	    <input type="button" value="Cancel" onclick="canceledit(<%= @item.id.to_i %>)" />
  	    <input type="button" value="Save" onclick="saveitem()" />
      </li>
    <% end -%>


</ol></fieldset>

 
	
	<p style="clear:left"><a href="https://intermix.org/ccattribution4point0.htm" alt="Click to read the Creative Commons License which governs all items posted here." title="Click to read the Creative Commons License which governs all items posted here." target="_blank"><%= image_tag("/images/ccattribution4point0.png",:style=>"margin:8px 0 6px 0;", alt: "creative commons logo") %></a></p>

	<% if flash[:alert].to_s != "" -%>
	<input type="hidden" id="saveresult" name="saveresult" value="error">
	<% end -%>

</form>


<script>
console.log('_edit');
//console.log('before editor replace')
//editor = CKEDITOR.replace( 'item_html_content', {toolbar: 'Custom'} )
//console.log('after editor replace')

//$(document).ready(function() {
<% if @item.media_type != 'question' -%>
	if (!CKEDITOR.instances) {
		alert('CKEDITOR: ' + JSON.stringify(CKEDITOR));
	} else if (!('item_html_content' in CKEDITOR.instances)) {
		alert('CKEDITOR.instances: ' + JSON.stringify(CKEDITOR.instances));
		//var xinstance = CKEDITOR.replace($('#item_html_content'));
		var xinstance = CKEDITOR.replace($('#item_html_content'), {"language":"en","ajax":true,"width":"97%","height":"250","toolbar":"Basic"}); 
		alert('CKEDITOR instance: ' + JSON.stringify(xinstance));
		CKEDITOR.instances['item_html_content'].on('instanceReady', function() {
			this.document.on("keyup", editor_change);
		});
	} else {
		CKEDITOR.instances['item_html_content'].on('instanceReady', function() {
			this.document.on("keyup", editor_change);
      CKEDITOR.instances['item_html_content'].focus();
		});
	}
<% end -%>  
//});
var short_updated = <%= (@item.id.to_i > 0 or flash[:alert].to_s !="" or @item.media_type != 'text') ? "true" : "false" %>;
var short_allowed = false;
var editor_change_first = true;
function editor_change() {
	var htmlval = CKEDITOR.instances['item_html_content'].getData();
	var plainval = $.trim(strip(htmlval));
	if (!short_updated) {
		html_to_short(htmlval,plainval);
	}
	mess_characters(htmlval,plainval);
  if (!short_allowed && !editor_change_first && plainval != '') {
    $('#item_short_content').prop("disabled", false );
    short_allowed = true;
  }
  editor_change_first = false;
}
var cur_media_type = $('#item_media_type').val();
mediachange(cur_media_type);
<% if @item.media_type != 'question' -%>
editor_change();
<% else -%>
$('#item_short_content').prop("disabled", false );
short_allowed = true;
<% end -%>
if ('#photo_id_q') {
	$('#photo_id_q').tooltipster({
		trigger: 'hover'
	});	
}
if (replyingid==0) {
  $(window).scrollTop(0);
}
</script>
