<% if @is_first and @conversation and @topic.to_s != '' and @conversation.default_topic.to_s != '' and @topic == @conversation.default_topic and @items_length == 0%>
  <% url = "/dialogs/#{VOH_DISCUSSION_ID}/slider?conv=#{@conversation.shortname}&topic=*" %>
  <% url += "&comtag=#{@comtag}" if @comtag != '' %>
  <script>window.location.href = <%= url %></script>
<% end %>
<h3><%=raw @title %>
<% if @conversation %>
  <br>My Perspective: <%= @perspective %>
  <% if @community_list and @community_list.length > 1 -%>
    &nbsp;&nbsp;
    <%= select_tag "chg_com", options_for_select([['Change Perspective','']]+@community_list), :onchange => 'chg_community()' %>
  <% end -%>
  <% if @topic.to_s != '' -%>
    <br>Topic: <%= @topic_title || @topic.capitalize %>
  <% end -%>
<% end -%>  
</h3>

<% show_part = (@num_all_posts.to_i>0 ? (1.0 * @items_length / @num_all_posts) : 0) %>

<div style="height:20px;width:590px;background-color:#ccc"><div style="height:20px;width:<%= (show_part * 590).to_i %>px;background-color:#66f;">&nbsp;</div></div>

<p><%= @items_length %> item<%= 's' if @items_length != 1 %></p>

<div style="border:1px solid #000;padding:0px 0 0 0;margin-bottom:20px;display:<%= @showing_options=='more' ? 'block' : 'none' %>" id="options_top">
  <%= render partial: 'items/geoslider_options', locals: {num: 1} %>
</div>

<% x = 0 %>
<% odd_or_even = 0 %>
<% for item in @items -%>
	<% odd_or_even = 1-odd_or_even%>
  <%
  censor_ok = false
  for tag in item.tag_list
    if session[:moderated_communities].include? tag
      community = Community.find_by_tagname(tag)
      community_admins = community.admins_and_moderators.collect{|r| r.id }
      if current_participant.sysadmin or community_admins.include? current_participant.id
        censor_ok = true
      end
    end
  end
  %>
  <% if not item.censored or censor_ok -%>
  	<div class="forumitem forumitemplain forummain forum<%= odd_or_even %>" id="item_<%= item.id %>">
  		<%= render :partial => "items/item", :locals => { :item => item, :itemproc=>@itemsproc[item.id], :is_reply => false, :odd_or_even => odd_or_even, :from=>@from.to_s, :top=>0, :exp_item_id=>@exp_item_id.to_i, censor_ok: censor_ok } %>
  		<% if @threads == '' and @sortby != 'default' -%>
  			<% @replies = Item.where("is_first_in_thread=0 and first_in_thread=#{item.id}").order("id") -%>
  			<% for reply in @itemsproc[item.id]['replies'] -%>
  				<% odd_or_even = 1-odd_or_even%>
          <%
          censor_ok = false
          for tag in reply.tag_list
            if session[:moderated_communities].include? tag
              community = Community.find_by_tagname(tag)
              community_admins = community.admins_and_moderators.collect{|r| r.id }
              if current_participant.sysadmin or community_admins.include? current_participant.id
                censor_ok = true
              end
            end
          end
          %>
  				<div class="forumitem forumitemplain forumreply forum<%= odd_or_even %>" id="item_<%= reply.id %>">
  					<%= render :partial => "items/item", :locals => { :item => reply, :itemproc=>@itemsproc[item.id], :is_reply => true, :odd_or_even => odd_or_even, :from=>@from.to_s, :top=>item.id, :exp_item_id=>@exp_item_id.to_i, censor_ok: censor_ok } %>
  				</div>
  			<% end -%>
      <% end -%>	
  	</div><!--forumitem-->
    <% x += 1 %>
    <% if false %>
    <% break if x >= @showmax %>
    <% end %>
  <% end -%>
<% end -%>

<% if params[:showratings].to_i == 1 and @extras and @extras.has_key?('regression') -%>
<div>
Regression: <%=raw @extras['regression'] -%><br>
</div>
<% end -%>

<div style="border:1px solid #000;padding:0px 0 0 0;margin-bottom:20px">
  <%= render partial: 'items/geoslider_options', locals: {num: 2} %>
</div>

<% if false and @batches.length > 0 -%>
<% step = (560 / (@batches.length-1))-15 %>
<div id="batchslider" style="margin:0 0 5px 0"></div>
<div style="width:595px;margin: 0 0 30px 0">
  <div style="float:left;width:auto;"><%= @batches[0] %></div>
  <% for x in (1..(@batches.length-1)).to_a do %>
  <div style="float:left;width:<%= step %>px">&nbsp;</div><div style="float:left;width:auto;"><%= @batches[x] %></div>
  <% end -%>
</div>
<div style="clear:both"></div>
<% end -%>

<%= "#{(@items.current_page-1)*@items.per_page+1}-#{[@items.total_entries,@items.current_page*@items.per_page].min} of #{@items.total_entries} items" if @items.respond_to?('total_entries') and @items.total_entries.to_i>1 %>
&nbsp;&nbsp;&nbsp;
<%= raw %(<a href="javascript:gotopage(1)">&lt;&lt;</a>) if @items.respond_to?('total_pages') and @items.total_pages.to_i>1 and @items.respond_to?('current_page') and @items.current_page>1 %>
<%= raw %(<a href="javascript:gotopage(#{@items.previous_page})">&lt;</a>) if @items.respond_to?('previous_page') and @items.previous_page %>
<%= raw "page #{@items.current_page} of #{@items.total_pages}" if @items.respond_to?('total_pages') and @items.total_pages.to_i>1 %>
<%= raw %(<a href="javascript:gotopage(#{@items.next_page})">&gt;</a>) if @items.respond_to?('next_page') and @items.next_page %>
<%= raw %(<a href="javascript:gotopage(#{@items.total_pages})">&gt;&gt;</a>) if @items.respond_to?('total_pages') and @items.total_pages.to_i>1 and @items.current_page<@items.total_pages %>

<script>
$("#is_first").val('0');
$("#geo_level").val(<%= @geo_level %>);
$("#group_level").val(<%= @group_level %>);
<% if false -%>
$("#geoslider").slider("option", "value", <%= @geo_level %>);
$("#groupslider").slider("option", "value", <%= @group_level %>);
<% end -%>
var batch_sizes = [<%= @batches.join(',') %>];
$('#batch_size').val(<%= @showmax %>);
cur_batch_level = <%= @batch_level %>;
$( "#batchslider" ).slider({
  orientation: "horizontal",
  range: "min",
  min: 1,
  max: <%= @numbatches.to_i %>,
  value: cur_batch_level,
  slide: function( event, ui ) {
    cur_batch_level = ui.value;
    $( "#batch_level" ).val( cur_batch_level );
    cur_batch_size = batch_sizes[cur_batch_level-1];
    $( "#batch_size" ).val( cur_batch_size );
    per_reload();
  }
});
$( "#batch_level" ).val( $( "#batchslider" ).slider( "value" ) );
var showing_period_id = <%= @period ? @period.id : 0 %>;
if ($('#period_id').length && $('#period_id').val()!=showing_period_id) {
  $('#period_id').val(showing_period_id);
}
$('.thumbupdown').hover(function(){thumbhover(this,'in')},function(){thumbhover(this,'out')});
var page = <%= @items.current_page.to_i %>;
var show_result = <%= @show_result ? 1 : 0 %>;
<% if @conversation -%>
  var about_link =  "/conversations/<%= @conversation.id %>";
<% else -%>
  var about_link =  '<%= ( @community and @comtag.to_s!='' and @comtag!='*my*' ) ? "/communities/#{@community.id}" : "/dialogs/#{VOH_DISCUSSION_ID}/view" %>';
<% end -%>
$('#about_a').attr('href',about_link);
<% if @conversation -%>
  <% txt = @conversation.name %>
  <% if @datetype == 'fixed' and @together_apart != '' %>
    <% txt += " - #{@together_apart}" %>
  <% end %>
  $('#top_forum_header').html("<%= txt %>");
<% end -%>
</script>