<%= @show_extra if @show_extra != '' %>
<% if @error_message.to_s != '' -%>
<p><%= @error_message %></p>
<% end -%>

<input type="hidden" id="items_length" value="<%= @items.length %>">

<% if !@items or !@items.class==Array or @items.length==0 -%>

	<% if @from.to_s == 'wall' -%>
		<p>This person hasn't posted anything yet</p>
	<% elsif @can_post -%>
		<p>There are currently no messages to see. How about adding some?</p>
	<% else -%>
		<p>There are currently no messages to see.</p>
	<% end -%>	

<% else -%>

	<%= "#{(@items.current_page-1)*@items.per_page+1}-#{[@items.total_entries,@items.current_page*@items.per_page].min} of #{@items.total_entries} items" if @items.respond_to?('total_entries') and @items.total_entries.to_i>1 %>
	&nbsp;&nbsp;&nbsp;
	<%= raw %(<a href="javascript:gotopage(1)">&lt;&lt;</a>) if @items.respond_to?('total_pages') and @items.total_pages.to_i>1 and @items.respond_to?('current_page') and @items.current_page>1 %>
	<%= raw %(<a href="javascript:gotopage(#{@items.previous_page})">&lt;</a>) if @items.respond_to?('previous_page') and @items.previous_page %>
	<%= raw "page #{@items.current_page} of #{@items.total_pages}" if @items.respond_to?('total_pages') and @items.total_pages.to_i>1 %>
	<%= raw %(<a href="javascript:gotopage(#{@items.next_page})">&gt;</a>) if @items.respond_to?('next_page') and @items.next_page %>
	<%= raw %(<a href="javascript:gotopage(#{@items.total_pages})">&gt;&gt;</a>) if @items.respond_to?('total_pages') and @items.total_pages.to_i>1 and @items.current_page<@items.total_pages %>

	<% odd_or_even = 0 %>

	<% if @threads == 'tree' -%>
	
		<ul id="browser" class="filetree">
		<% level = 0 -%>
		<%= render(:partial => 'items/branch', :locals => {:items=>@items, :level=>level, :odd_or_even => odd_or_even, :from=>@from.to_s}) %>
		</ul>
			
	<% else -%>
		<% for item in @items -%>
			<% odd_or_even = 1-odd_or_even%>
			<div class="forumitem forumitemplain forummain forum<%= odd_or_even %>" id="item_<%= item.id %>">
				<%= render :partial => "items/item", :locals => { :item => item, :itemproc=>@itemsproc[item.id], :is_reply => false, :odd_or_even => odd_or_even, :from=>@from.to_s, :top=>0, :exp_item_id=>@exp_item_id.to_i } %>
				<% if @threads == 'flat' and @sortby != 'default' -%>
					<% @replies = Item.where("is_first_in_thread=0 and first_in_thread=#{item.id}").order("id") -%>
					<% for reply in @itemsproc[item.id]['replies'] -%>
						<% odd_or_even = 1-odd_or_even%>
						<div class="forumitem forumitemplain forumreply forum<%= odd_or_even %>" id="item_<%= reply.id %>">
							<%= render :partial => "items/item", :locals => { :item => reply, :itemproc=>@itemsproc[reply.id], :is_reply => true, :odd_or_even => odd_or_even, :from=>@from.to_s, :top=>item.id, :exp_item_id=>@exp_item_id.to_i } %>
						</div>
					<% end -%>
		    <% end -%>	
			</div><!--forumitem-->
		<% end -%>
	<% end -%>	
	
	<%= "#{(@items.current_page-1)*@items.per_page+1}-#{[@items.total_entries,@items.current_page*@items.per_page].min} of #{@items.total_entries} items" if @items.respond_to?('total_entries') and @items.total_entries.to_i>1 %>
	&nbsp;&nbsp;&nbsp;
	<%= raw %(<a href="javascript:gotopage(1)">&lt;&lt;</a>) if @items.respond_to?('total_pages') and @items.total_pages.to_i>1 and @items.respond_to?('current_page') and @items.current_page>1 %>
	<%= raw %(<a href="javascript:gotopage(#{@items.previous_page})">&lt;</a>) if @items.respond_to?('previous_page') and @items.previous_page %>
	<%= raw "page #{@items.current_page} of #{@items.total_pages}" if @items.respond_to?('total_pages') and @items.total_pages.to_i>1 %>
	<%= raw %(<a href="javascript:gotopage(#{@items.next_page})">&gt;</a>) if @items.respond_to?('next_page') and @items.next_page %>
	<%= raw %(<a href="javascript:gotopage(#{@items.total_pages})">&gt;&gt;</a>) if @items.respond_to?('total_pages') and @items.total_pages.to_i>1 and @items.current_page<@items.total_pages %>
	
<% end -%>


<% if @threads == 'tree' -%>
<script>
$("#browser").treeview();
</script>
<% end -%>

