<% @data.each do |name,info| -%>
  <h3><%= info[:name ]%></h3>
  
  <% if @period_id.to_i > 0 and @dialog.previous_period and @period_id == @dialog.previous_period.id -%>
  <p>These results are for the previous period, which ended on <%= @dialog.previous_period.strftime("%Y-%m-%d") %>.</p>
  <% elsif @period_id.to_i > 0 and @dialog.active_period and @period_id == @dialog.active_period.id -%>
  <p>This Decision Period is still open. These results are preliminary and subject to change.</p>
  <% elsif @period_id.to_i > 0 %>
  <p>These results are for the period which ended on <%= @period.strftime("%Y-%m-%d") %></p>
  <% end -%>

  <% if info[:item] -%>
    <div class="forumitem forumitemplain forummain forum1">
      <%= render :partial => "items/item_simple", :locals => { :item => info[:item], :itemproc=>info[:iproc], :from=>'result' } %>
        <div>
        [<a href="/dialogs/<%= @dialog_id %>/forum?<%=raw @period_id > 0 ? "period_id=#{@period_id}&amp;" : "" %>sortby=*value*&amp;threads=root&amp;from=result">see all in the forum list</a>]
      </div>
		</div>
  <% else -%>
    <p>[no winner]</p>
  <% end -%>

<% end -%>