<p>These results are for the period "<%= @period.name %>"</p>


<% @data.each do |name,info| -%>
  <h3><%= info[:name ]%></h3>
  
  <% if info[:item] -%>
    <div class="forumitem forumitemplain forummain forum1">
      <%= render :partial => "items/item_simple", :locals => { :item => info[:item], :itemproc=>info[:iproc], :from=>'result' } %>
        <div>
        [<a href="/dialogs/<%= @dialog_id %>/forum?<%=raw @period_id > 0 ? "period_id=#{@period_id}&amp;" : "" %>sortby=*value*&amp;threads=root&amp;from=result">see all in the forum list</a>]
      </div>
		</div>
  <% else -%>
    <p>[no winner]</p>
  <% end -%>

<% end -%>