<%= hidden_field_tag "from", "individual" %>
<div class="forumitem forummain" id="item_<%= @item.id %>">
<%= render :partial => "item", :locals => { :item => @item, :is_reply => false, :odd_or_even=>0, :from=>'individual', :top=>@item.id, :showlong=>true } %>
</div>

<ul>
<% if @item.num_in_thread > 1 -%>
<li><a href="/items/<%= @item.id %>/thread">Whole thread</a></li>
<% end -%>
<% if @item.dialog_id.to_i > 0 -%>
<li><a href="/dialogs/<%= @item.dialog_id %>/forum">Discussion</a></li>
<% end -%>
<% if @item.group_id.to_i > 0 -%>
<li><a href="/groups/<%= @item.group_id %>/forum">Group Forum</a></li>
<% end -%>
</ul>

<p><a href="http://intermix.org/ccattribution3point0.htm" target="_blank"><%= image_tag("ccattribution3point0.png",:style=>"margin:18px 0 0 0;") %></a></p>