<div id="itemlist">

		<% odd_or_even = 1 %>
		<div class="forumitem forumitemplain forummain forum<%= odd_or_even %>" id="item_<%= @first_item.id %>">
			<%= render :partial => "items/item", :locals => { :item => @first_item, :itemproc =>@itemsproc[@first_item.id], :is_reply => false, :odd_or_even => odd_or_even, :from=>@from.to_s, :top=>0, :showlong=>true, :exp_item_id=>@exp_item_id } %>
		
			<% for reply in @replies -%>
				<% odd_or_even = 1-odd_or_even%>
				<div class="forumitem forumitemplain forumreply forum<%= odd_or_even %>" id="item_<%= reply.id %>">
					<%= render :partial => "items/item", :locals => { :item => reply, :itemproc =>@itemsproc[reply.id], :is_reply => true, :odd_or_even => odd_or_even, :from=>@from.to_s, :top=>@first_item.id, :exp_item_id=>@exp_item_id } %>
				</div>
			<% end -%>
		</div><!--forumitem-->

</div>

<input type="hidden" id="from" name="from" value="<%= @from %>">

<% if false -%>
<ul>
<% if @item.dialog_id.to_i > 0 -%>
<li><a href="/dialogs/<%= @item.dialog_id %>/slider">Discussion</a></li>
<% end -%>
<% if @item.group_id.to_i > 0 -%>
<li><a href="/groups/<%= @item.group_id %>/forum">Group Forum</a></li>
<% end -%>
</ul>
<% end -%>

<script>
$('.thumbupdown').hover(function(){thumbhover(this,'in')},function(){thumbhover(this,'out')});
<% if params.has_key?(:add_comment) -%>
reply(<%= @first_item.id %>,false);
<% end -%>
</script>