<% if @sub_id.to_i > 0 and @sub and @subtag.to_s != "" -%>
<p class="linkmenu">
<a class="menu<%= ' selected' if @csection=='info' %>" href="/communities/<%= @sub.id %>">info</a>
 | <a class="menu<%= ' selected' if @csection=='members' %>" href="/communities/<%= @sub.id %>/members">members</a>
 | <a class="menu<%= ' selected' if @csection=='forum' %>" href="/dialogs/<%= VOH_DISCUSSION_ID %>/slider?comtag=<%= @subtag %>">go to forum</a>
</p>

<% elsif not @community.new_record? -%>
<p class="linkmenu">
<a class="menu<%= ' selected' if @csection=='info' %>" href="/communities/<%= @community.id %>">info</a>
 | <a class="menu<%= ' selected' if @csection=='members' %>" href="/communities/<%= @community.id %>/members">members</a>
 | 
 <% if @community.go_to_conversation(current_participant) != '' -%>
  <a class="menu<%= ' selected' if @csection=='forum' %>" href="/dialogs/<%= VOH_DISCUSSION_ID %>/slider?conv=<%= @community.go_to_conversation(current_participant) %>&comtag=<%= @comtag %>">go to forum</a>
 <% else -%>
  <a class="menu<%= ' selected' if @csection=='forum' %>" href="/dialogs/<%= VOH_DISCUSSION_ID %>/slider?comtag=<%= @comtag %>">go to forum</a>
 <% end -%>
<% if @is_admin -%>
 | <a class="menu<%= ' selected' if @csection=='invite' %>" href="/communities/<%= @community.id %>/invite">invite</a>
 | <a class="menu<%= ' selected' if @csection=='edit' %>" href="/communities/<%= @community.id %>/edit">edit</a>
<% end -%>
</p>
<% end -%>
