<%= render(:partial => 'topmenu')%>
<%= render(:partial => 'infomenu')%>

<h3>Edit Community Info</h3>

<%= semantic_form_for( @community, :html => { :multipart => true } ) do |f| %>

	<%= f.inputs do %>
		<%= f.input :fullname, :as => :string %>
		<%= f.input :description, :as => :text, :input_html => {:rows => 2} %>

		<%= f.input :logo, :as=>:file %>	

	<% end %>

	<p>
	  <input type="button" value="Cancel" onclick="window.location='/communities/<%= @community.id %>/'" />
	  <input type="submit" value="Save" />
	</p>

<% end %>

<h3><br>Moderators</h3>

<div id="modbox">
<%= render(partial: 'adminsedit')%>
</div>

<p><a href="javascript:add_admin()">Add</a>: <%= select_tag :new_admin, options_from_collection_for_select(@participants, "id", "name") %> | <a href="javascript:del_admin()">Delete marked</a></p>

<script>
var curid1 = <%= @community.id %>;
function list2() {
    $('#modbox').css('opacity','0.5');
	showworking();
	$.ajax({
     type: "GET",
     url: "/communities/" + curid1 + "/admins",
     complete: function(t){	
       $("#modbox").html(t.responseText);
       hideworking();
       $('#modbox').css('opacity','1.0');
     }
   });	
}
function add_admin() {
	var id = $('#new_admin').val();
    $('#modbox').css('opacity','0.5');
	$.ajax({
    type: 'POST',
    url: "/communities/" + curid1 + "/admin_add",
    data: "participant_id="+id,
    complete: function(t){	
      $("#modbox").html(t.responseText);
      $('#modbox').css('opacity','1.0');
     }
   });		
}
function del_admin() {
    var pars = "communities_id="+curid1;
	var marks = $('input.admmark');
    var xcount = 0;
  for (var x=0;x<marks.length;x++) {
    var mark = marks[x];
    if (mark.checked) {
      var participant_id = mark.value;
      pars += "&participant_ids[]=" + participant_id;
      xcount++;
    }
  }
  if (xcount==0) {
    alert("You didn't select any moderators");
    return;
  } else if (xcount>0) {
    if (!confirm("Delete "+xcount+" moderators?")) {
      return;
    }
  }
  $('#modbox').css('opacity','0.5');
  pars += "&authenticity_token=<%= form_authenticity_token %>";
	$.ajax({
    type: 'DELETE',
    url: "/communities/" + curid1 + "/admin_del",
    data: pars,
    complete: function(t){	
      $("#modbox").html(t.responseText);
      $('#modbox').css('opacity','1.0');
     }
   });	
}

var allmarked = false;
function markall() {
	var marks = $('input.cammark');
	for (var x=0;x<marks.length;x++) {
		var mark = marks[x];
		if (allmarked) {
			mark.checked = false;
		} else {
			mark.checked = true;
		}	
	}
	if (allmarked) {
		allmarked = false;
	} else {
		allmarked = true;
	}
}
</script>