<%= render(:partial => 'topmenu')%>

<% if current_participant.tag_list.length == 0 %>
<p style="clear:both;color:darkred">You're not a member of any community</p>
<% end %>

<p style="clear:both"><input type="button" value="Add community" onclick="addcom()"></p>

<table style="width:595px">
<tr><th>Forum</th><th>Activity</th><th>More Information</th><th>&nbsp;</th></tr>	
<% for com in @communities -%>
  <% if com.active or (@csection == 'my' and com.is_admin(current_participant)) -%>
    <tr>
      <% if com.go_to_conversation(current_participant) != '' -%>
    	  <td><a href="/dialogs/<%= VOH_DISCUSSION_ID %>/slider?conv=<%= com.go_to_conversation(current_participant) %>&comtag=<%= com.tagname %>">@<%= com.tagname %></a></td>
      <% else -%>
    	  <td><a href="/dialogs/<%= VOH_DISCUSSION_ID %>/slider?comtag=<%= com.tagname %>">@<%= com.tagname %></a></td>
      <% end -%>  
    	<td><%= com.activity %></td>
    	<td><a href="/communities/<%= com.id %>"><%= com.fullname.to_s != '' ?  com.fullname : com.tagname %></a></td>
    	<td>
        <%
        prof_nation = false
        if com.context=='nation'
          geocountry = Geocountry.find_by_iso3(com.context_code)
          if geocountry and (geocountry.iso == current_participant.country_code or geocountry.iso == current_participant.country_code2)
            prof_nation = true
          end
        end
        %>
        <% if prof_nation -%>
          in&nbsp;profile
        <% else -%>
          <a href="#" onclick="joinleave('<%= com.tagname %>',<%= com.id %>);return(false)" id="comtagjoin_<%= com.id %>"><%= current_participant.tag_list.include?(com.tagname) ? "leave" : "join" %></a>
        <% end -%>
      </td>
    </tr>
  <% end -%>
<% end -%>
</table>

<p>Sort: 
<select name="sort" id="sortselect">
<% {'activity'=>'Activity', 'tag'=>'Forum'}.each do |val,txt| -%>    
<option value="<%= val %>"<%= ' selected' if val == @sort %>><%= txt %></option>    
<% end -%>
</select>
</p>

<script>
function addcom() {
  window.location.href = "/communities/new";
}
function joinleave(comtag,id) {
  var which = $('#comtagjoin_'+id).html();
  var data = {
    'comtag': comtag,
    'which': which,
  };
	$.ajax({
    type: 'GET',
	  url: '/me/comtag',
	  data: data,
	  complete: function(t){ 
      if (which=='join') {
		$('#comtagjoin_'+id).html('leave')
      } else {
		  $('#comtagjoin_'+id).html('join')
      }
      }
	});
}	
$('#sortselect').on('change', function() {
  var xsort = $('#sortselect').val();
  window.location.href = "?sort=" + xsort;
})
</script>	
	