<%= render(:partial => 'topmenu')%>

<% if current_participant.tag_list.length == 0 %>
<p style="clear:both;color:darkred">You're not a member of any community</p>
<% end %>

<%
	preligions = current_participant.participant_religions.collect{|r| r.religion_id}
%>

<% if current_participant.status != 'visitor' -%>
<p style="clear:both"><input type="button" value="Add community" onclick="addcom()"></p>
<% end -%>

<table style="width:595px">
<tr><th>Forum</th><th>Activity</th><th>More Information</th><th>&nbsp;</th></tr>	
<% if @csection == INT_CONVERSATION_CODE or @csection == 'nations' -%>
  <% for com in @prof_nations -%>
      <tr>
        <% if com.go_to_conversation(current_participant) != '' -%>
      	  <td><a href="/dialogs/<%= VOH_DISCUSSION_ID %>/slider?conv=<%= INT_CONVERSATION_CODE %>&comtag=<%= com.tagname %>">@<%= com.tagname %></a></td>
        <% else -%>
      	  <td><a href="/dialogs/<%= VOH_DISCUSSION_ID %>/slider?comtag=<%= com.tagname %>">@<%= com.tagname %></a></td>
        <% end -%>  
      	<td><%= com.activity %></td>
      	<td><a href="/communities/<%= com.id %>"><%= com.fullname.to_s != '' ?  com.fullname : com.tagname %></a></td>
      	<td>in&nbsp;profile</td>
      </tr>
  <% end -%>
  <tr><td>&nbsp;</td></tr>
<% elsif @csection == CITY_CONVERSATION_CODE or @csection == 'cities' -%>
  <% for com in @prof_cities -%>
      <tr>
        <% if com.go_to_conversation(current_participant) != '' -%>
      	  <td><a href="/dialogs/<%= VOH_DISCUSSION_ID %>/slider?conv=<%= CITY_CONVERSATION_CODE %>&comtag=<%= com.tagname %>">@<%= com.tagname %></a></td>
        <% else -%>
      	  <td><a href="/dialogs/<%= VOH_DISCUSSION_ID %>/slider?comtag=<%= com.tagname %>">@<%= com.tagname %></a></td>
        <% end -%>  
      	<td><%= com.activity %></td>
      	<td><a href="/communities/<%= com.id %>"><%= com.fullname.to_s != '' ?  com.fullname : com.tagname %></a></td>
      	<td>in&nbsp;profile</td>
      </tr>
  <% end -%>
  <tr><td>&nbsp;</td></tr>  
<% elsif @csection == RELIGIONS_CONVERSATION_CODE or @csection == 'religions' -%>
  <% for com in @prof_religions -%>
      <tr>
        <% if com.go_to_conversation(current_participant) != '' -%>
      	  <td><a href="/dialogs/<%= VOH_DISCUSSION_ID %>/slider?conv=<%= RELIGIONS_CONVERSATION_CODE %>&comtag=<%= com.tagname %>">@<%= com.tagname %></a></td>
        <% else -%>
      	  <td><a href="/dialogs/<%= VOH_DISCUSSION_ID %>/slider?comtag=<%= com.tagname %>">@<%= com.tagname %></a></td>
        <% end -%>  
      	<td><%= com.activity %></td>
      	<td><a href="/communities/<%= com.id %>"><%= com.fullname.to_s != '' ?  com.fullname : com.tagname %></a></td>
      	<td>in&nbsp;profile</td>
      </tr>
  <% end -%>
  <tr><td>&nbsp;</td></tr>  
<% elsif @csection == GENDER_CONVERSATION_CODE or @csection == 'genders' -%>
  <% for com in @prof_genders -%>
      <tr>
        <% if com.go_to_conversation(current_participant) != '' -%>
      	  <td><a href="/dialogs/<%= VOH_DISCUSSION_ID %>/slider?conv=<%= com.go_to_conversation(current_participant) %>&comtag=<%= com.tagname %>">@<%= com.tagname %></a></td>
        <% else -%>
      	  <td><a href="/dialogs/<%= VOH_DISCUSSION_ID %>/slider?comtag=<%= com.tagname %>">@<%= com.tagname %></a></td>
        <% end -%>  
      	<td><%= com.activity %></td>
      	<td><a href="/communities/<%= com.id %>"><%= com.fullname.to_s != '' ?  com.fullname : com.tagname %></a></td>
      	<td>in&nbsp;profile</td>
      </tr>
  <% end -%>
  <tr><td>&nbsp;</td></tr>  
<% elsif @csection == GENERATION_CONVERSATION_CODE or @csection == 'generations' -%>
  <% for com in @prof_generations -%>
      <tr>
        <% if com.go_to_conversation(current_participant) != '' -%>
      	  <td><a href="/dialogs/<%= VOH_DISCUSSION_ID %>/slider?conv=<%= com.go_to_conversation(current_participant) %>&comtag=<%= com.tagname %>">@<%= com.tagname %></a></td>
        <% else -%>
      	  <td><a href="/dialogs/<%= VOH_DISCUSSION_ID %>/slider?comtag=<%= com.tagname %>">@<%= com.tagname %></a></td>
        <% end -%>  
      	<td><%= com.activity %></td>
      	<td><a href="/communities/<%= com.id %>"><%= com.fullname.to_s != '' ?  com.fullname : com.tagname %></a></td>
      	<td>in&nbsp;profile</td>
      </tr>
  <% end -%>
  <tr><td>&nbsp;</td></tr>  
<% end -%>

<% for com in @communities -%>
  <% if com.active or (@csection == 'my' and com.is_admin(current_participant)) -%>
    <tr>
      <% if com.go_to_conversation(current_participant) != '' -%>
    	  <td><a href="/dialogs/<%= VOH_DISCUSSION_ID %>/slider?conv=<%= com.go_to_conversation(current_participant) %>&comtag=<%= com.tagname %>">@<%= com.tagname %></a></td>
      <% else -%>
    	  <td><a href="/dialogs/<%= VOH_DISCUSSION_ID %>/slider?comtag=<%= com.tagname %>">@<%= com.tagname %></a></td>
      <% end -%>  
    	<td><%= com.activity %></td>
    	<td><a href="/communities/<%= com.id %>"><%= com.fullname.to_s != '' ?  com.fullname : com.tagname %></a></td>
    	<td>
        <%
        prof_nation = false
				prof_city = false
				prof_religion = false
				prof_gender = false
				prof_generation = false
        if com.context=='nation'
          geocountry = Geocountry.find_by_iso3(com.context_code)
          if geocountry and (geocountry.iso == current_participant.country_code or geocountry.iso == current_participant.country_code2)
            prof_nation = true
          end
	      elsif com.context=='city'
	        if current_participant.city_uniq != '' and com.context_code == current_participant.city_uniq
	          prof_city = true
	        end
				elsif com.context=='religion'
					if (com.context == 'religion' and preligions.include? com.context_code.to_i) or (com.context2 == 'religion' and preligions.include? com.context_code2.to_i)
						prof_religion = true
					end
	      elsif com.context=='gender'
	        if current_participant.gender_id == com.context_code.to_i
	          prof_gender = true
	        end
	      elsif com.context=='generation'
	        if current_participant.generation_id == com.context_code.to_i
	          prof_generation = true
	        end
	      end
				
        %>
        <% if prof_nation or prof_city or prof_religion or prof_gender or prof_generation -%>
          in&nbsp;profile
          
        <% elsif com.conversation_id.to_i>0 and com.conversation.twocountry -%>
          <% is_in_com = current_participant.tag_list_downcase.include?(com.tagname.downcase) %>
          <% if com.context == 'nation' -%>
              -
          <% elsif com.id == com.conversation.twocountry_common -%>
              <a href="#" onclick="joinleave('<%= com.tagname %>',<%= com.id %>);return(false)" id="comtagjoin_<%= com.id %>"><%= is_in_com ? "leave" : "join" %></a>
          <% elsif com.context == 'twocountry' -%>
              <% country1 =  Community.find_by_id(com.conversation.twocountry_country1) %>
              <% country2 =  Community.find_by_id(com.conversation.twocountry_country2) %>                      
              <% is_in_country = (current_participant.tag_list_downcase.include?(country1.tagname.downcase) or current_participant.tag_list_downcase.include?(country2.tagname.downcase)) %>
              <% if is_in_country -%>
                  -
              <% else -%>
                  <% is_in_other = false %>
                  <% if com.id == com.conversation.twocountry_supporter1 -%>
                      <% other = Community.find_by_id(com.conversation.twocountry_supporter2) %>
                      <% is_in_other = current_participant.tag_list_downcase.include?(other.tagname.downcase) %>
                  <% elsif com.id == com.conversation.twocountry_supporter2 -%>
                      <% other = Community.find_by_id(com.conversation.twocountry_supporter1) %>
                      <% is_in_other = current_participant.tag_list_downcase.include?(other.tagname.downcase) %>
                  <% end -%>
                  <% if is_in_other -%>
                      -
                  <% else -%>                      
                      <a href="#" onclick="joinleave('<%= com.tagname %>',<%= com.id %>);return(false)" id="comtagjoin_<%= com.id %>"><%= is_in_com ? "leave" : "join" %></a>
                  <% end -%>
              <% end -%>
          <% else -%>
            ?
          <% end -%>          
          
        <% elsif com.context != 'nation' and com.context != 'city' and com.context != 'religion' and com.context != 'gender' and com.context != 'generation' %>  
          <a href="#" onclick="joinleave('<%= com.tagname %>',<%= com.id %>);return(false)" id="comtagjoin_<%= com.id %>"><%= current_participant.tag_list_downcase.include?(com.tagname.downcase) ? "leave" : "join" %></a>          
        <% else -%>
          -
        <% end -%>
      </td>
    </tr>
  <% end -%>
<% end -%>
</table>

<%= will_paginate @communities %>

<p>Sort: 
<select name="sort" id="sortselect">
<% {'activity'=>'Activity', 'tag'=>'Forum'}.each do |val,txt| -%>    
<option value="<%= val %>"<%= ' selected' if val == @sort %>><%= txt %></option>    
<% end -%>
</select>
</p>

<script>
function addcom() {
  window.location.href = "/communities/new";
}
function joinleave(comtag,id) {
  var which = $('#comtagjoin_'+id).html();
  var data = {
    'comtag': comtag,
    'which': which,
  };
	$.ajax({
    type: 'GET',
	  url: '/me/comtag',
	  data: data,
	  complete: function(t){ 
      if (which=='join') {
		    $('#comtagjoin_'+id).html('leave')
      } else {
		    $('#comtagjoin_'+id).html('join')
      }
      location.reload();
    }
	});
}	
$('#sortselect').on('change', function() {
  var xsort = $('#sortselect').val();
  window.location.href = "?sort=" + xsort;
})
</script>	
	