<span style="font-size:20px;color:#000;">Communities</span></a><br>

<ul class="horizmenu">
<li><a class="menu<%= ' selected' if @csection=='my' %>" href="/communities/my">My communities</a></li>
<li><a class="menu<%= ' selected' if @csection=='all' %>" href="/communities/all">All communities</a></li>
</ul>

<table>
<tr><th>Name</th><th>Description</th><th>Members</th><th>Forum</th><th>Info</th><th>Join/Leave</th></tr>	
<% for com in @communities -%>
<tr>
	<td><%= com.tagname %></td>
	<td><%= com.description %></td>
	<td><%= com.member_count %></td>
	<td><a href="/dialogs/<%= VOH_DISCUSSION_ID %>/slider?comtag=<%= com.tagname %>">forum</a></td>
	<td>info</td>
	<td><%= current_participant.tag_list.include?(com.tagname) ? "leave" : "join" %></td>
</tr>	
<% end -%>
</table>