<%= render(:partial => 'topmenu')%>

<table style="width:595px">
<tr><th>Forum</th><th>Activity</th><th>More Information</th><th>&nbsp;</th></tr>	
<% for com in @communities -%>
<tr>
	<td><a href="/dialogs/<%= VOH_DISCUSSION_ID %>/slider?comtag=<%= com.tagname %>">@<%= com.tagname %></a></td>	
	<td><%= com.activity %></td>
	<td><a href="/communities/<%= com.id %>"><%= com.description.to_s != '' ?  com.description : com.tagname %></a></td>
	<td><a href="#" onclick="joinleave('<%= com.tagname %>',<%= com.id %>);return(false)" id="comtagjoin_<%= com.id %>"><%= current_participant.tag_list.include?(com.tagname) ? "leave" : "join" %></a></td>
</tr>	
<% end -%>
</table>

<p>Sort: 
<select name="sort" id="sortselect">
<% {'activity'=>'Activity', 'tag'=>'Forum'}.each do |val,txt| -%>    
<option value="<%= val %>"<%= ' selected' if val == @sort %>><%= txt %></option>    
<% end -%>
</select>
</p>

<script>
	function joinleave(comtag,id) {
	  var which = $('#comtagjoin_'+id).html();
	  var data = {
	    'comtag': comtag,
	    'which': which,
	  };
		$.ajax({
	    type: 'GET',
		  url: '/me/comtag',
		  data: data,
		  complete: function(t){ 
	      if (which=='join') {
			$('#comtagjoin_'+id).html('leave')
	      } else {
			  $('#comtagjoin_'+id).html('join')
	      }
	      }
		});
	}	
    $('#sortselect').on('change', function() {
      var xsort = $('#sortselect').val();
      window.location.href = "?sort=" + xsort;
    })
</script>	
	