<span style="font-size:20px;color:#000;">Communities</span></a><br>

<span style="font-size:16px;color:#000;">** Work on Communities in Progress **</span><br>

<ul class="horizmenu">
<li><a class="menu<%= ' selected' if @csection=='my' %>" href="/communities/my">My communities</a></li>
<li><a class="menu<%= ' selected' if @csection=='all' %>" href="/communities/all">All communities</a></li>
</ul>

<table style="width:595px">
<tr><th><a href="?sort=tag">Forum</a></th><th><a href="?sort=activity">Activity</a></th><th>More Information</th><th>&nbsp;</th></tr>	
<% for com in @communities -%>
<tr>
	<td><a href="/dialogs/<%= VOH_DISCUSSION_ID %>/slider?comtag=<%= com.tagname %>">@<%= com.tagname %></a></td>	
	<td><%= com.activity %></td>
	<td><%= com.description %></td>
	<td><a href="#" onclick="joinleave('<%= com.tagname %>',<%= com.id %>);return(false)" id="comtagjoin_<%= com.id %>"><%= current_participant.tag_list.include?(com.tagname) ? "leave" : "join" %></a></td>
</tr>	
<% end -%>
</table>

<script>
	function joinleave(comtag,id) {
	  var which = $('#comtagjoin_'+id).html();
	  var data = {
	    'comtag': comtag,
	    'which': which,
	  };
		$.ajax({
	    type: 'GET',
		  url: '/me/comtag',
		  data: data,
		  complete: function(t){ 
	      if (which=='join') {
			$('#comtagjoin_'+id).html('leave')
	      } else {
			  $('#comtagjoin_'+id).html('join')
	      }
	      }
		});
	}	
</script>	
	