<%= render(:partial => 'topmenu')%>
<%= render(:partial => 'infomenu')%>

<h3><%=raw @community.fullname %> - Membership List</h3>
<% if @community.is_sub -%>
<p>(subcommunity of <a href="/communities/<%= @parent.id %>"><%= @parent.fullname %></a>)</p>
<% end -%>

<div id="member_container" style="overflow:none;width:740px;min-height:600px">

<div style="float:left;width:595px;min-height:600px">
  <div id="memlist">
  </div>
</div>  

<div style="float:left;width:139px;padding-left:5px;">
    <div style="margin: 20px 0 0 0;">
    <% @geo_levels.each do |geo_level,geo_desc| -%>
      <input type="radio" name="geo_level_radio" value="<%= geo_level %>" <%= geo_level == @geo_level ? "checked" : "" %> onclick="per_reload()"><%=raw geo_desc %><br> 
    <% end -%>
    </div>
    
    <div style="margin: 20px 0 0 0;">
      <input type="radio" name="meta_3" id="meta_3_0" value="0" checked onclick="per_reload()">all<br>
      <% for metamap_node in MetamapNode.where(:metamap_id=>3).order(:sortorder) %>
        <% if not metamap_node.sumcat -%>
          <input type="radio" name="meta_3" id="meta_3_<%= metamap_node.id %>" value="<%= metamap_node.id %>" onclick="per_reload()"><%= metamap_node.name %><br>
        <% end %>
      <% end %>
    </div>

    <div style="margin: 20px 0 0 0;">
      <input type="radio" name="meta_5" id="meta_5_0" value="0" checked onclick="per_reload()">all<br>
      <% for metamap_node in MetamapNode.where(:metamap_id=>5).order(:sortorder) %>
        <% if not metamap_node.sumcat -%>
          <input type="radio" name="meta_5" id="meta_5_<%= metamap_node.id %>" value="<%= metamap_node.id %>" onclick="per_reload()"><%= metamap_node.name %><br>
        <% end %>
      <% end %>
    </div>
    
</div>

</div>

<% if @is_admin -%>
  <div style="clear:both">
  <p><br><a href="#" onclick="add_member();return false">Add existing member</a>: <%= select_tag :new_member, options_from_collection_for_select(@participants, "id", "name") %> </p>
  <% if @is_super -%>
    <form action="/communities/<%= @community.id %>/import_member" method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <p id="new_member">
    Add new member:<br>
    email: <input type="text" name="email" value="<%= @email %>">&nbsp; &nbsp;
    name: <input type="text" name="first_name" value="<%= @first_name %>" title="First name"> <input type="text" name="last_name" value="<%= @last_name %>" title="Last name"><br>
    gender: <select name="gender"><option value="0">* select *</option>
    <% MetamapNode.where(metamap_id: 3).order(:sortorder).each do |rec| %>
    <% xselected = rec.id == @gender.to_i ? ' selected': '' %>
    <option value="<%= rec.id %>"<%= xselected %>><%= rec.name %></option>
    <% end %>
    </select>&nbsp; &nbsp;
    age: <select name="age"><option value="0">* select *</option>
    <% MetamapNode.where(metamap_id: 5).order(:sortorder).each do |rec| %>
    <% xselected = rec.id == @age.to_i ? ' selected': '' %>
    <option value="<%= rec.id %>"<%= xselected %>><%= rec.name %></option>
    <% end %>
    </select><br>
    nation: <select name="nation"><option value="0">* select *</option>
    <% MetamapNode.where(metamap_id: 4).order(:sortorder).each do |rec| %>
    <% xselected = rec.id == @nation.to_i ? ' selected': '' %>
    <option value="<%= rec.id %>"<%= xselected %>><%= rec.name %></option>
    <% end %>
    </select>&nbsp; &nbsp;
    city: <input type="text" name="city" value="<%= @city %>"><br>
    <input type="submit" value="Add">
    </p>
    </form>
  <% end -%>
  </div>
<% end -%>

<script>
var curid1 = <%= @community.id %>;
var geo_levels = {1: 'city', 2: 'metro', 3: 'state', 4: 'nation', 5: 'planet'};
var cur_geo_level = <%= @geo_level > 0 ? @geo_level : 5 %>;
function per_reload() {
  list2();
}
function list2() {
  $('#memlist').css('opacity','0.5');
	showworking();
  cur_geo_level = $("input[name='geo_level_radio']:checked").val();
  var meta_3 = $("input[name='meta_3']:checked").val()
  var meta_5 = $("input[name='meta_5']:checked").val()
  var data = {geo_level: cur_geo_level, meta_3: meta_3, meta_5: meta_5}
	$.ajax({
     type: "GET",
     url: "/communities/" + curid1 + "/memlist",
	   data: data,
     complete: function(t){	
       $("#memlist").html(t.responseText);
       hideworking();
       $('#memlist').css('opacity','1.0');
     }
   });	
}
function add_member() {
	var id = $('#new_member').val();
  $('#memlist').css('opacity','0.5');
	$.ajax({
    type: 'POST',
    url: "/communities/" + curid1 + "/member_add",
    data: "participant_id="+id,
    complete: function(t){	
      $("#memlist").html(t.responseText);
      $('#memlist').css('opacity','1.0');
     }
   });		
}
list2();
</script>