<%= render(:partial => 'infomenu')%>

<p><b>Tag:</b> <%= @community.tagname %></p>

<p><b>Description:</b> <%=raw @community.description %></p>




<table>
<tr><td>New posts this month:</td><td><%= @data['new_posts'] %></td></tr>
<tr><td>Community membership:</td><td><%= @data['num_members'] %></td></tr>
<tr><td>Nations represented:</td><td></td></tr>
<tr><td>States/provinces:</td><td></td></tr>
<tr><td>Metro areas:</td><td></td></tr>
<tr><td>Cities/towns:</td><td></td></tr>
</table>