<%= render(:partial => 'topmenu')%>
<%= render(:partial => 'infomenu')%>

<h3><%=raw @community.fullname %></h3>

<% if not @community.active -%>
<p><b>NOT active/public. Only visible to admin.</b></p>
<% end -%>

<p><b>Short Name:</b> <%= @community.tagname %>&nbsp;&nbsp;
<%
prof_nation = false
if @community.context=='nation'
  geocountry = Geocountry.find_by_iso3(@community.context_code)
  if geocountry and (geocountry.iso == current_participant.country_code or geocountry.iso == current_participant.country_code2)
    prof_nation = true
  end
end
%>
<% if prof_nation -%>
  [in&nbsp;profile]
<% elsif @community.context=='nation' -%>  
<% else -%>
    <button onclick="joinleave('<%= @comtag %>',<%= @community.id %>);return(false)" id="comtagjoin_<%= @community.id %>"><%= current_participant.tag_list.include?(@comtag) ? "leave" : "join" %></button>
<% end -%>
    
    
    

</p>

<% if @community.is_sub -%>
<p>Subcommunity of <a href="/communities/<%= @parent.id %>"><%= @parent.fullname %></a></p>
<% end -%>

<% if @community.logo.exists? then -%>
<p><img src="<%= @community.logo.url %>" style="max-width:600px;max-height:300px" alt="Community logo"></p>

<% else %>
<p>[no logo]</p>
<% end -%>

<% if @community.description.to_s != '' -%>
<p><%=raw @community.description %></p>
<% end -%>

<p><b>Auto-tags:</b> <%= @community.autotags %></p>

<p><b>Sub-communities:</b></p>

<% if @subcommunities.length > 0 -%>
  <table style="width:595px">
  <tr><th>Forum</th><th>Activity</th><th>More Information</th><th>&nbsp;</th></tr>	
  <% for sub in @subcommunities -%>
    <tr>
    	<td><a href="/dialogs/<%= VOH_DISCUSSION_ID %>/slider?comtag=<%= sub.tagname %>">@<%= sub.tagname %></a></td>	
    	<td><%= sub.activity_count %></td>
    	<td><a href="/communities/<%= sub.id %>"><%= sub.fullname.to_s != '' ?  sub.fullname : sub.tagname %></a></td>
    	<td><a href="#" onclick="joinleave('<%= sub.tagname %>',<%= sub.id %>);return(false)" id="comtagjoin_<%= sub.id %>"><%= current_participant.tag_list.include?(sub.tagname) ? "leave" : "join" %></a></td>
    </tr>
  <% end -%>
  </table>
<% end -%>

<p><b>Apart & Together Conversations:</b></p>

<% if @community.conversations and @community.conversations.length > 0 -%>
  <table style="width:595px">
  <tr><th>Forum</th><th>More Information</th></tr>	
  <% for conv in @community.conversations -%>
    <% if conv.active -%>
      <tr>
      	<td><a href="/dialogs/<%= VOH_DISCUSSION_ID %>/slider?conv=<%= conv.shortname %>&comtag=<%= @community.tagname %>"><%= conv.shortname %></a></td>	
      	<td><a href="/conversations/<%= conv.id %>"><%= conv.name.to_s != '' ?  conv.name : conv.shortname %></a></td>
      </tr>
    <% end -%>
  <% end -%>
  </table>
<% end -%>


<p><b>Moderators:</b><br>
<% if @community.moderators.length > 0 -%>
    <% for mod in @community.moderators -%>
    <a href="/participant/<%= mod.id %>/profile"><%= mod.name %></a><br>
    <% end -%>
<% else -%>
    none
<% end -%>
</p>


<table style="width:260px">
<tr><td>New posts in last 30 days:</td><td><%= @data['new_posts'] %></td></tr>
<tr><td>Community membership:</td><td><%= @data['num_members'] %></td></tr>
<tr><td>Nations represented:</td><td><%= @data['nation_count'] %></td></tr>
<tr><td>States/provinces:</td><td><%= @data['state_count'] %></td></tr>
<tr><td>Metro areas:</td><td><%= @data['metro_count'] %></td></tr>
<tr><td>Cities/towns:</td><td><%= @data['city_count'] %></td></tr>
</table>


<script>
	function joinleave(comtag, id) {
	  var which = $('#comtagjoin_'+id).html();
	  var data = {
	    'comtag': comtag,
	    'which': which,
	  };
		$.ajax({
	    type: 'GET',
		  url: '/me/comtag',
		  data: data,
		  complete: function(t){ 
	      if (which=='join') {
			    $('#comtagjoin_'+id).html('leave')
	      } else {
			    $('#comtagjoin_'+id).html('join')
	      }
	    }
	  });
	}	
</script>	