<table class="edittable">
<tr><td class="left">ID:</td><td><%= @metamap.id %></td></tr>	
<tr><td class="left">Name:</td><td><%= @metamap.name %></td></tr>	
<tr><td class="left">Default:</td><td><%= @metamap.global_default ? "yes" : "no" %></td></tr>	
<tr><td class="left">Created:</td><td><%= @metamap.created_at.strftime("%Y-%m-%d %H:%M") %></td></tr>	
<tr><td class="left">Updated:</td><td><%= @metamap.updated_at.strftime("%Y-%m-%d %H:%M") if @metamap.updated_at %></td></tr>	
</table>

<p>
<a href="javascript:editrec1()">Edit</a> | 
<a href="javascript:delrec1()">Delete</a> |&nbsp;&nbsp;&nbsp;
<a href="javascript:list2()">Nodes</a>
</p>

<script>
curid1 = <%= @metamap.id %>;
</script>