<!DOCTYPE html>
<html>
<head>
  <title>Intermix</title>
	<%= stylesheet_link_tag('blueprint/screen', :media => "all") %>
	<%= stylesheet_link_tag('blueprint/print', :media => "print") %>
	<!--[if lt IE 8]>
	<%= stylesheet_link_tag 'blueprint/ie', :media => "screen, projection" %>
	<![endif]-->
  <%= stylesheet_link_tag "main", "formtastic", "formtastic_changes" %>
  <%= javascript_include_tag :defaults %>
	<%= javascript_include_tag :ckeditor %>
  <%= csrf_meta_tag %>
</head>
<body>

<div class="container">
	<div class="span-24 last">
		
		<div id="header">
			<div id="mainheader1">&nbsp;</div>
			<div id="mainheader2"><img height="84" alt="" src="/images/logo.gif" width="290"></div>
			<div id="mainheader3">organize locally * connect globally</div>
			<div id="mainheader4">&nbsp;</div>
		</div>
		
	</div>
	<div class="span-5">
		<div id="leftcolumn">
			
			<ul class="mainmenu">
			<li class="menu"><a class="<%= 'selected' if @section=='home' %>" href="/">Home</a></li>
			<% if participant_signed_in? -%>
			<li class="menu"><a  class="<%= 'selected' if @section=='forum' %>" href="/forum">Forum</a></li>
			<% end -%>
		  <%= render 'devise/menu/login_items' %>
		  <%= render 'devise/menu/registration_items' %>
			<% if participant_signed_in? -%>
			<li class="menu"><a  class="<%= 'selected' if @section=='profile' %>" href="/profile">Profile</a></li>
			<li class="menu"><a  class="<%= 'selected' if @section=='photos' %>" href="/profile/photos">Photos</a></li>
			<% end -%>
			</ul>
			
			<div class="sidebarbox">
		  <% if current_participant %>
		    <p>You're logged in as:<br/><%= current_participant.name %></p>
		  <% end %>
			</div>

		</div>
	</div>
	<div class="span-19 last">
		<div id="maincontent">
			<% if flash[:notice].to_s !="" -%>
			<p style="color: green"><%=raw flash[:notice] %></p>
			<% end -%>
			<% if flash[:alert].to_s !="" -%>
			<p style="color: red"><%=raw flash[:alert] %></p>
			<% end -%>
			<%= yield %>
		</div>
	</div>
</div>



</body>
</html>
