<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <title>Voices of Humanity</title>
	<% if params[:compat].to_i==1 -%>
	<script src="https://ie.microsoft.com/TestDrive/HTML5/CompatInspector/inspector.js"></script>
	<% end -%>
  <%= stylesheet_link_tag    "application", :media => "all" %>
	<% "stylesheet_link_tag 'blueprint/print', :media => 'print'" %>
  <!--[if lt IE 8]>
    <% "stylesheet_link_tag 'blueprint/ie'" %>
  <![endif]-->  
  <%= javascript_include_tag "application" %>
	<script type="text/javascript">
	//var CKEDITOR_BASEPATH = '/javascripts/ckeditor/';
	</script>
  <% javascript_include_tag "/javascripts/ckeditor/ckeditor.js" %>
	<% javascript_include_tag '/javascripts/ckeditor/config' %>
  <link rel="shortcut icon" href="/favicon.ico">
  <%= csrf_meta_tag %>
	<script>
        $(document).ready(function() {
            $('.tooltip').tooltipster({
				trigger: 'hover',
				//content: 'Loading...',
				functionBefore: function(origin,continueTooltip) {
					//alert(xinspect(origin.context));	//The origin element is in origin.context, like the img or a or div
					//alert(origin.context.title);
					continueTooltip();	
					if (origin.context.id.substring(0,5)=='help_') {			
						origin.tooltipster('update', 'Loading...');
						var code = origin.context.id.substring(5,99);
						if (origin.data('ajax') !== 'cached') {
			         $.ajax({
			            type: 'POST',
			            url: '/helptext/'+code,
			            success: function(data) {
			               // update our tooltip content with our returned data and cache it
			               origin.tooltipster('update', data).data('ajax', 'cached');
			            }
			         });
			      }
					} else {
						//alert('not calling ajax');
					}
				}
			});
			$('#overview').click(function() {
			  $('#welcomepopup').modal();
			});
			$('#whereami').tooltipster({
				delay: 0,
				position: 'right'
			});
			$('#whereami').tooltipster('update', $('#youareherediv').html());
        });
        var inval = '<%= @in.to_s != '' ? @in : '' %>';
        var moreless = '<%= @moreless == 'more' ? 'more' : 'less' %>';
        function chgmoreless() {
            var reloadslider = false;
            if (moreless == 'less') {
                moreless = 'more';
                $('#morelesstext').html("Less Options");
                if ($('#nvactiondiv').length>0) {
                    $('#nvactiondiv').show();
                }
                if ($('#communitysidelist').length>0 && inval != 'conversation') {
                    $('#communitysidelist').show();
                }
                if ($('#citybutton').length>0) {
                    $('#citybutton').show();
                }
                if ($('#nationbutton').length>0) {
                    $('#nationbutton').show();
                }
                if ($('#ungoalbutton').length>0) {
                    $('#ungoalbutton').show();      
                }          
                if ($('#religionbutton').length>0) {
                    $('#religionbutton').show();      
                }          
                if ($('#mideastbutton').length>0) {
                    $('#mideastbutton').show();      
                }
                if ($('#genderbutton').length>0) {
                    $('#genderbutton').show();      
                } 	
                if ($('#generationbutton').length>0) {
                    $('#generationbutton').show();      
                } 	
                if ($('#top_posts').length>0) {
                    $('#top_posts').show();      
                }               
                if ($('#my_networks').length>0) {
                    $('#my_networks').show();      
                }				
							} else {
                moreless = 'less';
                $('#morelesstext').html("More Options");
                if ($('#communitysidelist').length) {
                    if ($("input[name='comtag_radio']:checked").val() != '') {
                        $("input[name=comtag_radio][value='']").prop('checked', true);
                        reloadslider = true;
                    }
                }   
                if ($('#actionbutton').length && nvaction_on) {
                    nvaction_on = false;
                    $('#actionbutton').attr('src','/images/nvaction.jpg');
                    $('#top_forum_header').html('Forum');
                    $('#top_result_header').html('Highest Rated Messages');
                    $('#nvaction_include_button').show();
                    reloadslider = true
                }
                if ($('#nvactiondiv').length>0) {
                    $('#nvactiondiv').hide();
                }
                if ($('#communitysidelist').length>0) {
                    $('#communitysidelist').hide();
                }
                if ($('#citybutton').length>0) {
                    $('#citybutton').hide();
                }
                if ($('#nationbutton').length>0) {
                    $('#nationbutton').hide();
                }
                if ($('#ungoalbutton').length>0) {
                    $('#ungoalbutton').hide();      
                }
                if ($('#religionbutton').length>0) {
                    $('#religionbutton').hide();      
                }   
                if ($('#mideastbutton').length>0) {
                    $('#mideastbutton').hide();      
                } 								
                if ($('#genderbutton').length>0) {
                    $('#genderbutton').hide();      
                } 	
                if ($('#generationbutton').length>0) {
                    $('#generationbutton').hide();      
                } 									
                if ($('#top_posts').length>0) {
                    $('#top_posts').hide();      
                }
                if ($('#my_networks').length>0) {
                    $('#my_networks').hide();      
                }													  
                if (reloadslider) {                        
                    per_reload(false,1,'comtag');
                }
            }
            $.ajax({
                type: 'GET',
                url: '/front/updatemoreless?moreless='+moreless
            });
        }
	</script>
<% if @item and controller_name == 'items' -%>
<meta property="og:title" content="Voices of Humanity: <%= @item.subject %>">
<meta property="og:type" content="article">
<meta property="og:image" content="<%= request.protocol %>voh.<%= ROOTDOMAIN %><%= @item.best_image %>">
<meta property="og:url" content="<%= request.protocol %>voh.<%= ROOTDOMAIN %>/items/<%= @item.id %>/view">
<meta property="og:description" content="<%= @item.short_content %>">
<meta property="og:site_name" content="Voices of Humanity">
<meta property="fb:app_id" content="<%= FACEBOOK_APP_ID %>">
<meta itemprop="name" content="Voices of Humanity: <%= @item.subject %>">
<meta itemprop="description" content="<%= @item.short_content %>">
<meta itemprop="image" content="<%= request.protocol %>voh.<%= ROOTDOMAIN %><%= @item.best_image %>">
<meta itemprop="url" content="<%= request.protocol %>voh.<%= ROOTDOMAIN %>/items/<%= @item.id %>/view">
<link rel="canonical" href="<%= request.protocol %>voh.<%= ROOTDOMAIN %>/items/<%= @item.id %>/view">
<% else -%>
<meta property="og:image" content="<%= VOL_LOGO %>">
<meta property="og:site_name" content="Voices of Humanity">
<meta property="fb:app_id" content="<%= FACEBOOK_APP_ID %>">
<meta itemprop="image" content="<%= VOL_LOGO %>">
<% end -%>   
</head>
<body>

<div class="container">
	<div class="span-24 last">
		
		<div id="header">
			<div id="mainheader1">&nbsp;</div>
			<div id="mainheader2"><a href="https://www.intermix.org/vohhelp.htm" target="_blank"><img src="/images/help2.png" style="position:absolute;margin:5px 0 0 860px;width:72px;height:72px;" alt="Help"></a><img height="84" alt="logo" src="/images/logo.gif" width="290"></div>
			<div id="mainheader3">voices of humanity</div>
			<div id="mainheader4">&nbsp;</div>
		</div>
		
	</div>
	<div class="span-5">
		<div id="leftcolumn">
			
			<ul class="mainmenu">
				
			<% if not participant_signed_in? %>
            <% elsif session[:dialog_id].to_i > 0 -%>  
                <% vohdom = Rails.env!='development' ? "//voh.#{ROOTDOMAIN}" : '' %>
			    <li class="menu"><a class="<%= 'selected' if @section=='home' or (@section=='dialogs' and @dialog_id and @dialog_id.to_i==VOH_DISCUSSION_ID.to_i) %>" href="<%= vohdom %>/dialogs/<%= VOH_DISCUSSION_ID %>/slider">Order out of Chaos</a></li>
            <% elsif true -%>
                <% vohdom = Rails.env!='development' ? "//voh.#{ROOTDOMAIN}" : '' %>
                <li class="menu"><a class="<%= 'selected' if @section=='home' %>" href="<%= vohdom %>/dialogs/<%= VOH_DISCUSSION_ID %>/slider">Order out of Chaos</a></li> 		
            <% elsif session[:dialog_id].to_i > 0 -%>
			    <li class="menu"><a class="<%= 'selected' if @section=='home' or (@section=='dialogs' and @dsection.to_s!='index') %>" href="/dialogs/<%= session[:dialog_id] %>/slider">Home</a></li>
			<% elsif session[:group_id].to_i > 0 -%>
			    <li class="menu"><a class="<%= 'selected' if @section=='home' or (@section=='groups' and @gsection.to_s!='index') %>" href="/groups/<%= session[:group_id] %>/forum">Home</a></li>
			<% else %>
			    <li class="menu"><a class="<%= 'selected' if @section=='home' %>" href="/">Home</a></li>
			<% end -%>
								
			<% if participant_signed_in? -%>
            
                <% if current_participant.status != 'visitor' -%>
            	    <li class="menu"><a class="<%= 'selected' if (@section=='profile' or @section=='wall' or @section=='messages' or @section=='people') %>" href="/me/profile">Me &amp; My Friends</a></li>
                <% end -%>
                
				<li class="menu"><a class="<%= 'selected' if @section=='communities' %>" href="/communities">Communities</a></li>
                <% un_conv = Conversation.find_by_id(UNGOALS_CONVERSATION_ID) %>
                <% if un_conv and un_conv.active -%>
                <li id="ungoalbutton" class="menu" style="display: <%= @moreless=='more' ? 'block' : 'none' %>"><a class="<%= 'selected' if @section=='ungoals' %>" href="/dialogs/<%= VOH_DISCUSSION_ID %>/slider?conv=<%= UNGOALS_CONVERSATION_CODE %>">The UN Goals</a></li>
                <% end -%>  								
                <% gender_conv = Conversation.find_by_id(GENDER_CONVERSATION_ID) %>
                <% if gender_conv and gender_conv.active -%>
                <li id="genderbutton" class="menu" style="display: <%= @moreless=='more' ? 'block' : 'none' %>"><a class="<%= 'selected' if @section=='genders' %>" href="/dialogs/<%= VOH_DISCUSSION_ID %>/slider?conv=<%= GENDER_CONVERSATION_CODE %>">The Genders</a></li>
                <% end -%>  								
                <% generation_conv = Conversation.find_by_id(GENERATION_CONVERSATION_ID) %>
                <% if generation_conv and generation_conv.active -%>
                <li id="generationbutton" class="menu" style="display: <%= @moreless=='more' ? 'block' : 'none' %>"><a class="<%= 'selected' if @section=='generations' %>" href="/dialogs/<%= VOH_DISCUSSION_ID %>/slider?conv=<%= GENERATION_CONVERSATION_CODE %>">The Generations</a></li>
                <% end -%>  																              
                <% if Conversation.find_by_id(INT_CONVERSATION_ID).active -%>
                <li id="nationbutton" class="menu" style="display: <%= @moreless=='more' ? 'block' : 'none' %>"><a class="<%= 'selected' if @section=='nations' %>" href="/dialogs/<%= VOH_DISCUSSION_ID %>/slider?conv=<%= INT_CONVERSATION_CODE %>">The Nations</a></li>
                <% end -%>
                <% city_conv = Conversation.find_by_id(CITY_CONVERSATION_ID) %>
                <% if city_conv and city_conv.active -%>
                <li id="citybutton" class="menu" style="display: <%= @moreless=='more' ? 'block' : 'none' %>"><a class="<%= 'selected' if @section=='cities' %>" href="/dialogs/<%= VOH_DISCUSSION_ID %>/slider?conv=<%= CITY_CONVERSATION_CODE %>">The Cities</a></li>
                <% end -%>		
                <% mideast_conv = Conversation.find_by_id(ISRAEL_PALESTINE_CONV_ID) %>
                <% if mideast_conv and mideast_conv.active -%>
                <li id="mideastbutton" class="menu" style="display: <%= @moreless=='more' ? 'block' : 'none' %>"><a class="<%= 'selected' if @section=='mideast' %>" href="/dialogs/<%= VOH_DISCUSSION_ID %>/slider?conv=<%= mideast_conv.shortname %>">MidEast Peace</a></li>
                <% end -%>
                <% rel_conv = Conversation.find_by_id(RELIGIONS_CONVERSATION_ID) %>
                <% if rel_conv and rel_conv.active -%>
                <li id="religionbutton" class="menu" style="display: <%= @moreless=='more' ? 'block' : 'none' %>"><a class="<%= 'selected' if @section=='religions' %>" href="/dialogs/<%= VOH_DISCUSSION_ID %>/slider?conv=<%= RELIGIONS_CONVERSATION_CODE %>">The Religions</a></li>
                <% end -%>
			<% end -%>
			
		    <%= render 'devise/menu/login_items' %>
		    <%= render 'devise/menu/registration_items' %>
            
            <li style="height:4px">&nbsp;</li>
            
            <% if participant_signed_in? -%>
                <li class="menu"><a class="" href="#" onclick="chgmoreless();return false"><span id="morelesstext"><%= @moreless=='more' ? 'Less Options' : 'More Options' %></span></a></li>
            <% end -%>

			</ul>

            <div style="margin-left: 20px">
                <a href="https://kindest.com/372137-voh" target="_blank">
                    <img alt="donate now" src="/images/donate_now.jpg">
                </a>
            </div>
			
                
		    <% if current_participant %>
                <div class="sidebarbox">
		            <p><%= current_participant.name %><br><%= current_participant.email %></p>
			    </div>
            <% end -%>    
			
			<div class="sidebarbox">
			  Send questions and comments to <a href="mailto:questions@intermix.org">questions@intermix.org</a>  
			</div>

		</div>
	</div>
	<div class="span-19 last">
		<div id="maincontent">
			<% if flash[:notice].to_s !="" -%>
			<p style="color: green"><%=raw flash[:notice] %></p>
			<% end -%>
			<% if flash[:alert].to_s !="" -%>
			<p style="color:#f00;text-align:center;font-weight:bold;font-size:16px;border:1px solid #f00;padding:10px;"><%=raw flash[:alert] %></p>
			<% end -%>
			<%= yield %>
		</div>
	</div>
	
    <% if participant_signed_in? and current_participant.status == 'visitor' -%>
        <div class="span-24 last">
            <div style="padding: 10px;text-align: center;border:1px solid #888">
                To participate fully, please <%= link_to('sign out', destroy_participant_session_path, method: :delete) %>, and then join Voices of Humanity.
            </div>
        </div>
    <% end -%>
    
	<div class="span-24 last">
		<div style="margin-bottom:10px;padding:13px 10px;background-color: #d1cec3;text-align:center;font-size:14px;font-weight:bold;">
			<div style="float:right;width:88px;margin-top:-13px;"><a href="http://intermix.org/ccattribution4point0.htm" alt="Click to read the Creative Commons License which governs all items posted here." title="Click to read the Creative Commons License which governs all items posted here." target="_blank">
        <img src="/images/ccattribution4point0.png" style="margin:8px 0 6px 0;" alt="creative commons logo"></a></div>			
			
	<a href="https://voh.intermix.org/helppage/privacy">Control of Posted Material / Privacy</a>
	<% if false and participant_signed_in? -%>
	| <%= link_to_function "Easy Opt Out", 'open("/optout", "", "toolbar=no,menubar=no,location=no,scrollbars=no,resizable=yes,width=500,height=200")' %>
	<% end -%>
	| <a href="/helppage/faq" target="_blank">FAQ</a>
		</div>
	</div>
</div>

<% if false -%>
    <div id="youareherediv" style="display:none">
    <%= render :partial => "front/youarehere" %>	
    </div>	
    <% if participant_signed_in? %>
        <div id="welcomepopup" class="modaldiv">  
        <%= render(:partial => 'dialogs/welcome')%>
        </div>
    <% end -%>
<% end -%>

</body>
</html>
<% if participant_signed_in? %>
<script>
function whereami() {
    $('#whereami').tooptipster();
    $('#whereami').tooltipster('show');
}
</script>
<% end -%>