<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
  <title>Intermix</title>
	<% if params[:compat].to_i==1 -%>
	<script src="http://ie.microsoft.com/TestDrive/HTML5/CompatInspector/inspector.js"></script>
	<% end -%>
  <%= stylesheet_link_tag    "application", :media => "all" %>
	<%= stylesheet_link_tag 'blueprint/print', :media => 'print' %>
  <!--[if lt IE 8]>
    <%= stylesheet_link_tag 'blueprint/ie' %>
  <![endif]-->  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
</head>
<body>

<div class="container">
	<div class="span-24 last">
		
		<div id="header">
			<div id="mainheader1">&nbsp;</div>
			<div id="mainheader2"><img src="/assets/beta.png" style="position:absolute;margin:5px 0 0 860px;width:72px;height:72px;" alt="Beta"><img height="84" alt="logo" src="/assets/logo.gif" width="290"></div>
			<div id="mainheader3">intermix</div>
			<div id="mainheader4">&nbsp;</div>
		</div>
		
	</div>
	<div class="span-5">
		<div id="leftcolumn">
			
			<ul class="mainmenu">
			<li class="menu"><a class="<%= 'selected' if @section=='home' %>" href="/">Home</a></li>
			
			<% if participant_signed_in? -%>
				<% if session[:is_anyadmin] -%>
					<% showingfull = true -%>
				<% else -%>
					<% showingfull = false -%>			
				<% end -%>

				<% if false -%>
				<li class="menu full"><a  class="<%= 'selected' if @section=='forum' %>" href="/forum">Forum</a></li>
				<li class="menu full"><a  class="<%= 'selected' if @section=='photos' %>" href="/photos">Photos</a></li>
				<% end -%>
				
				<li class="menu"><a class="<%= 'selected' if @section=='groups' %>" href="/groups">Groups</a></li>
				<% if not showingfull and session[:dialog_id].to_i > 0 -%>
				<li class="menu"><a class="<%= 'selected' if @section=='dialogs' %>" href="/dialogs/<%= session[:dialog_id] %>/forum">Discussion</a></li>
				<% elsif session[:group_id].to_i > 0 -%>
				<li class="menu<%= ' full' if session[:dialog_id].to_i==0 and session[:group_id].to_i==0 %>"><a class="<%= 'selected' if @section=='dialogs' %>" href="/dialogs">Discussions</a></li>				
				<% else -%>
				<% end -%>
				
				<% if session[:dialog_id].to_i > 0 -%>
				<li class="menu"><a class="<%= 'selected' if @section=='results' %>" href="/voting_results">Decision Results</a></li>
				<% end -%>
					
				<% if false -%>
				<li class="menu full"><a  class="<%= 'selected' if @section=='people' %>" href="/people">People</a></li>
				<% end -%>
				<li class="menu full"><a  class="<%= 'selected' if @section=='friends' %>" href="/me/friends">Friends</a></li>
				<li class="menu full"><a  class="<%= 'selected' if @section=='messages' %>" href="/messages">Messages</a></li>
				<li class="menu full"><a  class="<%= 'selected' if @section=='wall' %>" href="/me/wall">Wall</a></li>			
				
			<% end -%>
			
			<% if participant_signed_in? -%>
				<li class="menu"><a class="<%= 'selected' if @section=='profile' %>" href="/me/profile">Profile</a></li>
			<% end -%>
		  <%= render 'devise/menu/login_items' %>
		  <%= render 'devise/menu/registration_items' %>
			<% if participant_signed_in? and (session[:dialog_id].to_i>0 or session[:group_id].to_i>0) %>
				<li class="moreless" style="display:none">
					<a href="#" onclick="menumoreless();return false" id="morelesslink">
				<% if showingfull -%>
					- less -
				<% else -%>
					- more -
				<% end -%>
					</a>
				</li>
			<% end -%>
			</ul>
			
			<div class="sidebarbox">
		  <% if current_participant %>
		    <p>You're logged in as:<br/><%= current_participant.name %><br><%= current_participant.email %>
					<% if session[:group_id].to_i > 0 -%>	
						<% if session[:group_is_member] -%>
							<%=raw "participating as a member of the group: <b>#{session[:group_name]}</b>" %>
							<%=raw "in the discussion: <b>#{session[:dialog_name]}</b>" if session[:dialog_id].to_i > 0 %>
						<% else -%>
							<%=raw "visiting the group: <b>#{session[:group_name]}</b>" %>
							<%=raw "and the discussion: <b>#{session[:dialog_name]}</b>" if session[:dialog_id].to_i > 0 %>						
						<% end -%>
					<% end -%>
				</p>
		  <% end %>
			</div>
			
			<div class="sidebarbox">Send questions and comments to <a href="mailto:questions@intermix.org">questions@intermix.org</a></div>
			

		</div>
	</div>
	<div class="span-19 last">
		<div id="maincontent">
			<% if flash[:notice].to_s !="" -%>
			<p style="color: green"><%=raw flash[:notice] %></p>
			<% end -%>
			<% if flash[:alert].to_s !="" -%>
			<p style="color: red"><%=raw flash[:alert] %></p>
			<% end -%>
			<%= yield %>
		</div>
	</div>
	
	<div class="span-24 last">
		<div style="margin-bottom:5px;padding:3px 10px;background-color: #d1cec3;text-align:center">
	<a href="/privacy">Privacy/Contact</a>
	<% if false and participant_signed_in? -%>
	| <%= link_to_function "Easy Opt Out", 'open("/optout", "", "toolbar=no,menubar=no,location=no,scrollbars=no,resizable=yes,width=500,height=200")' %>
	<% end -%>
		</div>
	</div>
</div>


</body>
</html>
<% if participant_signed_in? %>
<script>
var showingfull = true;
<% if not showingfull -%>
menumoreless();
<% end -%>
function menumoreless() {
	if (showingfull) {
		$('ul.mainmenu li.full').hide();
		$('#morelesslink').html("- more -")
		showingfull = false;
	} else {
		$('ul.mainmenu li.full').show();
		$('#morelesslink').html("- less -")
		showingfull = true;
	}
	$.ajax({
	  type: 'GET',
	  url: '/front/setsess',
	  data: "fullmenu="+showingfull
	});	
}
</script>
<% end -%>